<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>7ab94f65-d30d-c48b-a3c0-56b388b45f1f</Key>
    <Name>Form download page</Name>
    <Alias>FormDownloadPage</Alias>
    <Icon>icon-autofill</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Introduction page for a form. For new pages, use the 'Task' template instead.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master Key="e0f09067-5ef9-ddf2-0f38-9b6b717dab60">LegacyBase</Master>
    <Compositions>
      <Composition Key="e0f09067-5ef9-ddf2-0f38-9b6b717dab60">LegacyBase</Composition>
    </Compositions>
    <DefaultTemplate>FormDownloadPage</DefaultTemplate>
    <AllowedTemplates>
      <Template>FormDownloadPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <DocumentType Key="8d153f1e-113a-60b8-8603-85dfa901616d">CampaignLanding</DocumentType>
    <DocumentType Key="e81a9ef1-6701-bf2e-a4dd-cfe34ff74e69">Childcare</DocumentType>
    <DocumentType Key="d3bc23bf-ee4d-0bfd-cf3e-1a93844801dd">CouncilOffice</DocumentType>
    <DocumentType Key="71478cc3-1229-5195-c021-e89badeb58ad">CouncilPlanHomePage</DocumentType>
    <DocumentType Key="074301c3-8dc7-57b0-156b-87dcf17316da">DayCentre</DocumentType>
    <DocumentType Key="353c2dfa-1e8b-4c78-9007-e62baddfa628">Form</DocumentType>
    <DocumentType Key="7ab94f65-d30d-c48b-a3c0-56b388b45f1f">FormDownloadPage</DocumentType>
    <DocumentType Key="a908f006-49d7-55ef-9780-251b2088ae01">Guide</DocumentType>
    <DocumentType Key="9e2e3f26-5dfc-e842-ed95-b5fe7008d873">Landing</DocumentType>
    <DocumentType Key="04455375-f05a-901c-5b29-afdc0ee86ca9">landingPageWithPictures</DocumentType>
    <DocumentType Key="12aa1590-3f2c-c980-e904-fd2aa6a007c6">Library</DocumentType>
    <DocumentType Key="069f05c3-5e1f-fb26-dfff-e94e49457db4">location</DocumentType>
    <DocumentType Key="34343f14-7053-41e4-ee32-a2ae3ea17a5e">Map</DocumentType>
    <DocumentType Key="1a3718fc-b452-b425-167b-0ebd64bdcbd3">Park</DocumentType>
    <DocumentType Key="3259124c-2546-3788-07f6-aaf0072acac0">Person</DocumentType>
    <DocumentType Key="9c33c6ee-c46c-9fd5-8f61-d8e9c55525d8">RecyclingSite</DocumentType>
    <DocumentType Key="a8c2af57-1b6d-6672-b3ef-0d98e40565a2">RegistrationOffice</DocumentType>
    <DocumentType Key="a47f9610-bcf3-4ff9-9dc2-8b05e60071af">RightsOfWayDeposits</DocumentType>
    <DocumentType Key="4fad4c6b-d260-1ce5-b5d3-ebbf8f43f5ee">SportLocation</DocumentType>
    <DocumentType Key="41cd814e-6886-c6ac-664f-d86ff02dcdd1">standardDownloadPage</DocumentType>
    <DocumentType Key="f56bd76a-4fd6-55d3-cf3d-f0fba94e2b7a">standardLandingPage</DocumentType>
    <DocumentType Key="fa38c7bb-dea2-01a7-de69-cfe08c26a9f3">standardTopicPage</DocumentType>
    <DocumentType Key="5a89548c-33d1-d549-77b6-778aa1695950">task</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>7aac6895-42d3-7329-666b-a8eae83edd63</Key>
      <Name>Footnote</Name>
      <Alias>phDefFootnote_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>85</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>cc1f4c1a-a273-26a5-d0d0-6ba7dbf8ad07</Key>
      <Name>Guidance notes</Name>
      <Alias>phDefGuidance_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4a77362a-5bd0-1207-c806-2560f70db8fa</Key>
      <Name>Guidance attachment 1</Name>
      <Alias>phDefGuidance1_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose a guidance document in .pdf format]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>561a114d-38e4-50a8-da7e-186c3f6453ae</Key>
      <Name>Guidance attachment 2</Name>
      <Alias>phDefGuidance2_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose a guidance document in .pdf format]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>056ab3c1-5df2-6947-aa2a-0f2a84f52dfb</Key>
      <Name>Guidance attachment 3</Name>
      <Alias>phDefGuidance3_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose a guidance document in .pdf format]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a19a412d-2c67-543b-4340-a01883de7fb9</Key>
      <Name>Guidance attachment 4</Name>
      <Alias>phDefGuidance4_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose a guidance document in .pdf format]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>cedd7e77-1406-611d-8ce4-fc3c6f99cbd1</Key>
      <Name>Guidance attachment 5</Name>
      <Alias>phDefGuidance5_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose a guidance document in .pdf format]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>270f41df-71e3-5dee-6f95-68bfebfc6ad7</Key>
      <Name>Introductory text</Name>
      <Alias>phDefIntro_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6d517305-7da5-8f3a-7aee-5dff024bad63</Key>
      <Name>Print, write and post a PDF</Name>
      <Alias>phDefPdf_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose an Adobe Acrobat file in .pdf format]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>fc0f3408-52c0-ade3-39fd-e4590c2da06d</Key>
      <Name>Related pages</Name>
      <Alias>phDefRelatedPages_Content</Alias>
      <Definition>255b3fe8-4e26-4b36-be0a-55fee03e8f98</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>98</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6fa55d74-e20b-5241-5d64-11ca103573ea</Key>
      <Name>Related websites</Name>
      <Alias>phDefRelatedSites_Content</Alias>
      <Definition>255b3fe8-4e26-4b36-be0a-55fee03e8f98</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>99</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c35bd978-83f9-cace-c3b6-e9e8c3314733</Key>
      <Name>Email an RTF to us</Name>
      <Alias>phDefRtf_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose a Word form saved in .rtf format]]></Description>
      <SortOrder>15</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a996edb3-0b55-44f9-8ca5-dde976b618b4</Key>
      <Name>Type, sign and post an RTF</Name>
      <Alias>phDefRtfSign_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose a Word form saved in .rtf format]]></Description>
      <SortOrder>14</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>acadd36d-1841-dba5-16ed-dc674e404e98</Key>
      <Name>Address of upload page for downloaded forms</Name>
      <Alias>phDefUploadUrl_Content</Alias>
      <Definition>cd695bc5-45a5-4ebc-9e30-c89eb0bb6972</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UrlPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[eg https://www.eastsussex.gov.uk/upload-my-form]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f1603f92-a748-57d4-c7a4-281b2fade960</Key>
      <Name>Address of online form</Name>
      <Alias>phDefXhtmlUrl_Content</Alias>
      <Definition>cd695bc5-45a5-4ebc-9e30-c89eb0bb6972</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UrlPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[eg https://www.eastsussex.gov.uk/my-form]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>12fdaf97-423b-2f60-66f4-d2c63bb0635c</Key>
      <Name>Email an Excel file to us</Name>
      <Alias>phDefXls_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose an Excel file in .xls format]]></Description>
      <SortOrder>16</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>5738e8ab-27ae-baf8-f1d1-b50555a6145c</Key>
      <Name>Print, write and post an Excel file</Name>
      <Alias>phDefXlsPrint_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose an Excel file in .xls format]]></Description>
      <SortOrder>13</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>