/* Remove default gradient background. Replace with white, else the blue background on body will show through. */
.body { background: #fff; }
.article { box-shadow: none;padding-bottom: 18px; }

.breadcrumb, .breadcrumb .level1, .breadcrumb .level2 { font-family: 'Source Sans Pro', sans-serif;font-size: 16px;line-height: 18px; background: none; border: none;color: #000; }
.breadcrumb li { margin-left: 0; }
.breadcrumb li, .breadcrumb .level1 { padding: 0 5px 0 0; }
.breadcrumb li:after { content: ' >'; }
.breadcrumb li.current:after {content: ''; }
.breadcrumb a { margin-right: 5px; }

.content { font-family: 'Source Sans Pro', sans-serif; font-size: 19px; line-height: 27px;}
.content h1 { font-size: 48px;line-height: 54px;font-weight: bold;letter-spacing: -0.03em; margin:0 0 18px;}
.content h2 { font-size: 36px;line-height: 36px;margin: 27px 0 9px;letter-spacing: -0.04em;word-spacing: .1em;}

.content .lead { font-size: 24px;line-height: 27px; }
.content p { margin: 9px 0;}
.content ul { margin-top: 9px;margin-bottom: 9px;}

button { background: #ED5816;color: #fff;border-style: none; border-bottom: 2px solid #993003;padding: 9px; font-family: 'Source Sans Pro', sans-serif;font-size: 19px;line-height: 18px;text-transform: lowercase;font-weight: bold;margin: 36px 0;display: block; }
button::after { content: ' >'}
button:hover { background: #EE4902; }

.latest { background: #ccc;padding: 18px;margin: 18px 0; }
.latest h2 { margin: 0;}
.latest p:last-child { margin-bottom: 0;}

.related-links ul { border-top: 9px solid #003C69;font-family: 'Source Sans Pro', sans-serif; font-size: 16px; line-height: 18px;list-style-type: none;margin: 0;}
.related-links li { margin: 18px 0;}