<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Document type expiry rule - Level" Key="346faf06-a354-4a4f-8639-c0114fefe3c7" Id="Umbraco.Integer" DatabaseType="Integer">
  <PreValues>
    <PreValue SortOrder="1" Alias="min"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="2" Alias="step"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="3" Alias="max"><![CDATA[]]></PreValue>
  </PreValues>
</DataType>