<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Privacy notice - Contractual obligation" Key="20ef798f-0f5b-4f1a-a8ff-fb5719a53db7" Id="tooorangey.EditorNotes" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="panelTitle"><![CDATA[]]></PreValue>
    <PreValue SortOrder="2" Alias="noteCssClass"><![CDATA[]]></PreValue>
    <PreValue SortOrder="3" Alias="editorNotes"><![CDATA[<p><strong>This section will be included in the privacy notice:</strong></p>
<p>Any organisation commissioned by the Council will be under contractual obligation to comply with data protection legislation.</p>]]></PreValue>
    <PreValue SortOrder="4" Alias="hideLabel"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="5" Alias="noteRenderMode"><![CDATA[Html]]></PreValue>
  </PreValues>
</DataType>