@model IList<Escc.EastSussexGovUK.Umbraco.Guide.GuideNavigationLink>
<nav role="navigation" title="All pages in this section">
    <ol class="guide-nav">
        @{
            for (var i = 0; i < Model.Count; i++)
            {
                <li>
                    <span class="step-number">@(i + 1).</span>
                    @if (Model[i].IsCurrentPage)
                    {
                        @Model[i].Text;
                    }
                    else
                    {
                        <a href="@Model[i].Url">@Model[i].Text</a>
                    }
                </li>
            }
        }
    </ol>
</nav>

