@model Escc.EastSussexGovUK.Umbraco.Models.BaseViewModelWithInheritedContent
@if (!String.IsNullOrWhiteSpace(Model.Latest.ToString()))
{

    <div class="latest">
        <section>
            <h2>Latest</h2>
            @Model.Latest
        </section>
    </div>
}


