<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Privacy notice - Sharing" Key="8f464258-6167-41de-8362-d2d323697fd7" Id="tooorangey.EditorNotes" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="panelTitle"><![CDATA[]]></PreValue>
    <PreValue SortOrder="2" Alias="noteCssClass"><![CDATA[]]></PreValue>
    <PreValue SortOrder="3" Alias="editorNotes"><![CDATA[<p><strong>This section will be included in the privacy notice:</strong></p>
<p>Any sharing of personal data is always done:</p>
<ul>
<li>on case-by-case basis</li>
<li>using the minimum personal data necessary</li>
<li>with the appropriate security controls in place</li>
<li>in line with legislation.</li>
</ul>
<p>Information is only shared with those agencies and bodies who have a "need to know" or where you have consented to the sharing of your personal data to such persons.</p>
<p>We may use the information we hold about you to assist in the detection and prevention of crime or fraud. We may also share this information with other bodies that inspect and manage public funds.</p>
<p><strong>Use of third party organisations</strong></p>
<p>East Sussex County Council may share your information with trusted external organisations to process your data on our behalf.</p>]]></PreValue>
    <PreValue SortOrder="4" Alias="hideLabel"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="5" Alias="noteRenderMode"><![CDATA[Html]]></PreValue>
  </PreValues>
</DataType>