<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Section navigation" Key="6c21f4e0-6094-4536-8c1a-21afd7ec31e7" Id="Umbraco.RadioButtonList" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="dd870cfcae5fa76d524491679a57b27d41ffb462"><![CDATA[Bulleted list]]></PreValue>
    <PreValue SortOrder="2" Alias="19ae5aed4ed63f4d1533f184cc360e080a678801"><![CDATA[Numbered list with 'next' and 'previous' buttons]]></PreValue>
  </PreValues>
</DataType>