<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>6ae56ff4-64a6-67b8-316c-d28a178bea33</Key>
    <Name>Campaign content page</Name>
    <Alias>CampaignContent</Alias>
    <Icon>icon-parachute-drop</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A content page for a marketing campaign</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <DefaultTemplate>CampaignContent</DefaultTemplate>
    <AllowedTemplates>
      <Template>CampaignContent</Template>
      <Template>CampaignContentCss</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <DocumentType Key="6ae56ff4-64a6-67b8-316c-d28a178bea33">CampaignContent</DocumentType>
    <DocumentType Key="8d153f1e-113a-60b8-8603-85dfa901616d">CampaignLanding</DocumentType>
    <DocumentType Key="e81a9ef1-6701-bf2e-a4dd-cfe34ff74e69">Childcare</DocumentType>
    <DocumentType Key="d3bc23bf-ee4d-0bfd-cf3e-1a93844801dd">CouncilOffice</DocumentType>
    <DocumentType Key="074301c3-8dc7-57b0-156b-87dcf17316da">DayCentre</DocumentType>
    <DocumentType Key="353c2dfa-1e8b-4c78-9007-e62baddfa628">Form</DocumentType>
    <DocumentType Key="a908f006-49d7-55ef-9780-251b2088ae01">Guide</DocumentType>
    <DocumentType Key="9e2e3f26-5dfc-e842-ed95-b5fe7008d873">Landing</DocumentType>
    <DocumentType Key="12aa1590-3f2c-c980-e904-fd2aa6a007c6">Library</DocumentType>
    <DocumentType Key="069f05c3-5e1f-fb26-dfff-e94e49457db4">location</DocumentType>
    <DocumentType Key="34343f14-7053-41e4-ee32-a2ae3ea17a5e">Map</DocumentType>
    <DocumentType Key="1a3718fc-b452-b425-167b-0ebd64bdcbd3">Park</DocumentType>
    <DocumentType Key="3259124c-2546-3788-07f6-aaf0072acac0">Person</DocumentType>
    <DocumentType Key="9c33c6ee-c46c-9fd5-8f61-d8e9c55525d8">RecyclingSite</DocumentType>
    <DocumentType Key="a8c2af57-1b6d-6672-b3ef-0d98e40565a2">RegistrationOffice</DocumentType>
    <DocumentType Key="a47f9610-bcf3-4ff9-9dc2-8b05e60071af">RightsOfWayDeposits</DocumentType>
    <DocumentType Key="4fad4c6b-d260-1ce5-b5d3-ebbf8f43f5ee">SportLocation</DocumentType>
    <DocumentType Key="41cd814e-6886-c6ac-664f-d86ff02dcdd1">standardDownloadPage</DocumentType>
    <DocumentType Key="f56bd76a-4fd6-55d3-cf3d-f0fba94e2b7a">standardLandingPage</DocumentType>
    <DocumentType Key="fa38c7bb-dea2-01a7-de69-cfe08c26a9f3">standardTopicPage</DocumentType>
    <DocumentType Key="5a89548c-33d1-d549-77b6-778aa1695950">task</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>105f2614-a684-8489-08d9-409e468411dc</Key>
      <Name>Author notes</Name>
      <Alias>authorNotes</Alias>
      <Definition>b89f1310-5400-4e66-8b8e-3949685d4624</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>40225017-62b6-6653-7360-ab87f2b8edd1</Key>
      <Name>Banner image (large screens)</Name>
      <Alias>BannerImageLarge_Design</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Banner image at the top of the page on large screens like laptops. 290px high, and tiles horizontally.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7bae425a-a91e-1322-a514-2cc632ec1b5e</Key>
      <Name>Banner image (small screens)</Name>
      <Alias>BannerImageSmall_Design</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Banner image at the top of the page on small screens such as mobiles and tablets. 75px high, and tiles horizontally up to 802px wide.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>01816701-2cc7-5fb8-b286-c15368dfcbd7</Key>
      <Name>Cache</Name>
      <Alias>cache</Alias>
      <Definition>9fd11d4a-bcb2-4eea-bcd9-d6c26697e4a1</Definition>
      <Type>Umbraco.DropDown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Pages are cached for 24 hours by default.  If this page is particularly time-sensitive, pick shorter time.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>3275bbf7-0d5e-a412-a347-161f0b118450</Key>
      <Name>Central pull quote</Name>
      <Alias>CentralQuote_Content</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Appears within the text on small screens, and the image extends into the right column on larger screens.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>96467aa4-c7b0-06fc-5d19-e96607941bd5</Key>
      <Name>Central pull quote: background colour</Name>
      <Alias>CentralQuoteBackground_Design</Alias>
      <Definition>fb958415-afe7-4daf-86cc-0482790ad916</Definition>
      <Type>Spectrum.Color.Picker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Must contrast with white text.]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a34e735a-6e13-acd7-7444-0a0a5989b972</Key>
      <Name>Central pull quote image</Name>
      <Alias>CentralQuoteImage_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A 310px wide cutout image of the speaker for the central pull quote.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>9c76b458-812a-4bbf-967a-ffec0d670d39</Key>
      <Name>Central pull quote image is a cutout of a person</Name>
      <Alias>CentralQuoteImageIsCutout_Design</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will add a line below the image which shows up if the quote is taller than the image.]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c43afda9-0b4b-4c92-bd8f-bcd95a13f1f8</Key>
      <Name>Central pull quote: text colour</Name>
      <Alias>CentralQuoteTextColour_Design</Alias>
      <Definition>fb958415-afe7-4daf-86cc-0482790ad916</Definition>
      <Type>Spectrum.Color.Picker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The default is white. Text must contrast with its background to meet legal accessibility standards. Check at http://tinyurl.com/wcag-contrast]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b7be7cd7-d28c-1307-6ec6-a035827f2bcc</Key>
      <Name>Content part 1</Name>
      <Alias>Content1_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text which appears above the upper pull quote.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c4751c61-1263-7b88-5e19-db64d8f4771a</Key>
      <Name>Content part 2</Name>
      <Alias>Content2_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text which appears between the upper and central pull quotes.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>2f026cb6-0f98-8414-b95d-b3675e13efcb</Key>
      <Name>Content part 3</Name>
      <Alias>Content3_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text which appears between the central and lower pull quotes.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>3c5666e7-216e-f436-f2b7-5f4d3ea98753</Key>
      <Name>Content part 4</Name>
      <Alias>Content4_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text which appears between the lower and the bottom pull quote.]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7d69787b-23bd-4d52-a3d8-a77deacdd4d2</Key>
      <Name>Content part 5</Name>
      <Alias>Content5_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text which appears alongside the final pull quote image on medium screens.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8eb64f9e-e39c-425f-9006-50e4e520e7c4</Key>
      <Name>Content part 6</Name>
      <Alias>Content6_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text which appears alongside the final pull quote image on small and medium screens.]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4ef0d1f9-b4a9-5315-9289-e344e13e5159</Key>
      <Name>Custom CSS (large screens)</Name>
      <Alias>CssLarge_Design</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Custom CSS to apply to large screens such as laptops. This is added to and can override the CSS for small and medium screens.]]></Description>
      <SortOrder>16</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>128c28d3-0b66-4ef0-b012-7f12e74374ca</Key>
      <Name>Custom CSS (medium screens)</Name>
      <Alias>CssMedium_Design</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Custom CSS to apply to medium screens such as tablets. This will still apply at larger sizes but may be overridden by the CSS for large screens.]]></Description>
      <SortOrder>15</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>282bfb04-f3ba-44d3-beb6-021f9267c006</Key>
      <Name>Custom CSS (small screens)</Name>
      <Alias>CssSmall_Design</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Custom CSS to apply to small screens such as mobiles. This will still apply at larger sizes but may be overridden by the CSS for medium and large screens.]]></Description>
      <SortOrder>14</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7a89db83-a71f-29b8-73ea-b2486f31f79d</Key>
      <Name>Final pull quote</Name>
      <Alias>FinalQuote_Content</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Appears at the end of the text together with an image.]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>d1650799-a905-432c-9201-b855ab152f57</Key>
      <Name>Final pull quote attribution</Name>
      <Alias>FinalQuoteAttribution_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The name of the speaker in the final pull quote.]]></Description>
      <SortOrder>13</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c1ff754b-2be4-aab5-818f-e6fd52460832</Key>
      <Name>Final pull quote: text colour</Name>
      <Alias>FinalQuoteColour_Design</Alias>
      <Definition>fb958415-afe7-4daf-86cc-0482790ad916</Definition>
      <Type>Spectrum.Color.Picker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Must contrast with a white background.]]></Description>
      <SortOrder>13</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6aedae2c-bbb3-9e9b-e4b0-7948eb324411</Key>
      <Name>Final pull quote image</Name>
      <Alias>FinalQuoteImage_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[An 310px wide cutout image of the speaker for the final pull quote.]]></Description>
      <SortOrder>14</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>833c5f3a-5631-43e5-a875-78b3c9cf18ef</Key>
      <Name>Latest</Name>
      <Alias>latest_Latest</Alias>
      <Definition>e17df889-f551-476c-bccf-3c600051c9c2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8c1d0ca8-1df7-42fb-8b1e-8b18fa102a4a</Key>
      <Name>Latest: cascade</Name>
      <Alias>latestCascade_Latest</Alias>
      <Definition>4f479e14-5252-4328-b502-9a9dd61196ed</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c9d06f7a-1cec-46e2-bee0-ab429e5d0fd3</Key>
      <Name>Latest: inherit?</Name>
      <Alias>latestInherit_Latest</Alias>
      <Definition>4f479e14-5252-4328-b502-9a9dd61196ed</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1826d99a-291c-4367-a35a-b21693d40074</Key>
      <Name>Latest: publish date</Name>
      <Alias>latestPublishDate_Latest</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7ea6d53c-3a29-4e7b-b94f-aae233fa006e</Key>
      <Name>Latest: unpublish date</Name>
      <Alias>latestUnpublishDate_Latest</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4d6152a1-1217-4999-818a-8ffad1bcf6d7</Key>
      <Name>Lower image</Name>
      <Alias>LowerImage_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Appears within the text on small screens, and on the right on larger screens.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c5277971-0184-f79c-e4c8-0e5994433465</Key>
      <Name>Lower pull quote</Name>
      <Alias>LowerQuote_Content</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Appears within the text on small screens, and on the right on larger screens.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ff8b73be-73ed-2f08-468e-2861ab9b0132</Key>
      <Name>Description</Name>
      <Alias>pageDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>313d302a-c556-2c69-6c15-35a2fe4d6ff2</Key>
      <Name>Upper/lower pull quote: background colour</Name>
      <Alias>PullQuoteBackground_Design</Alias>
      <Definition>fb958415-afe7-4daf-86cc-0482790ad916</Definition>
      <Type>Spectrum.Color.Picker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Must contrast with white text and the selected colour for quotation marks.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1d6a9ef8-a3f6-386d-c1f7-163659ff53e1</Key>
      <Name>Upper/lower pull quote: quotation marks colour</Name>
      <Alias>PullQuoteMarks_Design</Alias>
      <Definition>fb958415-afe7-4daf-86cc-0482790ad916</Definition>
      <Type>Spectrum.Color.Picker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Must contrast with white text and the selected background colour.]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b1939491-81b3-4e58-b9bd-bb6f4623e832</Key>
      <Name>Upper/lower pull quote: text colour</Name>
      <Alias>PullQuoteTextColour_Design</Alias>
      <Definition>fb958415-afe7-4daf-86cc-0482790ad916</Definition>
      <Type>Spectrum.Color.Picker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The default is white. Text must contrast with its background to meet legal accessibility standards. Check at http://tinyurl.com/wcag-contrast]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>dfc015d2-73d5-4424-bd9b-b817d91cb014</Key>
      <Name>Quotes: font family</Name>
      <Alias>QuoteFontFamily_Design</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select a font family from https://fonts.google.com and paste the name of the embedded version, eg 'Cormorant+Garamond:400,400i']]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>63726ea2-58f0-410f-945f-a474a9de7587</Key>
      <Name>Quotes: use bold text</Name>
      <Alias>QuotesInBold_Design</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Make sure you select a typeset bold style in Google Fonts if you want to avoid a browser-generated version.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b74f9856-c6db-4f82-8f0e-8867e2cbe108</Key>
      <Name>Quotes: use italic text</Name>
      <Alias>QuotesInItalic_Design</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Make sure you select a typeset italic style in Google Fonts if you want to avoid a browser-generated version.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f6ca05cf-3005-d643-9770-ffe7e7ec32bb</Key>
      <Name>Page URL</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>27df88fc-9004-412c-9668-4c8e7e5b7e6d</Key>
      <Name>Upper image</Name>
      <Alias>UpperImage_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Appears within the text on small screens, and on the right on larger screens. Don't put this too high up, to avoid clutter on small screens.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ad441406-ff62-0c90-5fa8-cdf517dcfd7d</Key>
      <Name>Upper pull quote</Name>
      <Alias>UpperQuote_Content</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Appears within the text on small screens, and on the right on larger screens. Don't put this too high up, to avoid clutter on small screens.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>97be9acd-2ce6-4c4b-a777-012ebaa8eba0</Key>
      <Name>Video height</Name>
      <Alias>VideoHeight_Design</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Change the default height of videos on this page.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>206c30b6-4786-4f8d-9ebe-f609a545c851</Key>
      <Name>Video width</Name>
      <Alias>VideoWidth_Design</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Change the default width of videos on this page]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Design</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Latest</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>