<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Privacy notice - Rights" Key="cb4aee40-1180-43d4-8f19-9dfb99ff6fe6" Id="tooorangey.EditorNotes" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="panelTitle"><![CDATA[]]></PreValue>
    <PreValue SortOrder="2" Alias="noteCssClass"><![CDATA[]]></PreValue>
    <PreValue SortOrder="3" Alias="editorNotes"><![CDATA[<p><strong>This section will be included in the privacy notice:</strong></p>
<h4>Your rights</h4>
<p>Under data protection legislation, you have the right:</p>
<ul>
<li>to be informed why, where and how we use your information</li>
<li>to ask for access to your information</li>
<li>to ask for your information to be corrected if it is inaccurate or incomplete</li>
<li>to ask for your information to be deleted or removed where there is no need for us to continue processing it</li>
<li>to ask us to restrict the use of your information</li>
<li>to ask us to copy or transfer your information from one IT system to another in a safe and secure way, without impacting the quality of the information</li>
<li>to object to how your information is used</li>
<li>to challenge any decisions made without human intervention (automated decision making)</li>
</ul>
<p>Please visit <a href="/yourcouncil/about/keydocuments/foi/dataprotection/data-subject-rights/">data subject rights</a> for further details.</p>]]></PreValue>
    <PreValue SortOrder="4" Alias="hideLabel"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="5" Alias="noteRenderMode"><![CDATA[Html]]></PreValue>
  </PreValues>
</DataType>