<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>12864f50-a55e-4c00-8fa1-700568c2ac08</Key>
    <Name>Rights of way definitive map modifications CSV download</Name>
    <Alias>RightsOfWayModificationsCsv</Alias>
    <Icon>icon-grid color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Section 53 of the Wildlife and Countryside Act 1981 enables anyone to apply for a modification to the definitive map of rights of way.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <DefaultTemplate>RightsOfWayModificationsCsv</DefaultTemplate>
    <AllowedTemplates>
      <Template>RightsOfWayModificationsCsv</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b7be9d99-af19-407d-a385-1daa9d1ffd0d</Key>
      <Name>Author notes</Name>
      <Alias>authorNotes</Alias>
      <Definition>b89f1310-5400-4e66-8b8e-3949685d4624</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1eff4e41-fc8a-4977-890b-a1f38c76e1cc</Key>
      <Name>Page URL</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</DocumentType>