/* Present notes for authors shown in preview mode like a post-it note, so it's clearly different from the rest of the page */

.editHelp { clear: both; margin: .692308em 0; background: #ffc; border: 2px solid #DCDE74; padding: .538462em; display: block; }
