<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>d31828f5-e484-5680-05da-e2d0685357da</Key>
    <Name>Home page item</Name>
    <Alias>HomePageItem</Alias>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A short piece of content used to build up the home page.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <DefaultTemplate>HomePageItem</DefaultTemplate>
    <AllowedTemplates>
      <Template>HomePageItem</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8fb6e13e-c44c-93b9-e2f0-13e2287b08b4</Key>
      <Name>Image</Name>
      <Alias>Image_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Your image should be 236px wide by 198px high.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>27337318-bec8-261d-09a8-bdf9dc9f88bf</Key>
      <Name>Description</Name>
      <Alias>ItemDescription_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add a short description]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>d7e4ca26-868f-29be-3ecd-460eb3544bb9</Key>
      <Name>Author notes</Name>
      <Alias>phDefAuthorNotes</Alias>
      <Definition>b89f1310-5400-4e66-8b8e-3949685d4624</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1639a749-21a9-6172-55d0-abeb9e73c4cf</Key>
      <Name>URL to link to</Name>
      <Alias>URL_Content</Alias>
      <Definition>cd695bc5-45a5-4ebc-9e30-c89eb0bb6972</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UrlPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>