<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>31b5815f-526f-4fbc-bb3d-8b0c04cc389e</Key>
    <Name>Rights of way Section 31 deposit</Name>
    <Alias>RightsOfWayDeposit</Alias>
    <Icon>icon-map-location</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Section 31 (6) of the Highways Act 1980 enables landowners to protect their land from gaining public rights of way through use by the public by depositing a map with the council.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <DefaultTemplate>RightsOfWayDeposit</DefaultTemplate>
    <AllowedTemplates>
      <Template>RightsOfWayDeposit</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a2c17ea8-f73a-4126-907b-980e8198fd90</Key>
      <Name>Author notes</Name>
      <Alias>authorNotes</Alias>
      <Definition>b89f1310-5400-4e66-8b8e-3949685d4624</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ab56c90c-511a-41b6-8c41-03c217a4a347</Key>
      <Name>Date deposited</Name>
      <Alias>DateDeposited_Content</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.Date</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>20</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ad582cbb-d66a-4410-9a92-0ad8933bf6e6</Key>
      <Name>Date expires</Name>
      <Alias>DateExpires_Content</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.NoEdit</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is worked out for you based on the date deposited]]></Description>
      <SortOrder>21</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>be184aef-4bbd-4953-9e5d-4a59468c395c</Key>
      <Name>Deposit document</Name>
      <Alias>DepositDocument_Content</Alias>
      <Definition>7e3962cc-ce20-4ffc-b661-5897a894ba7e</Definition>
      <Type>Umbraco.MultipleMediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the deposit documents containing the map, statement and declaration]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>76ce6192-590f-4214-b1e4-0f0ee0e87289</Key>
      <Name>Ordnance Survey grid references</Name>
      <Alias>GridReference_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If there are multiple locations, type a list of grid references separated by commas]]></Description>
      <SortOrder>17</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4390fd07-83de-449a-ae5e-6886a942cc07</Key>
      <Name>Location 1</Name>
      <Alias>Location_Content</Alias>
      <Definition>e1755507-2c27-404f-8956-93f0f93f5778</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UkLocationPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you include latitude and longitude a map of the location will be displayed.]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f71dc4f2-a7b7-40c5-80ce-c04ec28dd7b9</Key>
      <Name>Location 2</Name>
      <Alias>Location2_Content</Alias>
      <Definition>e1755507-2c27-404f-8956-93f0f93f5778</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UkLocationPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you include latitude and longitude a map of the location will be displayed.]]></Description>
      <SortOrder>13</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>fcbd4c9a-30bc-4024-becf-2d78999f0cde</Key>
      <Name>Location 3</Name>
      <Alias>Location3_Content</Alias>
      <Definition>e1755507-2c27-404f-8956-93f0f93f5778</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UkLocationPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you include latitude and longitude a map of the location will be displayed.]]></Description>
      <SortOrder>14</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>2c5699ed-2a3f-4e48-adba-1caf389edf80</Key>
      <Name>Location 4</Name>
      <Alias>Location4_Content</Alias>
      <Definition>e1755507-2c27-404f-8956-93f0f93f5778</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UkLocationPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you include latitude and longitude a map of the location will be displayed.]]></Description>
      <SortOrder>15</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>5373fe62-53f3-4fbd-b788-05dff39ee35d</Key>
      <Name>Location 5</Name>
      <Alias>Location5_Content</Alias>
      <Definition>e1755507-2c27-404f-8956-93f0f93f5778</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UkLocationPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you include latitude and longitude a map of the location will be displayed.]]></Description>
      <SortOrder>16</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>e0222b3b-130d-4882-b8d3-a72551b5e7df</Key>
      <Name>Organisational owner 1</Name>
      <Alias>OrganisationalOwner1_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A business or trust, for example, that partly or wholly owns the land]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>501cd267-6175-4655-be49-94cb86414226</Key>
      <Name>Organisational owner 2</Name>
      <Alias>OrganisationalOwner2_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A business or trust, for example, that partly or wholly owns the land]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>e5269dba-9dcf-4f80-82f2-426a603369e9</Key>
      <Name>Organisational owner 3</Name>
      <Alias>OrganisationalOwner3_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A business or trust, for example, that partly or wholly owns the land]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ffc359ab-144b-4fa6-8539-8c1ae1713c24</Key>
      <Name>Organisational owner 4</Name>
      <Alias>OrganisationalOwner4_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A business or trust, for example, that partly or wholly owns the land]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>e9d8250b-7797-438e-b836-09fa3b9f1e6f</Key>
      <Name>Organisational owner 5</Name>
      <Alias>OrganisationalOwner5_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A business or trust, for example, that partly or wholly owns the land]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>3b993927-d662-4d4c-9e36-d1764f2b0bc4</Key>
      <Name>Owner 1</Name>
      <Alias>Owner1_Content</Alias>
      <Definition>287a9a8d-005e-4f69-abba-918bb18cc47d</Definition>
      <Type>Escc.Umbraco.PropertyEditors.PersonNamePropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[An individual who partly or wholly owns the land]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>cb3bf25b-bd75-49cc-a02f-a930889402b2</Key>
      <Name>Owner 2</Name>
      <Alias>Owner2_Content</Alias>
      <Definition>287a9a8d-005e-4f69-abba-918bb18cc47d</Definition>
      <Type>Escc.Umbraco.PropertyEditors.PersonNamePropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[An individual who partly or wholly owns the land]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>5a9aba0e-92a4-4efc-b7b1-ea263e224b1f</Key>
      <Name>Owner 3</Name>
      <Alias>Owner3_Content</Alias>
      <Definition>287a9a8d-005e-4f69-abba-918bb18cc47d</Definition>
      <Type>Escc.Umbraco.PropertyEditors.PersonNamePropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[An individual who partly or wholly owns the land]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>d05c6ac0-4c54-4cf4-9262-2c3e05663ce9</Key>
      <Name>Owner 4</Name>
      <Alias>Owner4_Content</Alias>
      <Definition>287a9a8d-005e-4f69-abba-918bb18cc47d</Definition>
      <Type>Escc.Umbraco.PropertyEditors.PersonNamePropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[An individual who partly or wholly owns the land]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f24f6835-0d83-4144-a3e2-bed30f11cc3b</Key>
      <Name>Owner 5</Name>
      <Alias>Owner5_Content</Alias>
      <Definition>287a9a8d-005e-4f69-abba-918bb18cc47d</Definition>
      <Type>Escc.Umbraco.PropertyEditors.PersonNamePropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[An individual who partly or wholly owns the land]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>01e445b0-1963-4515-bb12-59a82ddeb86c</Key>
      <Name>Description</Name>
      <Alias>pageDescription_Content</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>19</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6156e3a8-d4f3-4b0e-9bb1-1264281a8265</Key>
      <Name>Parish</Name>
      <Alias>Parish_Content</Alias>
      <Definition>605747d6-37b9-435b-bced-048617650c83</Definition>
      <Type>Umbraco.DropDownMultiple</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To select multiple parishes, hold down Ctrl when you select a parish]]></Description>
      <SortOrder>18</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>3e6a5e1e-55a8-448c-94be-4def38d5030e</Key>
      <Name>Page URL</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>