<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>54cd700b-9d90-4ddc-b918-4e9e0b47f749</Key>
    <Name>Jobs search</Name>
    <Alias>JobsSearch</Alias>
    <Icon>icon-search</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The search page for the jobs section of the website.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master Key="f18d3501-1670-967a-50a6-e5d7993e6721">customerFocus</Master>
    <Compositions>
      <Composition Key="f18d3501-1670-967a-50a6-e5d7993e6721">customerFocus</Composition>
    </Compositions>
    <DefaultTemplate>JobsSearch</DefaultTemplate>
    <AllowedTemplates>
      <Template>JobsCss</Template>
      <Template>JobsSearch</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <DocumentType Key="353c2dfa-1e8b-4c78-9007-e62baddfa628">Form</DocumentType>
    <DocumentType Key="4c752687-733b-48b9-9d9a-44a31361c5de">JobAdvert</DocumentType>
    <DocumentType Key="d1ae5a5f-4385-4250-8fb4-64766eb3b02b">JobAlerts</DocumentType>
    <DocumentType Key="55a54302-1d39-4dd3-b66b-01990d3f2b64">JobsComponent</DocumentType>
    <DocumentType Key="1d36838a-015a-4a29-a75e-70d9c1c8a2fb">JobSearchResults</DocumentType>
    <DocumentType Key="29d53ba6-dea3-46ea-bca0-df68ab78be86">JobsRss</DocumentType>
    <DocumentType Key="f2265404-f3f3-4e75-afb2-bbb37b24c499">ProblemJobsRss</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3664446a-0916-43ca-9224-45169382612b</Key>
      <Name>Header background image (small screens)</Name>
      <Alias>HeaderBackgroundImage_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the background image for the page header on small screens such as mobiles. Tiles horizontally up to 474px wide, or until overridden by an image for larger screens.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>9b1e27cd-9fa4-4dcf-a1ad-0d08fb3ab6ee</Key>
      <Name>Header background image (large screens)</Name>
      <Alias>HeaderBackgroundImageLarge_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the background image for the page header on large screens such as laptops.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>90e38334-7da3-44f8-a84e-2e26db7e2e84</Key>
      <Name>Header background image (medium screens)</Name>
      <Alias>HeaderBackgroundImageMedium_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the background image for the page header on medium screens such as tablets. Tiles horizontally up to 802px wide, or until overridden by an image for larger screens.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6bc56c7a-151a-478a-b7b6-654e16409dae</Key>
      <Name>Jobs home page</Name>
      <Alias>JobsHomePage_Content</Alias>
      <Definition>a6857c73-d6e9-480c-b6e6-f15f6ad11125</Definition>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the jobs home page, to be linked from the logo]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>13b3cd53-04f3-4e9a-a755-77f92acf8015</Key>
      <Name>Logo</Name>
      <Alias>JobsLogo_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the logo for the jobs service]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>d5b8a36a-bb49-466d-a0e4-27ce6c3c3662</Key>
      <Name>Login page</Name>
      <Alias>LoginPage_Content</Alias>
      <Definition>a6857c73-d6e9-480c-b6e6-f15f6ad11125</Definition>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the jobs login page, based on the 'Jobs component' document type]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ceed16ae-b880-40dd-8c4c-ff9f2097f952</Key>
      <Name>Login URL</Name>
      <Alias>loginURL</Alias>
      <Definition>cd695bc5-45a5-4ebc-9e30-c89eb0bb6972</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UrlPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the URL to login, if it is not based on 'Jobs component']]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f2b6534c-00fd-458a-91bb-2b4a3b637a8e</Key>
      <Name>Which jobs should this page show?</Name>
      <Alias>PublicOrRedeployment_Content</Alias>
      <Definition>49c49465-1051-40b4-a30d-e2c0ddd1e414</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>14fc9ca2-6e87-425b-be64-c80d132ec314</Key>
      <Name>Search results page</Name>
      <Alias>SearchResultsPage_Content</Alias>
      <Definition>a6857c73-d6e9-480c-b6e6-f15f6ad11125</Definition>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the search results page, based on the 'Job search results' document type]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>