<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>9c7aa322-1870-43da-b845-c9ddc44b5231</Key>
    <Name>Rights of way definitive map modification</Name>
    <Alias>RightsOfWayModification</Alias>
    <Icon>icon-map-location color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Section 53 of the Wildlife and Countryside Act 1981 enables anyone to apply for a modification to the definitive map of rights of way.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <DefaultTemplate>RightsOfWayModification</DefaultTemplate>
    <AllowedTemplates>
      <Template>RightsOfWayModification</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>02c1674a-1f23-4095-b43f-566f63607eca</Key>
      <Name>Application status</Name>
      <Alias>applicationStatus</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Received, in progress, completed etc]]></Description>
      <SortOrder>24</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>3be18b35-ce66-4eb1-b25c-3c04e3cf71f7</Key>
      <Name>Author notes</Name>
      <Alias>authorNotes</Alias>
      <Definition>b89f1310-5400-4e66-8b8e-3949685d4624</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a85bd959-423c-4fc3-8ee9-ee60ec6c4d57</Key>
      <Name>Council officer assigned</Name>
      <Alias>councilOfficerAssigned</Alias>
      <Definition>287a9a8d-005e-4f69-abba-918bb18cc47d</Definition>
      <Type>Escc.Umbraco.PropertyEditors.PersonNamePropertyEditor</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The name of the council officer assigned to process the application.]]></Description>
      <SortOrder>23</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1fe90564-10fe-4934-af64-fca9a66f5a14</Key>
      <Name>Date determined</Name>
      <Alias>DateDetermined</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.Date</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The date the decision was taken.]]></Description>
      <SortOrder>26</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>dd3d190c-4eba-465c-91e5-006fca292f09</Key>
      <Name>Date received</Name>
      <Alias>DateReceived</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.Date</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>20</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>67842cdb-2ac0-483c-8cd9-07c187075296</Key>
      <Name>Decision</Name>
      <Alias>decision</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>25</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>150fa11e-da13-4b9c-82ac-1d4ddb3fc5d3</Key>
      <Name>Application documents</Name>
      <Alias>Documents</Alias>
      <Definition>7e3962cc-ce20-4ffc-b661-5897a894ba7e</Definition>
      <Type>Umbraco.MultipleMediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the documents submitted as part of the application]]></Description>
      <SortOrder>28</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>beac7d36-2952-45af-88d7-536f263fc79a</Key>
      <Name>Ordnance Survey grid references</Name>
      <Alias>GridReference</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If there are multiple locations, type a list of grid references separated by commas]]></Description>
      <SortOrder>19</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>76167b47-3141-4a72-a808-c14a8c6803fa</Key>
      <Name>Location 1</Name>
      <Alias>Location1</Alias>
      <Definition>e1755507-2c27-404f-8956-93f0f93f5778</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UkLocationPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you include latitude and longitude a map of the location will be displayed.]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c150369c-b464-4053-b634-f61a4e4219c7</Key>
      <Name>Location 2</Name>
      <Alias>Location2</Alias>
      <Definition>e1755507-2c27-404f-8956-93f0f93f5778</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UkLocationPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you include latitude and longitude a map of the location will be displayed.]]></Description>
      <SortOrder>13</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>74200a7d-7c90-44b3-98d1-70260387316a</Key>
      <Name>Location 3</Name>
      <Alias>Location3</Alias>
      <Definition>e1755507-2c27-404f-8956-93f0f93f5778</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UkLocationPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you include latitude and longitude a map of the location will be displayed.]]></Description>
      <SortOrder>14</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>abe8f3c0-78bf-4ef6-846a-5f1535ec2b42</Key>
      <Name>Location 4</Name>
      <Alias>Location4</Alias>
      <Definition>e1755507-2c27-404f-8956-93f0f93f5778</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UkLocationPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you include latitude and longitude a map of the location will be displayed.]]></Description>
      <SortOrder>15</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>d43f3ab1-d358-49b5-955f-8ed55b3eb522</Key>
      <Name>Location 5</Name>
      <Alias>Location5</Alias>
      <Definition>e1755507-2c27-404f-8956-93f0f93f5778</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UkLocationPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If you include latitude and longitude a map of the location will be displayed.]]></Description>
      <SortOrder>16</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>2b31e898-5ab2-417f-bf06-06cd662f9e7b</Key>
      <Name>Name of applicant (individual)</Name>
      <Alias>nameOfApplicant</Alias>
      <Definition>287a9a8d-005e-4f69-abba-918bb18cc47d</Definition>
      <Type>Escc.Umbraco.PropertyEditors.PersonNamePropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Complete this field if the application was submitted by an individual.]]></Description>
      <SortOrder>21</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>07ea19c5-44e2-4db9-b91c-a20dad41affd</Key>
      <Name>Name of applicant (organisation)</Name>
      <Alias>nameOfApplicantOrganisation</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Complete this field if the application was submitted by a group or organisation.]]></Description>
      <SortOrder>22</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>388007c3-1487-4a49-bbcc-e8023520bdfe</Key>
      <Name>Nearest town or village</Name>
      <Alias>nearestTownOrVillage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>fc1166b8-3fdf-4123-a386-8ab672a13768</Key>
      <Name>Order confirmed date</Name>
      <Alias>orderConfirmedDate</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.Date</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The date the definitive map modification order was confirmed.]]></Description>
      <SortOrder>27</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>2549f8a5-46c9-4211-b3b6-bc97f9b22eb5</Key>
      <Name>Organisational owner 1</Name>
      <Alias>OrganisationalOwner1</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A business or trust, for example, that partly or wholly owns the land]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8a142c4b-492f-4e72-b5ff-ab0ccfb07a8a</Key>
      <Name>Organisational owner 2</Name>
      <Alias>OrganisationalOwner2</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A business or trust, for example, that partly or wholly owns the land]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>5744bd1c-7a76-438b-956e-1a5c86a7c897</Key>
      <Name>Organisational owner 3</Name>
      <Alias>OrganisationalOwner3</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A business or trust, for example, that partly or wholly owns the land]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1b624c51-7990-41cd-8d6b-d320f807bb57</Key>
      <Name>Organisational owner 4</Name>
      <Alias>OrganisationalOwner4</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A business or trust, for example, that partly or wholly owns the land]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>5624b6ab-6a76-4fcf-996d-df327f638cf3</Key>
      <Name>Organisational owner 5</Name>
      <Alias>OrganisationalOwner5</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A business or trust, for example, that partly or wholly owns the land]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>85dd28cd-b5be-4a4a-b65a-807e152e8d93</Key>
      <Name>Owner 1</Name>
      <Alias>Owner1</Alias>
      <Definition>287a9a8d-005e-4f69-abba-918bb18cc47d</Definition>
      <Type>Escc.Umbraco.PropertyEditors.PersonNamePropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[An individual who partly or wholly owns the land]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8813cada-8127-433e-a896-fe399f2ebdbf</Key>
      <Name>Owner 2</Name>
      <Alias>Owner2</Alias>
      <Definition>287a9a8d-005e-4f69-abba-918bb18cc47d</Definition>
      <Type>Escc.Umbraco.PropertyEditors.PersonNamePropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[An individual who partly or wholly owns the land]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>12417325-4d04-43cd-9fb5-ee12b71df9e4</Key>
      <Name>Owner 3</Name>
      <Alias>Owner3</Alias>
      <Definition>287a9a8d-005e-4f69-abba-918bb18cc47d</Definition>
      <Type>Escc.Umbraco.PropertyEditors.PersonNamePropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[An individual who partly or wholly owns the land]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7bc06a2b-2961-49af-b2ab-b91b14d7d76e</Key>
      <Name>Owner 4</Name>
      <Alias>Owner4</Alias>
      <Definition>287a9a8d-005e-4f69-abba-918bb18cc47d</Definition>
      <Type>Escc.Umbraco.PropertyEditors.PersonNamePropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[An individual who partly or wholly owns the land]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6aeb41e9-7842-43b0-ade8-219d4e5fc2cf</Key>
      <Name>Owner 5</Name>
      <Alias>Owner5</Alias>
      <Definition>287a9a8d-005e-4f69-abba-918bb18cc47d</Definition>
      <Type>Escc.Umbraco.PropertyEditors.PersonNamePropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[An individual who partly or wholly owns the land]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7c40032c-f3a1-4b50-b5d6-0bae985e2496</Key>
      <Name>Description of route</Name>
      <Alias>pageDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>17</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>9e523615-7c34-4359-be32-f5a2d3ca419e</Key>
      <Name>Parish</Name>
      <Alias>Parish</Alias>
      <Definition>605747d6-37b9-435b-bced-048617650c83</Definition>
      <Type>Umbraco.DropDownMultiple</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To select multiple parishes, hold down Ctrl when you select a parish]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>e4c59cc4-e1db-492e-a725-91f4a41ce02b</Key>
      <Name>Status claimed</Name>
      <Alias>statusClaimed</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How many footpaths, bridleways, restricted byways or byway open to all traffic are claimed?]]></Description>
      <SortOrder>18</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>da02b881-1598-494d-acfb-7c1a8a949697</Key>
      <Name>Page URL</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>