<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Rich text: Standard topic page" Key="62df1324-308c-48ab-b723-e98214412d49" Id="Escc.Umbraco.PropertyEditors.RichTextPropertyEditor" DatabaseType="Ntext">
  <PreValues>
    <PreValue SortOrder="1" Alias="editor"><![CDATA[{
  "toolbar": [
    "removeformat",
    "undo",
    "redo",
    "cut",
    "copy",
    "paste",
    "styleselect",
    "bold",
    "bullist",
    "numlist",
    "link",
    "unlink",
    "table",
    "blockquote"
  ],
  "stylesheets": [
    "TinyMCE-Content",
    "TinyMCE-StyleSelector-Embed",
    "TinyMCE-StyleSelector-Headings"
  ],
  "dimensions": {
    "height": 300
  },
  "maxImageSize": 500,
  "validators": [
    {
      "name": "clickHere"
    },
    {
      "name": "linkToHere"
    },
    {
      "name": "visit"
    },
    {
      "name": "more"
    },
    {
      "name": "allCaps"
    },
    {
      "name": "urlAsLinkText"
    }
  ],
  "formatters": [
    "nbsp",
    "removeEmptyLinks",
    "removeEmptyBlock",
    "removeUnwantedElements",
    "removeTarget",
    "removeIfMissingAttribute",
    "autocorrect",
    "fullstopsOutsideLinks",
    "spacesOutsideLinks",
    "smartQuotes",
    "enDashes",
    "ellipsis",
    "startHeadingsWithCapital",
    "startContentWithCapital"
  ]
}]]></PreValue>
    <PreValue SortOrder="2" Alias="hideLabel"><![CDATA[]]></PreValue>
  </PreValues>
</DataType>