
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.config
!*.example.config
!packages.config
*.scc
Properties/PublishProfiles/*
packages
.nuget/NuGet.targets
*.GhostDoc.xml
Backup
UpgradeLog*.htm
Microsoft.CodeDom.Providers.DotNetCompilerPlatform.*
*.orig
.vs

# Umbraco files
[Uu]mbraco/
[Uu]mbraco_Client/
[Aa]pp_Data/
[Aa]pp_Browsers/
Escc.EastSussexGovUK.Umbraco/App_Plugins/ModelsBuilder
Escc.EastSussexGovUK.Umbraco.Tests/App_Plugins/
[Ii]nstall/
*/[Cc]onfig/
[Dd]efault.aspx
[Vv]iews/[Ww]eb.config.transform
[Mm]edia
*.backup
dummy.txt
*.config.js
*/Views/Partials/Grid/*

# Umbraco Forms
*/App_Plugins/UmbracoForms/*
!*/App_Plugins/UmbracoForms/Backoffice
*/App_Plugins/UmbracoForms/Backoffice/*
!*/App_Plugins/UmbracoForms/Backoffice/Common
*/App_Plugins/UmbracoForms/Backoffice/Common/*
!*/App_Plugins/UmbracoForms/Backoffice/Common/FieldTypes
*/App_Plugins/UmbracoForms/Backoffice/Common/FieldTypes/*
!*/App_Plugins/UmbracoForms/Backoffice/Common/FieldTypes/FormattedTextField.html
*/Views/MacroPartials/*
*/Views/Partials/Forms/*
!*/Views/Partials/Forms/DatePicker.cshtml
!*/Views/Partials/Forms/Themes
*/Views/Partials/Forms/Themes/default
*/Views/Partials/Forms/Themes/bootstrap3-horizontal

# Files imported by NuGet packages
**/TinyMCE-*.css
!**/TinyMCE-StyleSelector-Embed.css
*/Views/Alerts*
*RecyclingSiteFinder.ascx
*/js/libs/*
*/RegistrationSkin/*
*/EastSussexGovUK/*
Escc.EastSussexGovUK.Umbraco/App_Plugins/Escc.Umbraco.PropertyEditors.*/*
Escc.EastSussexGovUK.Umbraco/App_Plugins/Escc.Umbraco.DataTypes.MediaUsage
Escc.EastSussexGovUK.Umbraco/App_Plugins/EditorTools/*
DataTables
scripts
apple-touch-*.png
favicon.ico
windows-tile.png
robots.txt
google*.html
