
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.config
!*.example.config
!packages.config
*.scc
[Ss]cripts*/
Properties/PublishProfiles/*
packages
.nuget/NuGet.targets

# Umbraco files
[Uu]mbraco/
[Uu]mbraco_Client/
[Aa]pp_Data/
[Aa]pp_Browsers/
[Aa]pp_Plugins/
[Ii]nstall/
[Cc]onfig/Splashes/
[Dd]efault.aspx
[Vv]iews/[Ww]eb.config.transform
*.backup
dummy.txt

# Files imported by ESCC NuGet packages
css
Views/*.cshtml
!Views/_ViewStart.cshtml
Views/Partials