<?xml version="1.0"?>
<configuration>
  <!-- 
  *****************************************************************************************
  Add these settings to web.config in addition to or instead of the ones created by Umbraco
  *****************************************************************************************
  -->

  <configSections>
    <sectionGroup name="EsccWebTeam.Data.Xml">
      <section name="Proxy" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>

    <sectionGroup name="EsccWebTeam.Data.Web">
      <section name="ContentSecurityPolicy" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="EnforceProtocolModule" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>

    <sectionGroup name="EsccWebTeam.EastSussexGovUK">
      <section name="GeneralSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="RemoteMasterPage" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>

    <sectionGroup name="EsccWebTeam.Egms">
      <section name="CssFiles" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="ScriptFiles" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EsccWebTeam.EastSussexGovUK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="EsccWebTeam.ServiceClosures.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <EsccWebTeam.Data.Xml>
    <Proxy>
      <add key="Server" value="ip_address"/>
      <add key="User" value="username"/>
      <add key="Domain" value="domain"/>
      <add key="Password" value="password"/>
    </Proxy>
  </EsccWebTeam.Data.Xml>

  <EsccWebTeam.Data.Web>
    <ContentSecurityPolicy>
      <add key="Default" value="default-src 'none'; script-src 'self' https://www.eastsussex.gov.uk https://ajax.googleapis.com; style-src 'self' https://www.eastsussex.gov.uk; img-src 'self' https://www.eastsussex.gov.uk" />
      <add key="None" value="/umbraco" />
    </ContentSecurityPolicy>
    <EnforceProtocolModule>
      <add key="Default" value="https" />
    </EnforceProtocolModule>
  </EsccWebTeam.Data.Web>

  <EsccWebTeam.EastSussexGovUK>
    <GeneralSettings>
      <add key="MasterPageParameterName" value="template" />
      <add key="DesktopMasterPage" value="desktop.cshtml" />
      <add key="MobileMasterPage" value="mobile.cshtml" />
      <add key="FullScreenMasterPage" value="fullscreen.cshtml" />
      <add key="PlainMasterPage" value="plain.cshtml" />
      <add key="BaseUrl" value="https://www.eastsussex.gov.uk" />
    </GeneralSettings>
    <RemoteMasterPage>
      <add key="CacheMinutes" value="60" />
      <add key="MasterPageControlUrl" value="URL to download control HTML" />
    </RemoteMasterPage>
  </EsccWebTeam.EastSussexGovUK>

  <EsccWebTeam.Egms>
    <CssFiles>
      <add key="HandlerPath" value="//www.eastsussex.gov.uk/css/{0}-{1}-v2.cssx" />
      <!-- LIVE settings SHOULD be as follows, but they're not because of an issue with IE6 and www.eastsussex.gov.uk being 
           in the Trusted Zone on ESCC PCs. They can be changed to this once IE6 has finally died.
           <add key="HandlerPath" value="http://static1.eastsussexcc.gov.uk/css/{0}.cssx" />
           <add key="HttpsHandlerPath" value="https://www.eastsussex.gov.uk/css/{0}.cssx" />
      -->
      <add key="HandlerPlaceholder" value="css" />
      <add key="Medium" value="only screen and (min-width: 474px)" />
      <add key="Large" value="only screen and (min-width: 802px)" />
    </CssFiles>
    <ScriptFiles>
      <add key="HandlerPath" value="//www.eastsussex.gov.uk/js/{0}-{1}-v2.jsx" />
      <!-- LIVE settings SHOULD be as follows, but they're not because of an issue with IE6 and www.eastsussex.gov.uk being 
           in the Trusted Zone on ESCC PCs. They can be changed to this once IE6 has finally died.
           <add key="HandlerPath" value="http://static2.eastsussexcc.gov.uk/js/{0}.jsx" />
           <add key="HttpsHandlerPath" value="https://www.eastsussex.gov.uk/js/{0}.jsx" />
      -->
      <add key="HandlerPlaceholder" value="javascript" />
    </ScriptFiles>
  </EsccWebTeam.Egms>

  <system.net>
    <!-- defaultProxy required during Umbraco installation wizard -->
    <defaultProxy useDefaultCredentials="true" />
  </system.net>

  <system.web>
    <httpCookies httpOnlyCookies="true" requireSSL="true"/>

    <pages>
      <controls>
        <add tagPrefix="EastSussexGovUK" namespace="EsccWebTeam.EastSussexGovUK" assembly="EsccWebTeam.EastSussexGovUK, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="Egms" namespace="EsccWebTeam.Egms" assembly="EsccWebTeam.Egms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="ServiceClosures" assembly="EsccWebTeam.ServiceClosures, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" namespace="EsccWebTeam.ServiceClosures" />
      </controls>
    </pages>
  </system.web>

  <system.webServer>
    <modules>
      <add name="ContentSecurityPolicy" type="EsccWebTeam.Data.Web.ContentSecurityPolicyModule"/>
      <add name="EnforceProtocolModule" type="EsccWebTeam.Data.Web.EnforceProtocolModule" />
    </modules>

    <httpProtocol>
      <customHeaders>
        <!-- Ensure the powered by header is not returned -->
        <remove name="X-Powered-By" />
        <!-- Ensure SSL is used -->
        <add name="Strict-Transport-Security" value="max-age=2592000" />
        <!-- Defend against clickjacking -->
        <add name="X-Frame-Options" value="DENY"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <applicationSettings>
    <EsccWebTeam.EastSussexGovUK.Properties.Settings>
      <setting name="EsccWebTeam_EastSussexGovUK_DeviceDetection_Service" serializeAs="String">
        <value>URL of device detection service</value>
      </setting>
      <setting name="EsccWebTeam_EastSussexGovUK_GoogleAnalytics_GoogleAnalytics" serializeAs="String">
        <value>URL of Google Analytics web service</value>
      </setting>
    </EsccWebTeam.EastSussexGovUK.Properties.Settings>
    <EsccWebTeam.ServiceClosures.Properties.Settings>
      <setting name="XmlFolder" serializeAs="String">
        <value>Path to folder</value>
      </setting>
    </EsccWebTeam.ServiceClosures.Properties.Settings>
  </applicationSettings>

  <appSettings>
    <!-- START: AST Azure media sync settings -->
    <add key="useCDN" value="true" />
    <add key="cdnDomain" value="URL of storage account" />
    <!-- END: AST Azure media sync settings -->

    <!-- START: Examine for Azure settings -->
    <add key="blobStorage" value="storage account connection string" />
    <!-- END: Examine for Azure settings -->
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <!-- START Ensure assembly for Examine on Azure -->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.StorageClient" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="1.1.0.0-1.6.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <!-- END Ensure assembly for Examine on Azure -->

    </assemblyBinding>
  </runtime>
</configuration>