<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>7e937e0b-11f7-47d3-a474-e3aa95375704</Key>
    <Name>Page expiry rule</Name>
    <Alias>pageExpiryRule</Alias>
    <Icon>icon-timer color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Set expiry rules for all selected pages (and optionally their child pages), overriding the defaults</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>31e6d54e-644a-4a4a-9543-ac4312c4e507</Key>
      <Name>Apply to descendant pages</Name>
      <Alias>applyToDescendantPages</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tick to apply this rule to all pages nested under the selected pages, unless a more specific rule is found.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Settings</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6b1ce849-302e-406c-9936-18a4b0885c60</Key>
      <Name>Days</Name>
      <Alias>days</Alias>
      <Definition>e96a51cd-fbd4-4ce1-9ed9-a89d015b3862</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation>^[0-9]*$</Validation>
      <Description><![CDATA[The maximum number of days (in addition to the Months property) that pages are allowed to be published before they expire.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Settings</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>bbcf5a2d-ec0e-4562-84d3-53ec41440fca</Key>
      <Name>Force pages to never expire</Name>
      <Alias>forcePagesToNeverExpire</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[When ticked, overrides the Months and Days property and disallows setting any expiry date on matching pages.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Settings</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>af95c1bb-b08e-45eb-8498-b632f3ecac4f</Key>
      <Name>Months</Name>
      <Alias>months</Alias>
      <Definition>e96a51cd-fbd4-4ce1-9ed9-a89d015b3862</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation>^[0-9]*$</Validation>
      <Description><![CDATA[The maximum number of months (in addition to the Days property) that pages are allowed to be published before they expire.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Settings</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8546c634-19c4-465f-9e05-9166550e82b8</Key>
      <Name>Pages</Name>
      <Alias>pages</Alias>
      <Definition>497e1458-047f-4745-ac15-076494eee8d9</Definition>
      <Type>Umbraco.MultiNodeTreePicker2</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the pages this rule applies to.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>