<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>e0f09067-5ef9-ddf2-0f38-9b6b717dab60</Key>
    <Name>Legacy Base</Name>
    <Alias>LegacyBase</Alias>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>71ac9731-eb97-1bea-2ad8-07ac710a97e7</Key>
      <Name>Cache</Name>
      <Alias>cache</Alias>
      <Definition>9fd11d4a-bcb2-4eea-bcd9-d6c26697e4a1</Definition>
      <Type>Umbraco.DropDown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Pages are cached for 24 hours by default.  If this page is particularly time-sensitive, pick a shorter time.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8d891a28-cf11-a7b8-39d4-2f9a2bf19d35</Key>
      <Name>EastSussex1Space: show widget?</Name>
      <Alias>eastsussex1space_Social_media_and_promotion</Alias>
      <Definition>f5b9a22c-ab9e-48dd-bb4d-a9f29ba8c968</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c32ea877-8d5c-8106-81c2-8c89b8dd6662</Key>
      <Name>ESCIS: show widget?</Name>
      <Alias>escis_Social_media_and_promotion</Alias>
      <Definition>f5b9a22c-ab9e-48dd-bb4d-a9f29ba8c968</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>48c5c74b-7259-119a-bfb6-85df498535a2</Key>
      <Name>Facebook: inherit settings?</Name>
      <Alias>facebookInherit_Social_media_and_promotion</Alias>
      <Definition>4f479e14-5252-4328-b502-9a9dd61196ed</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Inherit settings from the parent page and ignore 'Facebook: page URL' and 'Facebook: widget settings' set here.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>93b8ecc3-236f-2c40-0f5d-67155746e2f6</Key>
      <Name>Facebook: page URL</Name>
      <Alias>facebookPageUrl_Social_media_and_promotion</Alias>
      <Definition>3437151c-2912-4922-b23b-3a3aab1b7e7e</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UrlPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is ignored if 'Facebook: inherit settings?' is selected.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1d672e55-410d-156b-6285-d984c58f70f4</Key>
      <Name>Facebook: widget settings</Name>
      <Alias>facebookWidgetSettings_Social_media_and_promotion</Alias>
      <Definition>d99591f5-4fcf-41e7-9262-688dc8f998ff</Definition>
      <Type>Umbraco.CheckBoxList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is ignored if 'Facebook: inherit settings?' is selected.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>50359eb5-12f1-6c9d-06fc-9210b8ab6316</Key>
      <Name>IPSV preferred</Name>
      <Alias>ipsvPreferred</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Obsolete.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>55586bf0-bd77-77d2-50f5-a05d3f910bb0</Key>
      <Name>Latest</Name>
      <Alias>latest_Latest</Alias>
      <Definition>e17df889-f551-476c-bccf-3c600051c9c2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>60b57db5-7e46-562a-b596-aa1ab4b1f1e1</Key>
      <Name>Latest: cascade</Name>
      <Alias>latestCascade_Latest</Alias>
      <Definition>4f479e14-5252-4328-b502-9a9dd61196ed</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ac17d3e7-01bf-c7d5-7ab6-6b65da843620</Key>
      <Name>Latest: inherit?</Name>
      <Alias>latestInherit_Latest</Alias>
      <Definition>4f479e14-5252-4328-b502-9a9dd61196ed</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f167eb7b-3379-936b-1780-87a17f7548be</Key>
      <Name>Latest: publish date</Name>
      <Alias>latestPublishDate_Latest</Alias>
      <Definition>c4d93b34-c46d-4cd6-be71-ae832cb0477f</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c0b9ad0d-c69d-b30c-cef6-e911bef3ec7d</Key>
      <Name>Latest: unpublish date</Name>
      <Alias>latestUnpublishDate_Latest</Alias>
      <Definition>c6796173-badf-477d-8b56-b9c88a1bc0ea</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>86fbb994-7489-a574-fad6-4cec70400af4</Key>
      <Name>Description</Name>
      <Alias>pageDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f4998466-c53d-9f82-6535-3540f264c37c</Key>
      <Name>Author notes</Name>
      <Alias>phDefAuthorNotes</Alias>
      <Definition>b89f1310-5400-4e66-8b8e-3949685d4624</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>49661915-842a-5b71-a80e-3f0b2371f473</Key>
      <Name>Social media order</Name>
      <Alias>socialMediaOrder_Social_media_and_promotion</Alias>
      <Definition>84141714-52e5-4a6b-a174-b21c64b69300</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>e63d1672-9498-cc26-b2de-5aeb7a487187</Key>
      <Name>Twitter: account</Name>
      <Alias>twitterAccount_Social_media_and_promotion</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Don't include the @ sign. This is ignored if 'Twitter: inherit settings?' is selected.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>bdff7487-af29-8966-dc7c-88ce3026ac30</Key>
      <Name>Twitter: inherit settings?</Name>
      <Alias>twitterInherit_Social_media_and_promotion</Alias>
      <Definition>4f479e14-5252-4328-b502-9a9dd61196ed</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Inherit settings from the parent page and ignore 'Twitter: account' and 'Twitter: search widget script' set here.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>e4a7747d-dfb1-72b3-87a3-f6eed117ccfa</Key>
      <Name>Page URL</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Latest</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Social media and promotion</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>