<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>9e2e3f26-5dfc-e842-ed95-b5fe7008d873</Key>
    <Name>Landing</Name>
    <Alias>Landing</Alias>
    <Icon>icon-thumbnails-small</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The menu for a section, with clickable links to the pages below.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master Key="f18d3501-1670-967a-50a6-e5d7993e6721">customerFocus</Master>
    <Compositions>
      <Composition Key="f18d3501-1670-967a-50a6-e5d7993e6721">customerFocus</Composition>
    </Compositions>
    <DefaultTemplate>Landing</DefaultTemplate>
    <AllowedTemplates>
      <Template>CampaignLanding</Template>
      <Template>Landing</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <DocumentType Key="8d153f1e-113a-60b8-8603-85dfa901616d">CampaignLanding</DocumentType>
    <DocumentType Key="e81a9ef1-6701-bf2e-a4dd-cfe34ff74e69">Childcare</DocumentType>
    <DocumentType Key="d3bc23bf-ee4d-0bfd-cf3e-1a93844801dd">CouncilOffice</DocumentType>
    <DocumentType Key="074301c3-8dc7-57b0-156b-87dcf17316da">DayCentre</DocumentType>
    <DocumentType Key="353c2dfa-1e8b-4c78-9007-e62baddfa628">Form</DocumentType>
    <DocumentType Key="7ab94f65-d30d-c48b-a3c0-56b388b45f1f">FormDownloadPage</DocumentType>
    <DocumentType Key="a908f006-49d7-55ef-9780-251b2088ae01">Guide</DocumentType>
    <DocumentType Key="9e2e3f26-5dfc-e842-ed95-b5fe7008d873">Landing</DocumentType>
    <DocumentType Key="04455375-f05a-901c-5b29-afdc0ee86ca9">landingPageWithPictures</DocumentType>
    <DocumentType Key="12aa1590-3f2c-c980-e904-fd2aa6a007c6">Library</DocumentType>
    <DocumentType Key="069f05c3-5e1f-fb26-dfff-e94e49457db4">location</DocumentType>
    <DocumentType Key="34343f14-7053-41e4-ee32-a2ae3ea17a5e">Map</DocumentType>
    <DocumentType Key="1a3718fc-b452-b425-167b-0ebd64bdcbd3">Park</DocumentType>
    <DocumentType Key="3259124c-2546-3788-07f6-aaf0072acac0">Person</DocumentType>
    <DocumentType Key="c7b066f5-2678-49be-a7a3-4ede49f8defa">PrivacyNotice</DocumentType>
    <DocumentType Key="9c33c6ee-c46c-9fd5-8f61-d8e9c55525d8">RecyclingSite</DocumentType>
    <DocumentType Key="a8c2af57-1b6d-6672-b3ef-0d98e40565a2">RegistrationOffice</DocumentType>
    <DocumentType Key="a47f9610-bcf3-4ff9-9dc2-8b05e60071af">RightsOfWayDeposits</DocumentType>
    <DocumentType Key="4fad4c6b-d260-1ce5-b5d3-ebbf8f43f5ee">SportLocation</DocumentType>
    <DocumentType Key="41cd814e-6886-c6ac-664f-d86ff02dcdd1">standardDownloadPage</DocumentType>
    <DocumentType Key="f56bd76a-4fd6-55d3-cf3d-f0fba94e2b7a">standardLandingPage</DocumentType>
    <DocumentType Key="fa38c7bb-dea2-01a7-de69-cfe08c26a9f3">standardTopicPage</DocumentType>
    <DocumentType Key="5a89548c-33d1-d549-77b6-778aa1695950">task</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>5b7ffadf-3df8-30a2-b886-431cd20ccf2c</Key>
      <Name>Layout</Name>
      <Alias>layout_Content</Alias>
      <Definition>d7b9f3d4-4dc1-418d-ad44-d5806f4185ef</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>43e70d41-042d-836f-e3a6-eeb785ec88d5</Key>
      <Name>Links 1</Name>
      <Alias>links1_Content</Alias>
      <Definition>21e798da-e06e-4eda-a511-ed257f78d4fa</Definition>
      <Type>Umbraco.RelatedLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The first link becomes the heading. Any others are listed beneath.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>5a8321c5-6600-14a6-82a6-53ba554c4d4a</Key>
      <Name>Links 10</Name>
      <Alias>links10_Content</Alias>
      <Definition>21e798da-e06e-4eda-a511-ed257f78d4fa</Definition>
      <Type>Umbraco.RelatedLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The first link becomes the heading. Any others are listed beneath.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>04b260aa-e701-c5d8-1868-727de24f5922</Key>
      <Name>Links 11</Name>
      <Alias>links11_Content</Alias>
      <Definition>21e798da-e06e-4eda-a511-ed257f78d4fa</Definition>
      <Type>Umbraco.RelatedLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The first link becomes the heading. Any others are listed beneath.]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6568aea8-e082-5860-577f-f659c574470e</Key>
      <Name>Links 12</Name>
      <Alias>links12_Content</Alias>
      <Definition>21e798da-e06e-4eda-a511-ed257f78d4fa</Definition>
      <Type>Umbraco.RelatedLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The first link becomes the heading. Any others are listed beneath.]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>577c5830-22c2-6403-ed2c-8dc604530671</Key>
      <Name>Links 13</Name>
      <Alias>links13_Content</Alias>
      <Definition>21e798da-e06e-4eda-a511-ed257f78d4fa</Definition>
      <Type>Umbraco.RelatedLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The first link becomes the heading. Any others are listed beneath.]]></Description>
      <SortOrder>13</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>cbc99cfa-40c1-acb6-11fc-d106a9d913e7</Key>
      <Name>Links 14</Name>
      <Alias>links14_Content</Alias>
      <Definition>21e798da-e06e-4eda-a511-ed257f78d4fa</Definition>
      <Type>Umbraco.RelatedLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The first link becomes the heading. Any others are listed beneath.]]></Description>
      <SortOrder>14</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6331e541-29c2-1458-5a7a-528b251c2757</Key>
      <Name>Links 15</Name>
      <Alias>links15_Content</Alias>
      <Definition>21e798da-e06e-4eda-a511-ed257f78d4fa</Definition>
      <Type>Umbraco.RelatedLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The first link becomes the heading. Any others are listed beneath.]]></Description>
      <SortOrder>15</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>0f88cf5d-a013-7fd0-5330-69f9c38f9f61</Key>
      <Name>Links 2</Name>
      <Alias>links2_Content</Alias>
      <Definition>21e798da-e06e-4eda-a511-ed257f78d4fa</Definition>
      <Type>Umbraco.RelatedLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The first link becomes the heading. Any others are listed beneath.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>416b7a35-d507-dcd8-bf05-4afac2c25da5</Key>
      <Name>Links 3</Name>
      <Alias>links3_Content</Alias>
      <Definition>21e798da-e06e-4eda-a511-ed257f78d4fa</Definition>
      <Type>Umbraco.RelatedLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The first link becomes the heading. Any others are listed beneath.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4b719e08-0af3-21ff-ff68-a0d2ec13448f</Key>
      <Name>Links 4</Name>
      <Alias>links4_Content</Alias>
      <Definition>21e798da-e06e-4eda-a511-ed257f78d4fa</Definition>
      <Type>Umbraco.RelatedLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The first link becomes the heading. Any others are listed beneath.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4362d68f-a47f-d516-dffd-19ee19f7a54f</Key>
      <Name>Links 5</Name>
      <Alias>links5_Content</Alias>
      <Definition>21e798da-e06e-4eda-a511-ed257f78d4fa</Definition>
      <Type>Umbraco.RelatedLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The first link becomes the heading. Any others are listed beneath.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>0d79e46e-8616-d4f3-3f2c-67f1f982d40a</Key>
      <Name>Links 6</Name>
      <Alias>links6_Content</Alias>
      <Definition>21e798da-e06e-4eda-a511-ed257f78d4fa</Definition>
      <Type>Umbraco.RelatedLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The first link becomes the heading. Any others are listed beneath.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7d7f8eac-3b16-d4ef-963a-ddf24bd40bb2</Key>
      <Name>Links 7</Name>
      <Alias>links7_Content</Alias>
      <Definition>21e798da-e06e-4eda-a511-ed257f78d4fa</Definition>
      <Type>Umbraco.RelatedLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The first link becomes the heading. Any others are listed beneath.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8bff044f-a433-b869-8a7f-4342b33d60d9</Key>
      <Name>Links 8</Name>
      <Alias>links8_Content</Alias>
      <Definition>21e798da-e06e-4eda-a511-ed257f78d4fa</Definition>
      <Type>Umbraco.RelatedLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The first link becomes the heading. Any others are listed beneath.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a9a87881-b631-f32e-e032-b8c873e5e661</Key>
      <Name>Links 9</Name>
      <Alias>links9_Content</Alias>
      <Definition>21e798da-e06e-4eda-a511-ed257f78d4fa</Definition>
      <Type>Umbraco.RelatedLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The first link becomes the heading. Any others are listed beneath.]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>