/*****************************
 * CMS TEMPLATE - TOPIC PAGE *
 *****************************/

/* Place images on the right or left. Side margin is one gutter space.
   Top margin matches that of paragraphs to line up, and bottom completes one line space, but in Chrome 14 the image is lower 
   because it adds the top margin of the paragraph to the top margin of the image, rather than combining them as FF7/IE8 do. */
.text .topicImageOdd { float: right; margin: .692308em 0 .692308em 18px; }
.text .topicImageEven { float: left; margin: .692308em 18px .692308em 0; }

/* Row of images section layout */
.imageRow { overflow: hidden; width: 100%; }
.imageRow div { float: left; }
.imageRow .topicImageEven, .imageRow .topicImageOdd { margin: 0 18px 0 0; }
.imageRow img { display: block; }

/* In edit mode at "large" size IE7 can have the footer start when the right column finishes, and .article disappears behind it. 
   This doesn't fix the footer position (couldn't find a way), but does show .article above it in a way that's editable. */
.ie7 .cms-edit .article { border-top: 1px solid white; position: relative; }

/* Pull-quotes. Width spans 4 cols in 8 with a gutter on the left. 
   Paragraph horizontal margins and pull-quote position are (18px gutter / (4 cols 310px - 18px .text gutter)) = 6.164384%
*/
.text blockquote { float: right; margin: .692308em 0 .692308em 2.821317%; width: 48.58934%; background-position: 6.164384% 1.384615em; border-radius: 5px; }
.text blockquote p { margin: .692308em 6.164384%; }
.text blockquote p:first-child { margin: 2.076923em 6.164384% .692308em; }
