/*****************************
 * CMS TEMPLATE - TOPIC PAGE *
 *****************************/

/* Image is centred within text, no wrapping. Combined top/bottom margin is one line space. */
.text .topicImageOdd, .text .topicImageEven { margin: .692308em 0; }
.text .topicImageEven input { width: auto; }

/* Set position for IE6/7, otherwise images sometimes disappear */
.ie67 .topicImageNoWrap img { position: relative; }

/* Highlighted content, related to TopicSection_Highlight.ascx
   One line space above and below, and other split between top and bottom padding.
   Colour is 20% tint of palette colour #ff5800 */
.highlightBox { background: #fdc; padding: .692308em 18px; margin: 1.384615em -18px; overflow: hidden; }

/* Pull-quotes. Overflow hidden keeps paragraph margin inside box. Background colour is 20% tint of #056BOB.
   Paragraph horizontal margins and pull-quote position are (18px gutter / (6 cols 474px - 2 x 18px .text gutters)) = 4.109589%
   ul margin is visually lined up with that.
*/
.text blockquote { overflow: hidden; margin: .692308em 0; background: #cde1ce url(/escc.eastsussexgovuk/img/body/quote-open.gif) no-repeat 4.109589% 1.384615em; }
.text blockquote:after {content: ' '; display: block; background: url(/escc.eastsussexgovuk/img/body/quote-close.gif) no-repeat 95.890411% 95%; padding-bottom: 26px; margin-top: -13px; margin-bottom: 5px; }
.text blockquote p { margin: .692308em 4.109589%; }
.text blockquote p:first-child { margin: 2.076923em 4.109589% .692308em; text-indent: 35px; }
.text blockquote ul { margin-left: 11%; }

/* Flood warnings in floodalert.ascx */
.flood { overflow: hidden; width: 100%; font-size: 1.230769em; line-height: 1.125em; font-weight: bold; padding-top: 18px; }
.flood a { font-size: .8125em; line-height: 1.384615em; display: block; font-weight: normal; }
.flood img { float: left; margin: -6px 1em 0 0; }
.flood-signup { margin: 1.384615em 0 0; }