<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Council Plan Priority" Key="574aef63-1433-422d-8dbf-c3bb39e55a3b" Id="Umbraco.DropDown" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="Council plan"><![CDATA[council-plan]]></PreValue>
    <PreValue SortOrder="2" Alias="Economic growth"><![CDATA[economic-growth]]></PreValue>
    <PreValue SortOrder="3" Alias="Vulnerable people"><![CDATA[vulnerable-people]]></PreValue>
    <PreValue SortOrder="4" Alias="Building resilience"><![CDATA[building-resilience]]></PreValue>
    <PreValue SortOrder="5" Alias="Best use of resources"><![CDATA[best-use-of-resources]]></PreValue>
  </PreValues>
</DataType>