<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>90cdd013-7792-419c-966d-e85058bf1f5b</Key>
    <Name>Document type expiry rule</Name>
    <Alias>documentTypeExpiryRule</Alias>
    <Icon>icon-timer color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Set expiry rules for all pages based on a specific document type, overriding the defaults</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2ecb6eac-59e0-4b7f-9aa2-2f7c94fc5acf</Key>
      <Name>Days</Name>
      <Alias>days</Alias>
      <Definition>e96a51cd-fbd4-4ce1-9ed9-a89d015b3862</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The maximum number of days (in addition to the Months property) that pages are allowed to be published before they expire.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Settings</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>66209d5d-c89d-447f-82c9-96516456b8b6</Key>
      <Name>Document types</Name>
      <Alias>documentTypes</Alias>
      <Definition>f6b4f90d-7713-4f81-9b35-a18bb1447bc2</Definition>
      <Type>RB.DocumentTypePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the document types this rule applies to.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b06cf06c-7637-4baa-91c9-c7983b475b71</Key>
      <Name>Force pages to never expire</Name>
      <Alias>forcePagesToNeverExpire</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[When ticked, overrides the Months and Days property and disallows setting any expiry date on matching pages.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Settings</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>355b8277-fdba-454f-96ec-0698a643bec6</Key>
      <Name>Level</Name>
      <Alias>level</Alias>
      <Definition>346faf06-a354-4a4f-8639-c0114fefe3c7</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the level that this rule applies at, eg 1 for Home, 2 for children of Home, or blank for everywhere.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Settings</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>830c8350-c416-4518-bf71-19c34d721dcf</Key>
      <Name>Months</Name>
      <Alias>months</Alias>
      <Definition>e96a51cd-fbd4-4ce1-9ed9-a89d015b3862</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The maximum number of months (in addition to the Days property) that pages are allowed to be published before they expire.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Settings</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>