<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Rating URL" Key="75717461-01ae-48c4-99a0-ccfce96643d5" Id="Escc.Umbraco.PropertyEditors.UrlPropertyEditor" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="rootRelative"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="2" Alias="pattern"><![CDATA[^https://app.customerthermometer.com/\?template=log_feedback&hash=]]></PreValue>
  </PreValues>
</DataType>