<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Landing page columns" Key="bc277a39-9e17-4a77-8708-c2d1c777f134" Id="Umbraco.DropDown" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="0"><![CDATA[Auto]]></PreValue>
    <PreValue SortOrder="2" Alias="1"><![CDATA[2 columns]]></PreValue>
    <PreValue SortOrder="3" Alias="2"><![CDATA[3 columns]]></PreValue>
  </PreValues>
</DataType>