<?xml version="1.0" encoding="utf-8"?>
<ArrayOfSyncAction xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SyncAction>
    <TypeName>Umbraco.Core.Models.IContentType</TypeName>
    <Name>JobsComponent</Name>
    <Key>55a54302-1d39-4dd3-b66b-01990d3f2b64</Key>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>System.IO.FileInfo</TypeName>
    <Name>\DocumentType\customer-focus-base\jobs-component\def.config</Name>
    <Key>00000000-0000-0000-0000-000000000000</Key>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>Umbraco.Core.Models.IContentType</TypeName>
    <Name>HoldingPage</Name>
    <Key>d0f2fe92-6b8c-bfaf-9b3a-ee4fba7da37c</Key>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>System.IO.FileInfo</TypeName>
    <Name>\DocumentType\holding-page\def.config</Name>
    <Key>00000000-0000-0000-0000-000000000000</Key>
    <Action>Delete</Action>
  </SyncAction>
</ArrayOfSyncAction>