<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Latest" Key="e17df889-f551-476c-bccf-3c600051c9c2" Id="Escc.Umbraco.PropertyEditors.RichTextPropertyEditor" DatabaseType="Ntext">
  <PreValues>
    <PreValue SortOrder="1" Alias="hideLabel"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="2" Alias="editor"><![CDATA[{"dimensions":{"height":300},"formatters":["nbsp","removeEmptyBlock","removeTarget","removeIfMissingAttribute","autocorrect","fullstopsOutsideLinks","spacesOutsideLinks","smartQuotes","enDashes","ellipsis","startHeadingsWithCapital","startContentWithCapital"],"stylesheets":["TinyMCE-Content"],"toolbar":["removeformat","undo","redo","cut","copy","bold","bullist","numlist","link","unlink"],"validators":[{"name":"clickHere"},{"name":"linkToHere"},{"name":"visit"},{"name":"more"},{"name":"allCaps"},{"name":"urlAsLinkText"},{"name":"noDocuments"},{"max":100,"name":"maximumWords"}]}]]></PreValue>
  </PreValues>
</DataType>