<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Facebook URL" Key="3437151c-2912-4922-b23b-3a3aab1b7e7e" Id="Escc.Umbraco.PropertyEditors.UrlPropertyEditor" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="rootRelative"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="2" Alias="pattern"><![CDATA[^https://www.facebook.com/]]></PreValue>
  </PreValues>
</DataType>