/* Adapt 18px horizontal padding on h1 to 10 column grid.
   Reset base font to 45px/54px to accommodate the title "Equality of opportunity and fair treatment for all" on one line at full width, and adjust 27px vertical padding to new base font */
@media screen 
{
    .text-content h1 {font-size: 2.368421em;line-height: 1.2em; padding: .6em 2.244389%;margin: 0 0 .4em; } 
}

/* Maintain padding/margin at 9px on new base font size */
ol.plan-nav a, ol.plan-nav em { padding: .473684em 9px; margin: .473684em 0; }

/* Increase .coloured intro para to 24/27px on new 19px base font */
.highlighted { font-size: 1.263158em; line-height: 1.125em; margin: .75em 0 .375em; } /* 20px/27px, 18px+9px margin */

/* Padding for .aims-box is 18px within context of (10 grid columns less two outer gutters) */ 
.aims-box { padding-left: 2.349869%; padding-right: 2.349869%; }

/* Update gaps around images for new base font size */
.person, .logos img { margin: .473684em .473684em .473684em 0; }
.person img { margin: .473684em 0; }
.images { margin: .947368em 0 0; }
.plan-content .images img { margin: 0 .473684em .473684em 0; }

/* SVG budget diagrams. Adjust margins for base font size. */
object { margin: .947368em 0 0; }
object img { margin: .947368em 0 0; }
             
/* Priorities template - now in two columns, and on 19px base font
Width is (5 cols - 27px in context of 10 cols - 54px) = (365px in 748px).
*/
@media screen {
    .priorities .group h2 { padding: .6em 3.797468%; }
}
.priorities .group { overflow: hidden; }
.priorities .building-resilience, .priorities .economic-growth { float: left; width: 48.796791%; }
.priorities .best-use-of-resources, .priorities .vulnerable-people { float: right; width: 48.796791%; }
.priorities object { margin: .947368em auto; }