<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>099f930d-c680-0a4b-c220-11f6606fd2c1</Key>
    <Name>Alerts</Name>
    <Alias>alerts</Alias>
    <Icon>icon-radio</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Compositions />
    <DefaultTemplate>Alerts</DefaultTemplate>
    <AllowedTemplates>
      <Template>Alerts</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <DocumentType Key="2f16d064-30f1-8a65-2843-20850e4ff393">alert</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a6c91634-0631-bfbe-c183-11b0930ddf2d</Key>
      <Name>Author notes</Name>
      <Alias>authorNotes</Alias>
      <Definition>b89f1310-5400-4e66-8b8e-3949685d4624</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>9432933b-49a1-ca57-8ca5-a17025cb2b62</Key>
      <Name>Page URL</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</DocumentType>