<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>5a89548c-33d1-d549-77b6-778aa1695950</Key>
    <Name>Task</Name>
    <Alias>task</Alias>
    <Icon>icon-shipping</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Something a resident wants to get done, which the council can help with. For example, pay for a service or apply for a scheme.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master Key="f18d3501-1670-967a-50a6-e5d7993e6721">customerFocus</Master>
    <Compositions>
      <Composition Key="f18d3501-1670-967a-50a6-e5d7993e6721">customerFocus</Composition>
    </Compositions>
    <DefaultTemplate>Task</DefaultTemplate>
    <AllowedTemplates>
      <Template>Task</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <DocumentType Key="8d153f1e-113a-60b8-8603-85dfa901616d">CampaignLanding</DocumentType>
    <DocumentType Key="e81a9ef1-6701-bf2e-a4dd-cfe34ff74e69">Childcare</DocumentType>
    <DocumentType Key="d3bc23bf-ee4d-0bfd-cf3e-1a93844801dd">CouncilOffice</DocumentType>
    <DocumentType Key="074301c3-8dc7-57b0-156b-87dcf17316da">DayCentre</DocumentType>
    <DocumentType Key="353c2dfa-1e8b-4c78-9007-e62baddfa628">Form</DocumentType>
    <DocumentType Key="a908f006-49d7-55ef-9780-251b2088ae01">Guide</DocumentType>
    <DocumentType Key="9e2e3f26-5dfc-e842-ed95-b5fe7008d873">Landing</DocumentType>
    <DocumentType Key="12aa1590-3f2c-c980-e904-fd2aa6a007c6">Library</DocumentType>
    <DocumentType Key="069f05c3-5e1f-fb26-dfff-e94e49457db4">location</DocumentType>
    <DocumentType Key="34343f14-7053-41e4-ee32-a2ae3ea17a5e">Map</DocumentType>
    <DocumentType Key="1a3718fc-b452-b425-167b-0ebd64bdcbd3">Park</DocumentType>
    <DocumentType Key="3259124c-2546-3788-07f6-aaf0072acac0">Person</DocumentType>
    <DocumentType Key="9c33c6ee-c46c-9fd5-8f61-d8e9c55525d8">RecyclingSite</DocumentType>
    <DocumentType Key="a8c2af57-1b6d-6672-b3ef-0d98e40565a2">RegistrationOffice</DocumentType>
    <DocumentType Key="a47f9610-bcf3-4ff9-9dc2-8b05e60071af">RightsOfWayDeposits</DocumentType>
    <DocumentType Key="206fa5e5-aa8c-4313-b2a1-1839683bd537">RightsOfWayModifications</DocumentType>
    <DocumentType Key="4fad4c6b-d260-1ce5-b5d3-ebbf8f43f5ee">SportLocation</DocumentType>
    <DocumentType Key="41cd814e-6886-c6ac-664f-d86ff02dcdd1">standardDownloadPage</DocumentType>
    <DocumentType Key="f56bd76a-4fd6-55d3-cf3d-f0fba94e2b7a">standardLandingPage</DocumentType>
    <DocumentType Key="fa38c7bb-dea2-01a7-de69-cfe08c26a9f3">standardTopicPage</DocumentType>
    <DocumentType Key="5a89548c-33d1-d549-77b6-778aa1695950">task</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>78fa3660-09a4-bd6a-725b-0727b9c4bbc0</Key>
      <Name>Content 1</Name>
      <Alias>content1_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1b2df595-f75e-4b8e-15c0-50562a0e80be</Key>
      <Name>Content 2</Name>
      <Alias>content2_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>cefc3497-3981-c273-6b61-e7480bae7b09</Key>
      <Name>Content 3</Name>
      <Alias>content3_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>14efae17-0b1f-7ee0-714f-99de0c9871d9</Key>
      <Name>Content 4</Name>
      <Alias>content4_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a369191c-601d-555f-52cc-9bc5faff432a</Key>
      <Name>Leading text</Name>
      <Alias>leadingText_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>3a5e17ff-2bd5-d5d0-6983-943df20fd699</Key>
      <Name>Partner images</Name>
      <Alias>partnerImages_Content</Alias>
      <Definition>7e3962cc-ce20-4ffc-b661-5897a894ba7e</Definition>
      <Type>Umbraco.MultipleMediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7efa8dde-3a00-b28a-c066-aade33e79f44</Key>
      <Name>Related links</Name>
      <Alias>relatedLinks_Content</Alias>
      <Definition>21e798da-e06e-4eda-a511-ed257f78d4fa</Definition>
      <Type>Umbraco.RelatedLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>e1a03ec1-8da5-541e-e39e-e281439b5c30</Key>
      <Name>Button: text</Name>
      <Alias>startButtonText_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4cd996b3-5602-0c17-9259-476e95293e47</Key>
      <Name>Button: target URL</Name>
      <Alias>startPageUrl_Content</Alias>
      <Definition>cd695bc5-45a5-4ebc-9e30-c89eb0bb6972</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UrlPropertyEditor</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>81d5b444-20d0-e0d3-7a34-f49d7a3088a8</Key>
      <Name>Subheading 1</Name>
      <Alias>subheading1_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a0fca2ac-35a6-86e6-36af-93e29ebb6795</Key>
      <Name>Subheading 2</Name>
      <Alias>subheading2_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ac5e47cd-7e0c-5be1-8d04-4537b2ff57a2</Key>
      <Name>Subheading 3</Name>
      <Alias>subheading3_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>845b907c-f8fb-102b-bc3b-b9a04e334ec4</Key>
      <Name>Subheading 4</Name>
      <Alias>subheading4_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>