<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>bee1a889-7121-543d-536b-8295b1242a1f</Key>
    <Name>Guide step</Name>
    <Alias>GuideStep</Alias>
    <Icon>icon-footprints</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>One of a series of pages in a specific order, which tell people all they need to know about a subject.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master Key="f18d3501-1670-967a-50a6-e5d7993e6721">customerFocus</Master>
    <Compositions>
      <Composition Key="f18d3501-1670-967a-50a6-e5d7993e6721">customerFocus</Composition>
    </Compositions>
    <DefaultTemplate>GuideStep</DefaultTemplate>
    <AllowedTemplates>
      <Template>GuideStep</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a8cf0e73-6379-33df-2e3c-1ac00c3d52e0</Key>
      <Name>Content</Name>
      <Alias>content_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>5789907c-7f29-401f-b740-5bdc9dcfec81</Key>
      <Name>Hide from search engines</Name>
      <Alias>hideFromSearchEngines</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Ask search engines like Google not to include this page. This does not take effect until they revisit the page.]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>0fc52d76-3d08-6f17-af51-b153343326c2</Key>
      <Name>Partner images</Name>
      <Alias>partnerImages_Content</Alias>
      <Definition>7e3962cc-ce20-4ffc-b661-5897a894ba7e</Definition>
      <Type>Umbraco.MultipleMediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>d8d79f63-ec08-6abd-9710-3e0cfb8efb72</Key>
      <Name>Related links</Name>
      <Alias>relatedLinks_Content</Alias>
      <Definition>21e798da-e06e-4eda-a511-ed257f78d4fa</Definition>
      <Type>Umbraco.RelatedLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Social media and promotion</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>