/* Job search results */
.job-results thead { display: table-header-group;}
.jobs-content .job-results th, .jobs-content .job-results td { display: table-cell;border: .052631em solid #ccc;width: auto;text-align: left; }
.job-results td { padding: .421053em;}
.job-results tr { display: table-row; line-height: inherit; padding-bottom: 0; border-bottom: none; }
.job-results td.closing-date span { display: none;}

/* Still hide organisation column */
.jobs-content .job-results .organisation {display: none; }

.jobs-buttons { display: flex;flex-wrap: wrap;justify-content: center; }
.jobs-buttons li { flex-basis: 45%;}
.jobs-buttons li.feature { height: 200px; float: left;margin-right: 10px;margin-bottom: 10px; }
