/* Remove any space between the main menu and the background of .jobs-header */
.body .container { padding-top: 0;}
.header { border-bottom: none;}

/* Fix paging layout - needs to go into sitewide styles */
ul.pagingPages { margin: 0;}
.pagingPages li { display: inline;list-style: none;margin-right:.2em;}

/* .jobs-header is the positioning context for the search box on the jobs home page.
   .jobs-header .context is the positioning context for the logo and login links
*/
.jobs-header { position: relative;}
.jobs-header .context { position: relative; top: 36px;}
.jobs-header .login { position: absolute;right: 0;top: 0;margin: 0; font-weight: bold;}
.jobs-header.with-image .login { padding: .25em 9px .3125em;background: #fff;border-radius: 5px; }
.jobs-header .login a { text-decoration: none;color: #003c69;}

/* Width is 100% less two gutters, because absolute positioning loses the effect of .content */
.jobs-search {  position: absolute; bottom: 1.125em; width: 92.405063%; }
.jobs-search .form { background: none;margin: 0;padding: 0;}
.jobs-search .form label {display: block;font-size: 1.875em;line-height: 1.2em;margin-bottom: .3em;font-weight: bold;color: #fff; }
.jobs-search input[type=search] { width: 100%;}
.jobs-search input[type=submit] { background: #ED5816; }
.jobs-search input[type=submit]:hover, .jobs-search input[type=submit]:focus, .jobs-search input[type=submit]:active { background: #EE4902; }
.jobs-search .buttons a {display: inline-block;vertical-align: middle;text-decoration: none;color: #fff;font-size: 1em;}


/* One line space between the header and content */
.jobs-content { padding-top: 1.125em; }

/*** DRAFT: MAKE THIS A SHARED COMPONENT WITH THE HOME PAGE ***/
/* News feature story. A single link surrounds the whole feature so that hovering over it highlights the link text. */
ul.jobs-buttons { margin: 0; padding: 0;background: #fff; }
.jobs-buttons li { list-style: none;}
.jobs-buttons .feature, .jobs-buttons .feature a:link, .jobs-buttons .feature a:visited { text-decoration: none; color: #fff; }
.jobs-buttons .feature a:hover, .jobs-buttons .feature a:focus, .jobs-buttons .feature a:active { text-decoration: underline; }

/* The image is display: block to remove a space after, and can't be wider than the screen. The containing
   list-item also has a server-generated max-width to ensure the caption can't extend beyond the image. 
   Caption is 16px on 18px font, absolutely positioned within the feature item.
*/
.jobs-buttons .feature { position: relative; list-style: none; margin: 0 0 .692308em;}
.jobs-buttons .feature img {width: 100%; max-width: 100%; display: block; }
@media screen {
    .jobs-buttons .caption { position: absolute; bottom: 0; width: 100%; background-color: #003c69; background-color: rgba(0, 78, 126, .8); font-size: 1em; line-height: 1.125em; font-weight: bold; }
    .jobs-buttons .caption p { padding: 0 3%; }
    .jobs-buttons .caption span { padding: 0 20px 0 0; background: url(https://www.eastsussex.gov.uk/img/body/item-type.png) no-repeat right -1091px; }
}

/*** END DRAFT FEATURE LAYOUT ***/

/* Job search results */
.job-results th, .job-results td { display: inline-block;border: none; }
.job-results td { padding: 0;}
.job-results tr { display: block; line-height: 1.125em;padding-bottom: 1em; margin-bottom: 1em;border-bottom: 1px solid #ccc; }
.job-results td.job-title { display: block;margin-bottom: 9px; }
.job-results thead, .job-results .organisation {display: none; }
.job-results td.location, .job-results td.salary, .job-results td.closing-date { display: block; }
