/* Remove any space between the main menu and the background of .jobs-header */
.body .container { padding-top: 0;}
.header { border-bottom: none;}

/* Fix paging layout - needs to go into sitewide styles */
ul.pagingPages { margin: 0;}
.pagingPages li { display: inline;list-style: none;margin-right:.2em;}

.jobs-header .context { position: relative; top: 36px;}
.jobs-header .login { position: absolute;right: 0;top: 0;margin: 0;}
.jobs-header.with-image .login { padding: 9px;background: #fff;border-radius: 5px;}

.jobs-search {  position: absolute; bottom: 20px; width: 100%; }
.jobs-search input[type=search] { font-size: 16px;padding: 9px;border-radius: 5px;border: 2px solid #ccc;width: 89%;}
.jobs-search input[type=submit] { font-size: 16px;padding: 9px;border-radius: 5px;border: 2px solid #ccc;width: 10%;}

.jobs-content { padding-top: 18px; }

/*** DRAFT: MAKE THIS A SHARED COMPONENT WITH THE HOME PAGE ***/
/* News feature story. A single link surrounds the whole feature so that hovering over it highlights the link text. */
.jobs-buttons ul { margin: 0; padding: 0;background: #fff; }
.jobs-buttons li { list-style: none;}
.jobs-buttons .feature a:link, .jobs-buttons .feature a:visited { text-decoration: none; color: #fff; }
.jobs-buttons .feature a:hover, .jobs-buttons .feature a:focus, .jobs-buttons .feature a:active { text-decoration: underline; }

/* The image is display: block to remove a space after, and can't be wider than the screen. The containing
   list-item also has a server-generated max-width to ensure the caption can't extend beyond the image. 
   Caption is 16px on 18px font, absolutely positioned within the feature item.
*/
.jobs-buttons .feature { position: relative; list-style: none; margin: 0 0 .692308em;}
.jobs-buttons .feature img {width: 100%; max-width: 100%; display: block; }
@media screen {
    .jobs-buttons .feature { max-width: 236px; }
    .jobs-buttons .caption { position: absolute; bottom: 0; width: 100%; background-color: #003c69; background-color: rgba(0, 78, 126, .8); font-size: 1em; line-height: 1.125em; font-weight: bold; }
    .jobs-buttons .caption p { padding: 0 3%; }
    .jobs-buttons .caption span { padding: 0 20px 0 0; background: url(/img/body/item-type.png) no-repeat right -1091px; }
}

/* A second feature gets a different colour caption */
.jobs-buttons .feature:nth-child(even) .caption { background-color: #056b0b; background-color: rgba(5,107,11,.8); }


/*** END DRAFT FEATURE LAYOUT ***/

/* Job search results */
.job-results th, .job-results td { display: inline-block;border: none; }
.job-results td { padding: 0;}
.job-results tr { display: block; line-height: 1.125em;padding-bottom: 1em; margin-bottom: 1em;border-bottom: 1px solid #ccc; }
.job-results td.job-title { display: block;margin-bottom: 9px; }
.job-results thead, .job-results .organisation {display: none; }
.job-results td.location, .job-results td.salary, .job-results td.closing-date { display: block; }
