/* Remove any space between the main menu and the background of .jobs-header */
.body .container { padding-top: 0;}
.header { border-bottom: none;}

/* .jobs-header is the positioning context for the search box on the jobs home page.
   .jobs-header .context is the positioning context for the logo and login links
*/
.jobs-header { position: relative;}
.jobs-header .context { position: relative; top: 36px;}
.jobs-header .login { position: absolute;right: 0;top: 0;margin: 0; font-weight: bold;}
.jobs-header.with-image .login { padding: .25em 9px .3125em;background: #fff;border-radius: 5px; }
.jobs-header .login a { text-decoration: none;color: #003c69;}

/* Width is 100% less two gutters, because absolute positioning loses the effect of .content */
.jobs-search {  position: absolute; bottom: 1.125em; width: 92.405063%; }
.jobs-search .form { background: none;margin: 0;padding: 0;}
.jobs-search .form label {display: block;font-size: 1.875em;line-height: 1.2em;margin-bottom: .3em;font-weight: bold;color: #fff; }
.jobs-search input[type=search] { width: 100%;}
.jobs-search input[type=submit] { background: #ED5816; }
.jobs-search input[type=submit]:hover, .jobs-search input[type=submit]:focus, .jobs-search input[type=submit]:active { background: #EE4902; }
.jobs-search .buttons a {display: inline-block;vertical-align: middle;text-decoration: none;color: #fff;font-size: 1em;}

/* One line space between the header and content */
.jobs-content { padding-top: 1.125em; }

/* On the jobs home template the .latest doesn't follow h1 as it usually would */
.jobs-home .latest { margin-top: 0;}

/* Arrange .feature-tile instances (from sitewide styles) into a list */
ul.job-tiles { margin: 0; padding: 0; }

/* Job search results */
.jobs-content .pagingPages { margin: 0; }
.job-results th, .job-results td { display: inline-block;border: none; }
.job-results td { padding: 0;}
.job-results tr { display: block; line-height: 1.125em;padding-bottom: 1em; margin-bottom: 1em;border-bottom: 1px solid #ccc; }
.job-results td.job-title { display: block;margin-bottom: 9px; }
.job-results thead {display: none; }
.job-results td.location, .job-results td.salary, .job-results td.closing-date { display: block; }
.job-results td.work-pattern, .job-results td.closing-date { white-space: nowrap; }

/* Login - space around links */
#chpLogForgot { margin: 1.125em 0 0; }
