/* Jobs header, including a search box on the home page. The fallback for no flexbox support is to stick with the stacked layout used on mobile. 
   Width is 100% less two gutters, because absolute positioning loses the effect of .content */
.jobs-header.with-image .login { padding: .210526em 9px .26316em;}
.jobs-search { width: 95.511222%; }
.jobs-search .form label {font-size: 1.894737em;line-height: 1em;margin-bottom: .25em; }
.flexbox .jobs-search .fields { display: flex; align-items: center; }
.flexbox .jobs-search input[type=search] {width: auto; flex-grow: 4;}
.flexbox .jobs-search .buttons { flex-grow: 1; flex-basis: 7.5em;white-space: nowrap; }
.flexbox .jobs-search input[type=submit] { margin: 0;}

/* IE11 supports flexbox but it's buggy and the advanced search button gets clipped, so undo flexbox for that browser */
@media all and (-ms-high-contrast:none) {
    .jobs-search .form label { font-size: 1.5em; } /* IE10 and 11 */
    *::-ms-backdrop, .flexbox .jobs-search input[type=search] { width: 97.5%; margin-bottom: 4px; } /* IE11 */
    *::-ms-backdrop, .flexbox .jobs-search .fields { display: block; } /* IE11 */
}

/* One line space between the header and content */
.jobs-content { padding-top: .947368em; }

/* Job search results */
.job-results thead { display: table-header-group;}
.jobs-content .job-results th, .jobs-content .job-results td { display: table-cell;border: .052631em solid #ccc;width: auto;text-align: left; }
.job-results td { padding: .421053em;}
.job-results tr { display: table-row; line-height: inherit; padding-bottom: 0; border-bottom: none; }
.job-results td.closing-date span { display: none;}

/* Still hide some columns, but now we need to override the table styles above */
.jobs-content .job-results .work-pattern {display: none; }

/* Tiles on the jobs home page - Context is (10 cols - 2 gutters = 766), subtract a gutter for the margin and divide by two */
.job-tiles li.feature-tile { float: left;margin-bottom: .947368em;width: 48.825065%; }
.job-tiles li.odd { margin-right: 2.349869%;}

/* Login - space around links */
#chpLogForgot { margin: .947368em 0 0; }

/* Candidate home page */
.chpEditPIF a, .chpViewPIF a, .chpPass a { background-position: 100% -496px; }


/* Jobs search field embedded into the 'Job closed' page */
.job-search-simple label { display: block;}
.job-search-simple input[type=search] { width: 80%; }

/* On a job advert, the .mobile-nav is now hidden so reset the footer to normal */
.footer-with-mobile-nav .footer { padding-bottom: 0; }