/* Add two lines of space between the search in the header and the bottom of the header */
.jobs-search { bottom: 1.894737em;width: 96.4%; }

/* Optional caption for header image. Position from right is by eye, to align with advanced search button. Font size is 15px in 19px context. */
.jobs-header .caption { display: inline-block; position: absolute; bottom: 0; right: 2.3%; font-size: .789474em; font-style: italic; font-weight: bold; color: #fff; }

/* Job search results */
.jobs-content .job-results .work-pattern {display: table-cell; }

/* Tiles on the jobs home page - Context is (10 cols - 2 gutters = 766), subtract a gutter for the margin and divide by two */
.article .job-tiles li.feature-tile { width: 48.58934%; }
.article .job-tiles li.odd {margin-left: 0; margin-right: 2.821317%;}

/* Tiles on the jobs home page - Context is (12 cols - 2 gutters = 930), subtract 2 gutters and divide by three */
.full-page .job-tiles li.feature-tile {margin-left: 0;width: 32.043011%; }
.full-page .job-tiles li.group1, .full-page .job-tiles li.group2 {  margin-right: 1.935484%; }
.full-page .job-tiles li.group3 { margin-right: 0;}

/* Social media on the jobs home page - add a right margin to align with elements in the header */
.supporting-jobs .large { margin-right: 5.806452%; }

/* Jobs search field embedded into the 'Job closed' page */
.job-search-simple label { display: inline-block; }
.job-search-simple input[type=search] { width: 68%;}

/* Allow a wider column for the table on the job advert page. It's 7 cols and 5 cols, but with 2% given off the grid to .article because .supporting is wide enough at 38% */
.job-advert .article { width: 59.55694%; }
.job-advert .supporting { width: 38.57971%; }