<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>d1ae5a5f-4385-4250-8fb4-64766eb3b02b</Key>
    <Name>Job alerts</Name>
    <Alias>JobAlerts</Alias>
    <Icon>icon-radio-alt</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Configure the job alerts feature which allows users to subscribe to alerts about new jobs matching their search.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master Key="f18d3501-1670-967a-50a6-e5d7993e6721">customerFocus</Master>
    <Compositions>
      <Composition Key="f18d3501-1670-967a-50a6-e5d7993e6721">customerFocus</Composition>
    </Compositions>
    <DefaultTemplate>JobAlerts</DefaultTemplate>
    <AllowedTemplates>
      <Template>JobAlerts</Template>
      <Template>JobsCss</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>11ed5656-5438-447d-af50-926f07bb9512</Key>
      <Name>Alert email: body</Name>
      <Alias>AlertEmailBody_Alert_settings</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The body of job alert emails. Use {jobs} to insert the jobs.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Alert settings</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>3b53a33c-3f45-45b1-89dd-c291b8143457</Key>
      <Name>Alert email: subject</Name>
      <Alias>AlertEmailSubject_Alert_settings</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The subject line of job alert emails.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Alert settings</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>12c38256-a779-4244-8fed-7d587a3b90c0</Key>
      <Name>Base URL</Name>
      <Alias>BaseUrl_Alert_settings</Alias>
      <Definition>cd695bc5-45a5-4ebc-9e30-c89eb0bb6972</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UrlPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Base URL for links to jobs and job alert settings, if not the current domain]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Alert settings</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ab4dc0d5-e960-4726-aa3c-062121a3fc2f</Key>
      <Name>Header background image (small screens)</Name>
      <Alias>HeaderBackgroundImage_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the background image for the page header on small screens such as mobiles. Tiles horizontally up to 474px wide, or until overridden by an image for larger screens.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c9ab4d57-1e19-440e-8384-20d6f08a6c5d</Key>
      <Name>Header background image (large screens)</Name>
      <Alias>HeaderBackgroundImageLarge_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the background image for the page header on large screens such as laptops.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>da55c682-e8c2-43ec-ac1b-cc9625cc0a3a</Key>
      <Name>Header background image (medium screens)</Name>
      <Alias>HeaderBackgroundImageMedium_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the background image for the page header on medium screens such as tablets. Tiles horizontally up to 802px wide, or until overridden by an image for larger screens.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>769eb774-f253-4569-af78-d218169c15ca</Key>
      <Name>Job advert page</Name>
      <Alias>JobAdvertPage_Alert_settings</Alias>
      <Definition>a6857c73-d6e9-480c-b6e6-f15f6ad11125</Definition>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the page used to display a single job advert, based on the 'Job advert' document type]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Alert settings</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b3bec428-4ad9-4138-b71e-ccfcc1bf504c</Key>
      <Name>Jobs home page</Name>
      <Alias>JobsHomePage_Content</Alias>
      <Definition>a6857c73-d6e9-480c-b6e6-f15f6ad11125</Definition>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the jobs home page, to be linked from the logo]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>11374e48-56fd-498c-80ad-7a75806500f2</Key>
      <Name>Logo</Name>
      <Alias>JobsLogo_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the logo for the jobs service]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1847f558-f74f-41d2-9458-ae461081d0d1</Key>
      <Name>Login page</Name>
      <Alias>LoginPage_Content</Alias>
      <Definition>a6857c73-d6e9-480c-b6e6-f15f6ad11125</Definition>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the jobs login page, based on the 'Jobs component' document type]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>dcbe9d0e-e05f-4e9a-ad94-7491f994ea14</Key>
      <Name>Login URL</Name>
      <Alias>loginURL</Alias>
      <Definition>cd695bc5-45a5-4ebc-9e30-c89eb0bb6972</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UrlPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the URL to login, if it is not based on 'Jobs component']]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b4a6d5f9-1932-40dc-9397-2838a0e6915d</Key>
      <Name>Alert confirmation email: body</Name>
      <Alias>NewAlertEmailBody_Alert_settings</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The body of the email sent out when someone creates an alert. Use {alert-description} to insert the search the alert is based on. Link to {change-alert-url} to insert a link to change or cancel the alert.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Alert settings</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f3876cbb-1c4e-4eb6-98a0-d8a7645156bf</Key>
      <Name>Alert confirmation email: subject</Name>
      <Alias>NewAlertEmailSubject_Alert_settings</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The subject line of the email sent out when someone creates an alert. If this is blank, no email will be sent.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Alert settings</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7ab60741-4fa7-4fac-af72-38aa8f7bb806</Key>
      <Name>Which jobs should this page show?</Name>
      <Alias>PublicOrRedeployment_Content</Alias>
      <Definition>49c49465-1051-40b4-a30d-e2c0ddd1e414</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Alert settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>