<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>73889a65-9799-40ed-9739-42ee44c7ecd5</Key>
    <Name>Skin</Name>
    <Alias>Skin</Alias>
    <Icon>icon-brush</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Apply a custom skin to a section of the content.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>10053ae2-e8ff-4f0c-864f-3d0e3bfe6e9e</Key>
      <Name>Author notes</Name>
      <Alias>authorNotes</Alias>
      <Definition>b89f1310-5400-4e66-8b8e-3949685d4624</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a79deede-b279-4b90-b85f-59455daf96dc</Key>
      <Name>Skin</Name>
      <Alias>Skin_Apply_skin</Alias>
      <Definition>d67cbde6-cced-46b1-ba33-7ed970aca330</Definition>
      <Type>Umbraco.DropDown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the skin to apply.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Apply skin</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>fe5b6eaa-4418-49cf-aa42-fbc24dca1a35</Key>
      <Name>Where to apply it?</Name>
      <Alias>WhereToApplyIt_Apply_skin</Alias>
      <Definition>a25a3b2a-ef4f-415c-a966-622e4a99f617</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the target pages on which to apply the skin. This setting cascades to child pages.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Apply skin</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Apply skin</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>