<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>4424d70d-ddab-e441-673f-8b33bf741ff7</Key>
    <Name>Council Plan Topic page</Name>
    <Alias>CouncilPlanTopicPage</Alias>
    <Icon>icon-article</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Council Plan topic page.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master Key="e0f09067-5ef9-ddf2-0f38-9b6b717dab60">LegacyBase</Master>
    <Compositions>
      <Composition Key="e0f09067-5ef9-ddf2-0f38-9b6b717dab60">LegacyBase</Composition>
    </Compositions>
    <DefaultTemplate>CouncilPlanTopicPage</DefaultTemplate>
    <AllowedTemplates>
      <Template>CouncilPlanTopicPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <DocumentType Key="73c04308-8252-2d94-5361-15b45172a84e">CouncilPlanMonitoringPage</DocumentType>
    <DocumentType Key="4424d70d-ddab-e441-673f-8b33bf741ff7">CouncilPlanTopicPage</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>166323a7-2fa8-48ee-a667-34485a02449e</Key>
      <Name>Image 1 Caption</Name>
      <Alias>phDefCaption05_Content</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>34</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>32e4b973-e562-4f26-80ee-4da2e2f0f170</Key>
      <Name>Image 2 Caption</Name>
      <Alias>phDefCaption06_Content</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>36</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f5b101c6-b65f-4540-9080-a56d3ccc3ab1</Key>
      <Name>Image 3 Caption</Name>
      <Alias>phDefCaption07_Content</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>38</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8fdced63-7865-4035-8d08-46d4383e5aa1</Key>
      <Name>Image 4 Caption</Name>
      <Alias>phDefCaption08_Content</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>40</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>731b6694-1215-4c51-8cec-a5aef7abf620</Key>
      <Name>Additional Image 1 Caption</Name>
      <Alias>phDefCaption09_Content</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b605719e-e0e1-498e-8db6-efd397ef4e1d</Key>
      <Name>Additional Image 2 Caption</Name>
      <Alias>phDefCaption10_Content</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>dd7f0462-3b6c-4ed5-a0a5-9f6dddf0bb58</Key>
      <Name>Additional Image 3 Caption</Name>
      <Alias>phDefCaption11_Content</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1d5b3a5d-518c-41c1-99e7-46f7b4657312</Key>
      <Name>Additional Image 4 Caption</Name>
      <Alias>phDefCaption12_Content</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>14</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c6f0b502-b616-4937-8a60-fd52b72951a4</Key>
      <Name>Additional Image 5 Caption</Name>
      <Alias>phDefCaption13_Content</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>18</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>0b95f1b3-9a25-48d9-9f17-44362b22ff5c</Key>
      <Name>Additional Image 6 Caption</Name>
      <Alias>phDefCaption14_Content</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>20</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>3d09f825-67a7-49fc-8e3f-0061d0d301d7</Key>
      <Name>Additional Image 7 Caption</Name>
      <Alias>phDefCaption15_Content</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>23</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b12082a5-9301-c0b5-7a9b-1888fccf3f70</Key>
      <Name>Chief Executive</Name>
      <Alias>phDefChiefExecName_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>28</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7c44e5da-ac69-7da0-c06a-1e0c2c56a2fa</Key>
      <Name>Content</Name>
      <Alias>phDefContent01_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>2876e056-3d63-9af1-d976-89cd4b0ef5d7</Key>
      <Name>Aims</Name>
      <Alias>phDefContent02_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Boxed content, eg for aims of a Council Plan priority]]></Description>
      <SortOrder>29</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>eebd235e-f796-3842-120f-f2c18cacc0bb</Key>
      <Name>Second Column text</Name>
      <Alias>phDefContent03_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text and logos for second column. If not used, the page will adapt to a single column layout.]]></Description>
      <SortOrder>30</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>bc1e5a51-080d-6cca-3ffb-6c78fe32e914</Key>
      <Name>Additional Content 1</Name>
      <Alias>phDefContent04_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>16d1141a-1e65-e61f-c71a-b12eafdf388e</Key>
      <Name>Additional Content 2</Name>
      <Alias>phDefContent05_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>0fa728c2-70db-fa33-a25f-0db1c50244df</Key>
      <Name>Additional Content 3</Name>
      <Alias>phDefContent06_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>38e044fd-f77f-bb5e-feac-2ee529c58db7</Key>
      <Name>Additional Content 4</Name>
      <Alias>phDefContent07_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>15</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>94591378-cdc9-7fbc-2bc8-438e51977ecb</Key>
      <Name>Additional Content 5</Name>
      <Alias>phDefContent08_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>17</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>14e8eded-6d01-57a3-8ec8-7975ad051f5b</Key>
      <Name>Additional Content 6</Name>
      <Alias>phDefContent09_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>21</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ee5ba776-ef6c-52b8-adb0-1099abd6c58c</Key>
      <Name>Additional Content 7</Name>
      <Alias>phDefContent10_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>24</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8cc88576-96c8-5bf1-f43f-98cd0e9785f3</Key>
      <Name>Leader Image</Name>
      <Alias>phDefImage01_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>25</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4cf28350-3f0e-f9fa-8199-c3a8754d2594</Key>
      <Name>Chief Exec Image</Name>
      <Alias>phDefImage02_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>27</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a0147616-213f-f6d9-5336-8a71a13a3b08</Key>
      <Name>Logo 1</Name>
      <Alias>phDefImage03_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>31</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>825ab411-1c3f-ba4f-eb16-51c5016d5b9f</Key>
      <Name>Logo 2</Name>
      <Alias>phDefImage04_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>32</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>e266dde4-7408-49c3-1b08-4c4bf6c95539</Key>
      <Name>Image 1</Name>
      <Alias>phDefImage05_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Row of photos to appear at the foot of the page content]]></Description>
      <SortOrder>33</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4ddcf97b-2250-5553-2017-7aa0612f0f34</Key>
      <Name>Image 2</Name>
      <Alias>phDefImage06_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>35</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>21d339d7-3c3f-d0e3-e4ac-3ca928d4ebc6</Key>
      <Name>Image 3</Name>
      <Alias>phDefImage07_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>37</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f5a11489-282b-2bf6-b011-3981ead84d6c</Key>
      <Name>Image 4</Name>
      <Alias>phDefImage08_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>39</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>91643549-dc0a-4699-3f2b-03afb63548ca</Key>
      <Name>Additional Image 1</Name>
      <Alias>phDefImage09_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>55fc6f44-056e-7e1b-69a2-0fe72ccae2f9</Key>
      <Name>Additional Image 2</Name>
      <Alias>phDefImage10_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>5a0c3847-3b28-7636-1c0d-e4f4c8a4bd00</Key>
      <Name>Additional Image 3</Name>
      <Alias>phDefImage11_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8d540d02-62ec-b31f-5e5c-4b25fdbae71f</Key>
      <Name>Additional Image 4</Name>
      <Alias>phDefImage12_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>13</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>928fa0b8-178a-b62c-fcca-3ead5abf3be6</Key>
      <Name>Additional Image 5</Name>
      <Alias>phDefImage13_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>16</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>37752757-043b-6761-1f5e-c8feffc5baf5</Key>
      <Name>Additional Image 6</Name>
      <Alias>phDefImage14_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>19</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>02ca7c9a-9a06-b728-96b0-88699050b8ea</Key>
      <Name>Additional Image 7</Name>
      <Alias>phDefImage15_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>22</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1a244c7d-3071-b7c8-0a5d-3c689857c6e2</Key>
      <Name>Leader</Name>
      <Alias>phDefLeaderName_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>26</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a6725692-f399-4719-781f-250e4676ab0e</Key>
      <Name>Priority</Name>
      <Alias>phDefPriorityClass_Content</Alias>
      <Definition>574aef63-1433-422d-8dbf-c3bb39e55a3b</Definition>
      <Type>Umbraco.DropDown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>906a1e48-2191-5ce6-95dd-3afd5f6a741a</Key>
      <Name>Priority Title</Name>
      <Alias>phDefPriorityTitle_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8b06fecf-af76-b763-acaa-3b4574950395</Key>
      <Name>Related pages</Name>
      <Alias>phDefRelatedPages_Content</Alias>
      <Definition>255b3fe8-4e26-4b36-be0a-55fee03e8f98</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>41</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>d55bc30b-fb09-c13d-3e29-a65c9213463f</Key>
      <Name>Related websites</Name>
      <Alias>phDefRelatedSites_Content</Alias>
      <Definition>255b3fe8-4e26-4b36-be0a-55fee03e8f98</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>42</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>034481be-365f-c907-d8ac-b0f8dc52ff86</Key>
      <Name>Page Title</Name>
      <Alias>phDefTitle_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>