<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>c7b066f5-2678-49be-a7a3-4ede49f8defa</Key>
    <Name>Privacy notice</Name>
    <Alias>PrivacyNotice</Alias>
    <Icon>icon-keychain</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A privacy notice, required by UK data protection law for any service which collects personally identifiable information.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <DefaultTemplate>PrivacyNotice</DefaultTemplate>
    <AllowedTemplates>
      <Template>PrivacyNotice</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e60971f7-899a-4ba6-a9df-6768d1734f20</Key>
      <Name>Author notes</Name>
      <Alias>authorNotes</Alias>
      <Definition>b89f1310-5400-4e66-8b8e-3949685d4624</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>041acd2a-817c-41a0-9b4c-cad4d26e5f9a</Key>
      <Name>Is automated decision-making being used?</Name>
      <Alias>AutomatedDecisionMaking_How_is_it_used</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If automated decision making is used, state here and refer to guidance for data subject rights.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>How is it used?</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>bccb38be-301a-4e70-9584-a0c07bcf7b7b</Key>
      <Name>Cache</Name>
      <Alias>cache</Alias>
      <Definition>9fd11d4a-bcb2-4eea-bcd9-d6c26697e4a1</Definition>
      <Type>Umbraco.DropDown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Pages are cached for 24 hours by default. If this page is particularly time-sensitive, pick a shorter time.]]></Description>
      <SortOrder>101</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>cd3e5d79-147f-4f67-87b9-b9d03b39d241</Key>
      <Name>Contact details for your service</Name>
      <Alias>Contact_Contact</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Your service's contact details to find out about how personal data is used, eg Name of department, email address, phone number.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Contact</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ebd4a2db-0ff1-4038-a056-dd37850b48a0</Key>
      <Name>Editor notes: Complain</Name>
      <Alias>EditorNotesComplain_Contact</Alias>
      <Definition>0c4e4f6e-6694-4352-ae25-4f728d0127a8</Definition>
      <Type>tooorangey.EditorNotes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Contact</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>33a2f83e-13c5-4453-bd01-a212d54832db</Key>
      <Name>Editor notes: Contact</Name>
      <Alias>EditorNotesContact_Contact</Alias>
      <Definition>032affae-2ada-44ad-8e31-44fd62084ce4</Definition>
      <Type>tooorangey.EditorNotes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Contact</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>0e976307-ff94-4119-9d08-6936057a18c9</Key>
      <Name>Editor notes: Contractual obligation</Name>
      <Alias>EditorNotesContract_Sharing</Alias>
      <Definition>20ef798f-0f5b-4f1a-a8ff-fb5719a53db7</Definition>
      <Type>tooorangey.EditorNotes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Sharing</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8add2ef1-0a5e-4b62-9cd6-44a18c2d6854</Key>
      <Name>Editor notes: Examples</Name>
      <Alias>EditorNotesExamples_Overview</Alias>
      <Definition>9c8eb1dc-e3e6-4ac6-a824-1e99f895caa1</Definition>
      <Type>tooorangey.EditorNotes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Overview</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>0bd9b1b3-b91a-4797-b1ce-3a84f700f56d</Key>
      <Name>Editor notes: High standards</Name>
      <Alias>EditorNotesHighStandards_How_is_it_used</Alias>
      <Definition>fc13537f-e2b8-47c6-8207-43952263c3ed</Definition>
      <Type>tooorangey.EditorNotes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>How is it used?</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ce5d5e18-5d6b-4703-beee-ad27c136001e</Key>
      <Name>What is personal data?</Name>
      <Alias>EditorNotesPersonalData_What_is_used</Alias>
      <Definition>c7f7a003-5721-4296-b225-5f7fe1b425d2</Definition>
      <Type>tooorangey.EditorNotes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>What is used?</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>de7ec91f-d5d8-48d0-81ef-1ee41aee2e88</Key>
      <Name>Editor notes: Retention schedule</Name>
      <Alias>EditorNotesRetention_How_long_for</Alias>
      <Definition>197b7975-dca2-4bab-8eaf-18693a100b0a</Definition>
      <Type>tooorangey.EditorNotes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>How long for?</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>55ec1f60-8f4b-4e0b-8580-d22d7276c0fb</Key>
      <Name>Editor notes: Rights</Name>
      <Alias>EditorNotesRights_Rights</Alias>
      <Definition>cb4aee40-1180-43d4-8f19-9dfb99ff6fe6</Definition>
      <Type>tooorangey.EditorNotes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Rights</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a4bbb01a-4571-487e-8375-e5e26e1cbfa9</Key>
      <Name>Editor notes: Sharing</Name>
      <Alias>EditorNotesSharing_Sharing</Alias>
      <Definition>8f464258-6167-41de-8362-d2d323697fd7</Definition>
      <Type>tooorangey.EditorNotes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Sharing</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8e43f76e-d060-4af7-9307-3ae001b0eeef</Key>
      <Name>Editor notes: Data protection taken seriously</Name>
      <Alias>EditorNotesTakenSeriously_Overview</Alias>
      <Definition>2db70d9f-8b8d-4762-adcb-9381fc3742fe</Definition>
      <Type>tooorangey.EditorNotes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Overview</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>9799b278-e25b-4221-b85f-136da77d1482</Key>
      <Name>How long will personal data be kept for?</Name>
      <Alias>HowLong_How_long_for</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[State how long personal data will be kept for.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>How long for?</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c243c563-f4f8-45c9-9158-019c5ca3e7c2</Key>
      <Name>How will personal data be used?</Name>
      <Alias>HowUsed_How_is_it_used</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[List the purposes for which the data will be used, eg to enable delivery of a statutory duty, to safeguard children, to improve outcomes for service users.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>How is it used?</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>deed7bda-1595-4aab-a367-480e87de575f</Key>
      <Name>Latest</Name>
      <Alias>latest_Latest</Alias>
      <Definition>e17df889-f551-476c-bccf-3c600051c9c2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>34f13ea5-5f0d-4a96-9a2d-5932b7ff699c</Key>
      <Name>Latest: cascade</Name>
      <Alias>latestCascade_Latest</Alias>
      <Definition>4f479e14-5252-4328-b502-9a9dd61196ed</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>22dc501b-3d24-4aa3-a678-cead07faf080</Key>
      <Name>Latest: inherit?</Name>
      <Alias>latestInherit_Latest</Alias>
      <Definition>4f479e14-5252-4328-b502-9a9dd61196ed</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ea4dd97e-cb03-49c8-8c34-b5a3ec22f37a</Key>
      <Name>Latest: publish date</Name>
      <Alias>latestPublishDate_Latest</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7be5974e-1d18-4b61-a0f0-6a1a0fe70dc7</Key>
      <Name>Latest: unpublish date</Name>
      <Alias>latestUnpublishDate_Latest</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1741611a-598e-4943-b21c-62ad9068cf18</Key>
      <Name>What is the legal basis for processing personal data?</Name>
      <Alias>LegalBasis_Legal_basis</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Eg your consent will be requested to process your data, a contract will be in place covering the processing of specified personal data, the Council has a legal obligation to process your data, processing is necessary for delivery of health or social care services etc. This should be documented in your Privacy Impact Assessment (PIA).]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Legal basis</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>5df82382-0510-4c70-aac2-39b87d367c54</Key>
      <Name>Why might personal data be shared on a 'need to know' basis?</Name>
      <Alias>NeedToKnow_Sharing</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Insert reasons why personal data is shared, eg obligations to comply with legislation, court orders etc.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Sharing</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c9d2373c-27ab-4e4a-a872-f8d0f55c1676</Key>
      <Name>Is personal data being processed outside the European Economic Area (EEA)?</Name>
      <Alias>OutsideEEA_How_is_it_used</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>How is it used?</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f49c81af-61fb-422c-9799-a395e9d8f825</Key>
      <Name>Description</Name>
      <Alias>pageDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4f824bf4-cc3f-48f5-8d1e-e14ecd9d91f9</Key>
      <Name>Why might personal data be shared with third party companies?</Name>
      <Alias>ThirdParty_Sharing</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Insert reason why personal data is shared with companies, eg 'to enable us to provide one or more services'.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Sharing</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1b0842ae-0ffa-4e9a-b25f-b00a18936cb9</Key>
      <Name>Page URL</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8108fcf9-0977-429e-8243-4826ce5fcc11</Key>
      <Name>Copy of unpublished date (do not edit)</Name>
      <Alias>unpublishAt</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>103</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>955c81b2-6191-4d96-9f83-03622360dc80</Key>
      <Name>What does this privacy notice cover?</Name>
      <Alias>WhatIsCovered_Overview</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA['This privacy notice covers...' - Explain who this privacy notice applies to and in what context.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Overview</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>32cdb39a-b49c-494b-9bf7-4606bb22cbfc</Key>
      <Name>What personal data is being used?</Name>
      <Alias>WhatIsUsed_What_is_used</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA['In order to provide the service, we will collect...' - list the data being processed, eg name, address, details of services being received, ethnicity etc.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>What is used?</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Overview</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>What is used?</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>How is it used?</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Legal basis</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>How long for?</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Sharing</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Rights</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Contact</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Latest</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>