<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Waste types" Key="1e2a1af0-fcd7-4915-8fbb-5e5a16c137ee" Id="Umbraco.CheckBoxList" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="0"><![CDATA[Aluminium foil]]></PreValue>
    <PreValue SortOrder="2" Alias="1"><![CDATA[Aerosols]]></PreValue>
    <PreValue SortOrder="3" Alias="2"><![CDATA[Bonded asbestos]]></PreValue>
    <PreValue SortOrder="4" Alias="3"><![CDATA[Books]]></PreValue>
    <PreValue SortOrder="5" Alias="4"><![CDATA[Bric-a-brac]]></PreValue>
    <PreValue SortOrder="6" Alias="5"><![CDATA[Car batteries]]></PreValue>
    <PreValue SortOrder="7" Alias="6"><![CDATA[Cans/Tins]]></PreValue>
    <PreValue SortOrder="8" Alias="7"><![CDATA[Cardboard]]></PreValue>
    <PreValue SortOrder="9" Alias="8"><![CDATA[Cassettes]]></PreValue>
    <PreValue SortOrder="10" Alias="9"><![CDATA[CDs and cases]]></PreValue>
    <PreValue SortOrder="11" Alias="10"><![CDATA[Chemicals]]></PreValue>
    <PreValue SortOrder="12" Alias="11"><![CDATA[Cooking oil]]></PreValue>
    <PreValue SortOrder="13" Alias="12"><![CDATA[Electrical goods]]></PreValue>
    <PreValue SortOrder="14" Alias="13"><![CDATA[Engine oil]]></PreValue>
    <PreValue SortOrder="15" Alias="14"><![CDATA[Fluorescent tubes/Energy saving bulbs]]></PreValue>
    <PreValue SortOrder="16" Alias="15"><![CDATA[Furniture]]></PreValue>
    <PreValue SortOrder="17" Alias="16"><![CDATA[Fridges/Freezers]]></PreValue>
    <PreValue SortOrder="18" Alias="17"><![CDATA[Glass bottles/Jars]]></PreValue>
    <PreValue SortOrder="19" Alias="18"><![CDATA[Green garden waste/Christmas trees]]></PreValue>
    <PreValue SortOrder="20" Alias="19"><![CDATA[Hard plastics (for example, plastic toys and furniture)]]></PreValue>
    <PreValue SortOrder="21" Alias="20"><![CDATA[Hardcore/Rubble]]></PreValue>
    <PreValue SortOrder="22" Alias="21"><![CDATA[Household batteries]]></PreValue>
    <PreValue SortOrder="23" Alias="22"><![CDATA[Household waste]]></PreValue>
    <PreValue SortOrder="24" Alias="23"><![CDATA[Metal items]]></PreValue>
    <PreValue SortOrder="25" Alias="24"><![CDATA[Mobile phones]]></PreValue>
    <PreValue SortOrder="26" Alias="25"><![CDATA[Newspapers/Magazines/Junk mail/White Telephone Directories]]></PreValue>
    <PreValue SortOrder="27" Alias="26"><![CDATA[Paint – solvent-based]]></PreValue>
    <PreValue SortOrder="28" Alias="27"><![CDATA[Paint – water-based emulsion]]></PreValue>
    <PreValue SortOrder="29" Alias="28"><![CDATA[Plasterboard]]></PreValue>
    <PreValue SortOrder="30" Alias="29"><![CDATA[Plastic bottles]]></PreValue>
    <PreValue SortOrder="31" Alias="30"><![CDATA[Plastic carrier bags]]></PreValue>
    <PreValue SortOrder="32" Alias="31"><![CDATA[Printer cartridges]]></PreValue>
    <PreValue SortOrder="33" Alias="32"><![CDATA[Soil]]></PreValue>
    <PreValue SortOrder="34" Alias="33"><![CDATA[Spectacles]]></PreValue>
    <PreValue SortOrder="35" Alias="34"><![CDATA[Tetra paks/Food or drink cartons]]></PreValue>
    <PreValue SortOrder="36" Alias="35"><![CDATA[Textiles/Shoes]]></PreValue>
    <PreValue SortOrder="37" Alias="36"><![CDATA[Timber/Wood]]></PreValue>
    <PreValue SortOrder="38" Alias="37"><![CDATA[Trade/Business waste]]></PreValue>
    <PreValue SortOrder="39" Alias="38"><![CDATA[TVs/Computer monitors]]></PreValue>
    <PreValue SortOrder="40" Alias="39"><![CDATA[Tyres]]></PreValue>
    <PreValue SortOrder="41" Alias="40"><![CDATA[Yellow Pages]]></PreValue>
  </PreValues>
</DataType>