<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>04455375-f05a-901c-5b29-afdc0ee86ca9</Key>
    <Name>Landing page with pictures</Name>
    <Alias>landingPageWithPictures</Alias>
    <Icon>icon-thumbnail-list</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A landing page with a picture on the right or above each link. You should usually use the 'Landing' template instead.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master Key="e0f09067-5ef9-ddf2-0f38-9b6b717dab60">LegacyBase</Master>
    <Compositions>
      <Composition Key="e0f09067-5ef9-ddf2-0f38-9b6b717dab60">LegacyBase</Composition>
    </Compositions>
    <DefaultTemplate>landingPageWithPictures</DefaultTemplate>
    <AllowedTemplates>
      <Template>landingPageWithPictures</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <DocumentType Key="8d153f1e-113a-60b8-8603-85dfa901616d">CampaignLanding</DocumentType>
    <DocumentType Key="e81a9ef1-6701-bf2e-a4dd-cfe34ff74e69">Childcare</DocumentType>
    <DocumentType Key="d3bc23bf-ee4d-0bfd-cf3e-1a93844801dd">CouncilOffice</DocumentType>
    <DocumentType Key="71478cc3-1229-5195-c021-e89badeb58ad">CouncilPlanHomePage</DocumentType>
    <DocumentType Key="074301c3-8dc7-57b0-156b-87dcf17316da">DayCentre</DocumentType>
    <DocumentType Key="353c2dfa-1e8b-4c78-9007-e62baddfa628">Form</DocumentType>
    <DocumentType Key="7ab94f65-d30d-c48b-a3c0-56b388b45f1f">FormDownloadPage</DocumentType>
    <DocumentType Key="a908f006-49d7-55ef-9780-251b2088ae01">Guide</DocumentType>
    <DocumentType Key="9e2e3f26-5dfc-e842-ed95-b5fe7008d873">Landing</DocumentType>
    <DocumentType Key="04455375-f05a-901c-5b29-afdc0ee86ca9">landingPageWithPictures</DocumentType>
    <DocumentType Key="12aa1590-3f2c-c980-e904-fd2aa6a007c6">Library</DocumentType>
    <DocumentType Key="069f05c3-5e1f-fb26-dfff-e94e49457db4">location</DocumentType>
    <DocumentType Key="34343f14-7053-41e4-ee32-a2ae3ea17a5e">Map</DocumentType>
    <DocumentType Key="1a3718fc-b452-b425-167b-0ebd64bdcbd3">Park</DocumentType>
    <DocumentType Key="3259124c-2546-3788-07f6-aaf0072acac0">Person</DocumentType>
    <DocumentType Key="9c33c6ee-c46c-9fd5-8f61-d8e9c55525d8">RecyclingSite</DocumentType>
    <DocumentType Key="a8c2af57-1b6d-6672-b3ef-0d98e40565a2">RegistrationOffice</DocumentType>
    <DocumentType Key="a47f9610-bcf3-4ff9-9dc2-8b05e60071af">RightsOfWayDeposits</DocumentType>
    <DocumentType Key="4fad4c6b-d260-1ce5-b5d3-ebbf8f43f5ee">SportLocation</DocumentType>
    <DocumentType Key="41cd814e-6886-c6ac-664f-d86ff02dcdd1">standardDownloadPage</DocumentType>
    <DocumentType Key="f56bd76a-4fd6-55d3-cf3d-f0fba94e2b7a">standardLandingPage</DocumentType>
    <DocumentType Key="fa38c7bb-dea2-01a7-de69-cfe08c26a9f3">standardTopicPage</DocumentType>
    <DocumentType Key="5a89548c-33d1-d549-77b6-778aa1695950">task</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>97b7295a-b547-9c00-0b9f-a559457f2b10</Key>
      <Name>Section navigation</Name>
      <Alias>highlightContent_Content</Alias>
      <Definition>e5a34126-f143-4f2f-9def-2928ef079d6f</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add links to other pages in this section. Rarely needed.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>58a61dd3-e4da-179d-293a-a11b2c81699a</Key>
      <Name>Section navigation image</Name>
      <Alias>highlightImage_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Image next to links to other pages in this section. Rarely needed.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>03115e38-6b22-5b2f-fea5-65db95c0f548</Key>
      <Name>Image 1</Name>
      <Alias>phDefImage01_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>e08e1959-90fe-231d-2e20-f39fcf0c886d</Key>
      <Name>Image 2</Name>
      <Alias>phDefImage02_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b0042305-1414-55a4-c894-ea707e657f04</Key>
      <Name>Image 3</Name>
      <Alias>phDefImage03_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>2303ce33-2bf5-c4e6-7699-3c0680850379</Key>
      <Name>Image 4</Name>
      <Alias>phDefImage04_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>15</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>62e16f94-e0c2-4262-2a43-9e993fb834f6</Key>
      <Name>Image 5</Name>
      <Alias>phDefImage05_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>18</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>0adac574-3b67-b6ab-a490-e7f126fd437f</Key>
      <Name>Image 6</Name>
      <Alias>phDefImage06_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>21</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>69688db4-be18-b313-20ff-1bb44f153635</Key>
      <Name>Image 7</Name>
      <Alias>phDefImage07_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>24</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>065a28c4-4f67-1284-cf15-68cb9e048a84</Key>
      <Name>Image 8</Name>
      <Alias>phDefImage08_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>27</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c2c6ce45-ba00-1238-0a3f-8ba360b752bd</Key>
      <Name>Image 9</Name>
      <Alias>phDefImage09_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>30</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7957128b-a538-afa7-0afe-df51cf66f45b</Key>
      <Name>Image 10</Name>
      <Alias>phDefImage10_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>33</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>883e377f-12cb-a90d-e96e-c277d4933e42</Key>
      <Name>Image 11</Name>
      <Alias>phDefImage11_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>36</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7251b5e7-0e55-c0c0-f3e5-1099868f81ce</Key>
      <Name>Image 12</Name>
      <Alias>phDefImage12_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>39</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>eac1d76c-4373-d8e6-47d7-6a70c4f62676</Key>
      <Name>Image 13</Name>
      <Alias>phDefImage13_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>42</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>12f654b0-8214-6dfd-333c-bc2a2a4691a2</Key>
      <Name>Image 14</Name>
      <Alias>phDefImage14_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>45</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>fbf6cb21-b4a0-d8b2-6b0c-263c77f18dc0</Key>
      <Name>Image 15</Name>
      <Alias>phDefImage15_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>48</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ab74313d-586f-c6d3-c688-25080ff5f91a</Key>
      <Name>Introductory text</Name>
      <Alias>phDefIntro_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>bdb1254f-c0f7-e341-17cb-d62ce40ad37c</Key>
      <Name>Description 1</Name>
      <Alias>phDefListDesc01_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1e45b77a-c604-08a9-2a05-e2074dc60190</Key>
      <Name>Description 2</Name>
      <Alias>phDefListDesc02_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6560cb16-f145-b658-9f32-98ad96965ada</Key>
      <Name>Description 3</Name>
      <Alias>phDefListDesc03_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>82b634f0-6706-ee69-e55e-cd7d97c2141a</Key>
      <Name>Description 4</Name>
      <Alias>phDefListDesc04_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>14</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8e25a88e-83bd-2ed3-9906-001286273031</Key>
      <Name>Description 5</Name>
      <Alias>phDefListDesc05_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>17</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>147a1c1c-6a61-22a1-12e4-fae83199846c</Key>
      <Name>Description 6</Name>
      <Alias>phDefListDesc06_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>20</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>65fa3cf4-80e7-cb7a-c990-3fdcfe5335c2</Key>
      <Name>Description 7</Name>
      <Alias>phDefListDesc07_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>23</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c86cd1d5-b994-1293-9b48-3c8369ab9a0d</Key>
      <Name>Description 8</Name>
      <Alias>phDefListDesc08_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>26</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8b133443-0023-df33-1804-4105d8661de3</Key>
      <Name>Description 9</Name>
      <Alias>phDefListDesc09_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>29</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>48ec6160-8204-5fd2-04b5-a57e984da566</Key>
      <Name>Description 10</Name>
      <Alias>phDefListDesc10_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>32</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>84dd5902-7927-4ee7-b800-fdcddad0953c</Key>
      <Name>Description 11</Name>
      <Alias>phDefListDesc11_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>35</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ef310bba-3496-1e19-5c08-4a8076c42784</Key>
      <Name>Description 12</Name>
      <Alias>phDefListDesc12_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>38</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6e5787ab-cc02-deb7-afac-6d93b1da022a</Key>
      <Name>Description 13</Name>
      <Alias>phDefListDesc13_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>41</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>16365008-bff6-3d62-ea29-c080857de7d5</Key>
      <Name>Description 14</Name>
      <Alias>phDefListDesc14_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>44</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>d86aa227-98d2-e6cd-5d1b-2916adb2b60c</Key>
      <Name>Description 15</Name>
      <Alias>phDefListDesc15_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>47</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>00d5f8e7-58e1-42eb-aa37-1da5cdcc1600</Key>
      <Name>List title 1</Name>
      <Alias>phDefListTitle01_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>bbeebc51-ed85-83f5-95f1-277ed76732bd</Key>
      <Name>List title 2</Name>
      <Alias>phDefListTitle02_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>bfc8dee7-d74f-6f4c-993e-57a6d56182d4</Key>
      <Name>List title 3</Name>
      <Alias>phDefListTitle03_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>5edbd288-42d5-59bc-3908-fb9e8e585437</Key>
      <Name>List title 4</Name>
      <Alias>phDefListTitle04_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>13</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a4347557-c23a-3658-abaa-8ad564ec8666</Key>
      <Name>List title 5</Name>
      <Alias>phDefListTitle05_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>16</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>075d8312-1409-1c16-4fb4-4579f599a7d7</Key>
      <Name>List title 6</Name>
      <Alias>phDefListTitle06_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>19</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b663be02-3d7e-b541-42a4-3bdaff970c0e</Key>
      <Name>List title 7</Name>
      <Alias>phDefListTitle07_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>22</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c0d4c634-e295-f3fd-3128-7a69c3c8c613</Key>
      <Name>List title 8</Name>
      <Alias>phDefListTitle08_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>25</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6b41ac38-f6d6-4d6e-0152-440d88c4b696</Key>
      <Name>List title 9</Name>
      <Alias>phDefListTitle09_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>28</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>3b452612-1395-6399-2a7c-a767af8991e8</Key>
      <Name>List title 10</Name>
      <Alias>phDefListTitle10_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>31</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>3677b5f1-2e22-4102-7822-ba5e3e558fa5</Key>
      <Name>List title 11</Name>
      <Alias>phDefListTitle11_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>34</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1a9afeb2-100e-cd7f-e33e-4d28500b85a3</Key>
      <Name>List title 12</Name>
      <Alias>phDefListTitle12_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>37</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a0028b36-3f38-d96b-e8a4-81a1e0094d61</Key>
      <Name>List title 13</Name>
      <Alias>phDefListTitle13_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>40</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>81133c1a-4a4c-d7e6-36cc-e051c3cd56fe</Key>
      <Name>List title 14</Name>
      <Alias>phDefListTitle14_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>43</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>d120ae08-d948-4f5a-e002-3413527c287f</Key>
      <Name>List title 15</Name>
      <Alias>phDefListTitle15_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>46</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>cceeea63-98fa-1133-2d8e-4dc7d9ced55a</Key>
      <Name>Related pages</Name>
      <Alias>phDefRelatedPages_Content</Alias>
      <Definition>255b3fe8-4e26-4b36-be0a-55fee03e8f98</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>98</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7ee9c50c-ca8a-4391-a12f-57aa0505232f</Key>
      <Name>Related websites</Name>
      <Alias>phDefRelatedSites_Content</Alias>
      <Definition>255b3fe8-4e26-4b36-be0a-55fee03e8f98</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>99</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>