<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>73c04308-8252-2d94-5361-15b45172a84e</Key>
    <Name>Council Plan Monitoring page</Name>
    <Alias>CouncilPlanMonitoringPage</Alias>
    <Icon>icon-diagnostics</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Council Plan monitoring page.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master Key="e0f09067-5ef9-ddf2-0f38-9b6b717dab60">LegacyBase</Master>
    <Compositions>
      <Composition Key="e0f09067-5ef9-ddf2-0f38-9b6b717dab60">LegacyBase</Composition>
    </Compositions>
    <DefaultTemplate>CouncilPlanMonitoringPage</DefaultTemplate>
    <AllowedTemplates>
      <Template>CouncilPlanMonitoringPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a972573f-0c3e-0249-a0b4-8ea6a2cb004e</Key>
      <Name>Content</Name>
      <Alias>phDefContent_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6544f1f4-615f-cff6-4e38-ec2ccb78b42c</Key>
      <Name>Priority</Name>
      <Alias>phDefPriorityClass_Content</Alias>
      <Definition>574aef63-1433-422d-8dbf-c3bb39e55a3b</Definition>
      <Type>Umbraco.DropDown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>fc7d7644-8e05-8a29-4230-747535e0855f</Key>
      <Name>Related pages</Name>
      <Alias>phDefRelatedPages_Content</Alias>
      <Definition>255b3fe8-4e26-4b36-be0a-55fee03e8f98</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b382e8dd-f2b1-b064-c77c-1f893ed09d0e</Key>
      <Name>Related websites</Name>
      <Alias>phDefRelatedSites_Content</Alias>
      <Definition>255b3fe8-4e26-4b36-be0a-55fee03e8f98</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a02dc2b2-52d9-8e1c-978c-c4965a8edc85</Key>
      <Name>Page Title</Name>
      <Alias>phDefTitle_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>