<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>87bb264f-7dee-446b-a800-8257bbb50f14</Key>
    <Name>Campaign tiles</Name>
    <Alias>CampaignTiles</Alias>
    <Icon>icon-planet</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A landing page for a marketing campaign that has graphical tiles for each link</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <DefaultTemplate>CampaignTiles</DefaultTemplate>
    <AllowedTemplates>
      <Template>CampaignTiles</Template>
      <Template>CampaignTilesCss</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <DocumentType Key="6ae56ff4-64a6-67b8-316c-d28a178bea33">CampaignContent</DocumentType>
    <DocumentType Key="8d153f1e-113a-60b8-8603-85dfa901616d">CampaignLanding</DocumentType>
    <DocumentType Key="87bb264f-7dee-446b-a800-8257bbb50f14">CampaignTiles</DocumentType>
    <DocumentType Key="e81a9ef1-6701-bf2e-a4dd-cfe34ff74e69">Childcare</DocumentType>
    <DocumentType Key="d3bc23bf-ee4d-0bfd-cf3e-1a93844801dd">CouncilOffice</DocumentType>
    <DocumentType Key="074301c3-8dc7-57b0-156b-87dcf17316da">DayCentre</DocumentType>
    <DocumentType Key="353c2dfa-1e8b-4c78-9007-e62baddfa628">Form</DocumentType>
    <DocumentType Key="a908f006-49d7-55ef-9780-251b2088ae01">Guide</DocumentType>
    <DocumentType Key="9e2e3f26-5dfc-e842-ed95-b5fe7008d873">Landing</DocumentType>
    <DocumentType Key="12aa1590-3f2c-c980-e904-fd2aa6a007c6">Library</DocumentType>
    <DocumentType Key="069f05c3-5e1f-fb26-dfff-e94e49457db4">location</DocumentType>
    <DocumentType Key="34343f14-7053-41e4-ee32-a2ae3ea17a5e">Map</DocumentType>
    <DocumentType Key="1a3718fc-b452-b425-167b-0ebd64bdcbd3">Park</DocumentType>
    <DocumentType Key="3259124c-2546-3788-07f6-aaf0072acac0">Person</DocumentType>
    <DocumentType Key="9c33c6ee-c46c-9fd5-8f61-d8e9c55525d8">RecyclingSite</DocumentType>
    <DocumentType Key="a8c2af57-1b6d-6672-b3ef-0d98e40565a2">RegistrationOffice</DocumentType>
    <DocumentType Key="a47f9610-bcf3-4ff9-9dc2-8b05e60071af">RightsOfWayDeposits</DocumentType>
    <DocumentType Key="206fa5e5-aa8c-4313-b2a1-1839683bd537">RightsOfWayModifications</DocumentType>
    <DocumentType Key="4fad4c6b-d260-1ce5-b5d3-ebbf8f43f5ee">SportLocation</DocumentType>
    <DocumentType Key="41cd814e-6886-c6ac-664f-d86ff02dcdd1">standardDownloadPage</DocumentType>
    <DocumentType Key="f56bd76a-4fd6-55d3-cf3d-f0fba94e2b7a">standardLandingPage</DocumentType>
    <DocumentType Key="fa38c7bb-dea2-01a7-de69-cfe08c26a9f3">standardTopicPage</DocumentType>
    <DocumentType Key="5a89548c-33d1-d549-77b6-778aa1695950">task</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3f84e989-19d6-4096-992e-ce8e46846850</Key>
      <Name>Author notes</Name>
      <Alias>authorNotes</Alias>
      <Definition>b89f1310-5400-4e66-8b8e-3949685d4624</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>92a4b554-ede8-4d19-bae1-7bd6f89d6d12</Key>
      <Name>Banner image (large screens)</Name>
      <Alias>BannerImageLarge_Design</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Banner image at the top of the page on large screens like laptops. 290px high, and tiles horizontally.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>3cafd524-7ded-4426-89d3-045b1051a600</Key>
      <Name>Banner image (small screens)</Name>
      <Alias>BannerImageSmall_Design</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Banner image at the top of the page on small screens such as mobiles and tablets. 75px high, and tiles horizontally up to 802px wide.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b1632e71-4cd1-4727-a856-c3fb9411b129</Key>
      <Name>Cache</Name>
      <Alias>cache</Alias>
      <Definition>9fd11d4a-bcb2-4eea-bcd9-d6c26697e4a1</Definition>
      <Type>Umbraco.DropDown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Pages are cached for 24 hours by default.  If this page is particularly time-sensitive, pick shorter time.]]></Description>
      <SortOrder>101</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6c41b7cc-af2d-45ed-ae04-bd5ab60667db</Key>
      <Name>Custom CSS (large screens)</Name>
      <Alias>CssLarge_Design</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Custom CSS to apply to large screens such as laptops. This is added to and can override the CSS for small and medium screens.]]></Description>
      <SortOrder>15</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b2948652-35fd-421d-a523-a6d0cf0b439c</Key>
      <Name>Custom CSS (medium screens)</Name>
      <Alias>CssMedium_Design</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Custom CSS to apply to medium screens such as tablets. This will still apply at larger sizes but may be overridden by the CSS for large screens.]]></Description>
      <SortOrder>14</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8db46c57-05a6-4bff-a376-4df01de80577</Key>
      <Name>Custom CSS (small screens)</Name>
      <Alias>CssSmall_Design</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Custom CSS to apply to small screens such as mobiles. This will still apply at larger sizes but may be overridden by the CSS for medium and large screens.]]></Description>
      <SortOrder>13</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1c52bd7e-8137-4116-95a5-49ecf27ba2ee</Key>
      <Name>Description</Name>
      <Alias>pageDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>e0f73f7c-4496-4cc6-b7f4-8aad81d8d236</Key>
      <Name>Tile 10 description</Name>
      <Alias>Tile10Description_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add an optional description to appear below the title of the 10th tile]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>79b94aa6-8b96-44d6-9c67-a050e26a4b59</Key>
      <Name>Tile 11 description</Name>
      <Alias>Tile11Description_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add an optional description to appear below the title of the 11th tile]]></Description>
      <SortOrder>13</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>914e3e4a-c804-4ed9-b6e0-c8e76df031be</Key>
      <Name>Tile 12 description</Name>
      <Alias>Tile12Description_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add an optional description to appear below the title of the 12th tile]]></Description>
      <SortOrder>14</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>59c1357d-4af9-44f1-96d8-2b9cbeee375d</Key>
      <Name>Tile 1 description</Name>
      <Alias>Tile1Description_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add an optional description to appear below the title of the first tile]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>d803101c-0963-49fd-a30b-eb7a9671fc64</Key>
      <Name>Tile 2 description</Name>
      <Alias>Tile2Description_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add an optional description to appear below the title of the second tile]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b3afdf3b-5a92-4336-8362-d96562df05db</Key>
      <Name>Tile 3 description</Name>
      <Alias>Tile3Description_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add an optional description to appear below the title of the third tile]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>70c68191-751a-4059-b65f-9939633cb988</Key>
      <Name>Tile 4 description</Name>
      <Alias>Tile4Description_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add an optional description to appear below the title of the fourth tile]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1dbd88f8-bb73-496f-92dc-82bdddc4c253</Key>
      <Name>Tile 5 description</Name>
      <Alias>Tile5Description_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add an optional description to appear below the title of the fifth tile]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6b12fed4-0c82-462a-af0c-aa5b987a649c</Key>
      <Name>Tile 6 description</Name>
      <Alias>Tile6Description_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add an optional description to appear below the title of the sixth tile]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4f66e886-a841-4a67-b936-7d6a1d96afc9</Key>
      <Name>Tile 7 description</Name>
      <Alias>Tile7Description_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add an optional description to appear below the title of the seventh tile]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>d216c601-eb75-45b3-bcca-6c7c2ea31783</Key>
      <Name>Tile 8 description</Name>
      <Alias>Tile8Description_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add an optional description to appear below the title of the eighth tile]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>0f731a4f-a573-4ceb-a4b7-705966bad73b</Key>
      <Name>Tile 9 description</Name>
      <Alias>Tile9Description_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add an optional description to appear below the title of the ninth tile]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>bb058ddc-831a-4c39-896b-b1c1827560fe</Key>
      <Name>Tile description: text colour</Name>
      <Alias>TileDescriptionColour_Design</Alias>
      <Definition>fb958415-afe7-4daf-86cc-0482790ad916</Definition>
      <Type>Spectrum.Color.Picker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Must contrast with a white background to meet legal accessibility standards. Check at http://tinyurl.com/wcag-contrast]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>9d761541-309b-4140-9174-b08b6c71636f</Key>
      <Name>Tiles: font family</Name>
      <Alias>TileFontFamily_Design</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select a font family from https://fonts.google.com and paste the name of the embedded version, eg 'Cormorant+Garamond:400,400i']]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>de09764f-608d-4384-b5da-3f3d423ae5c4</Key>
      <Name>Tile images</Name>
      <Alias>TileImages_Content</Alias>
      <Definition>7e3962cc-ce20-4ffc-b661-5897a894ba7e</Definition>
      <Type>Umbraco.MultipleMediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the images to link to pages selected for tile navigation, below.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c2aed154-f8eb-4bed-8b63-ebb4674735d0</Key>
      <Name>Tile navigation</Name>
      <Alias>TileNavigation_Content</Alias>
      <Definition>21e798da-e06e-4eda-a511-ed257f78d4fa</Definition>
      <Type>Umbraco.RelatedLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The pages and page titles to link to using the tile images selected above.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a9abfbeb-698a-470b-8a6d-cacad9ee232d</Key>
      <Name>Tile title: text colour</Name>
      <Alias>TileTitleColour_Design</Alias>
      <Definition>fb958415-afe7-4daf-86cc-0482790ad916</Definition>
      <Type>Spectrum.Color.Picker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Must contrast with a white background to meet legal accessibility standards. Check at http://tinyurl.com/wcag-contrast]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>51f11ea9-fd4c-4e25-82b9-d85f194eb1b9</Key>
      <Name>Page URL</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Design</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>