/******************
 * TOP TASKS AREA *
 ******************
 
 Top tasks area includes top tasks box and report, apply, pay. Both about top tasks so share some styles. 

 Both top tasks boxes have one line space below.  
*/
.top-tasks, .report-apply-pay { margin: 0 0 1.384615em 0; background: #fff; padding: 0; }

/* .gutters is inside 6 cols */
@media screen {
    .top-tasks .gutters, .report-apply-pay .gutters, .features.gutters, .library-search.gutters, .job-search .gutters, .recycle .gutters, .involved .gutters { padding: 0 3.797468%; }
}

/* Remove additional vertical space around heading */
.top-tasks h2 { margin: .5625em 0 0; }

/* Report/apply/pay header is hidden in published mode, because tabs are used.
   Lots more CSS for tabs at the bottom of this stylesheet.*/
.report-apply-pay h2 { position: absolute; left: -999px; top: -999px; }
.no-js .tabs { display: none; }

/* 9px above and below lists is one line space. */
.report-apply-pay ul, .top-tasks ul.first, .report-apply-pay ul.first, .library-search ul.first { margin: .692308em 0 0; }
.top-tasks ul.second, .report-apply-pay ul.second, .library-search ul.second { margin: 0 2.953586% .692308em 0; position: relative; }
.top-tasks li, .report-apply-pay li, .library-search li { list-style: none; background: url(/img/body/item-type.png?v=2) no-repeat 0 -992px; padding-left: 16px; }


/*************
 * NEWS AREA *
 *************/

/* News box is 5 cols on 10 col grid with line space below */
.news { clear: both; margin: 0 0 1.384615em 0;border-top: 1px solid #dae1e5;}

/* Feed icon and 9px above header */
.news .feed { left: auto; right: 0; }
.features h2 { margin-top: .346154em; }

/* News: customises sitewide tiles CSS.
   The containing list-item also has a server-generated max-width to ensure the caption can't extend beyond the image. */
@media screen {
    .news .feature-tile { max-width: 236px; }
}

/* li.first removes the border from the top .headline, to stop it showing when there's a feature */
.news li.first { border: 0; }

/* A second feature gets a different colour caption */
.news .feature2 .caption { background-color: #056b0b; background-color: rgba(5,107,11,.8); }

/* List style shared between news, get involved */
.news ol, .involved ul { margin: 0; background: #fff; }

/**************
 * TERM DATES *
 **************/

.schools {padding: 1.125em;margin: 1.125em 0 1.6875em; background: #CDE1CE; }
.schools .quick-answer { padding: 0; background: none;}
.schools ul {display: block; text-align: center;margin-left: 18px;margin-right: 18px; }
.schools li { display: inline-block; }
.schools a { padding: 0 32px 0 0;background: url(/img/body/item-type.png?v=2) no-repeat right -590px; }

/*************
   LIBRARIES
 *************/

body .library-search .form { background: none;padding: 0;margin-bottom: 0;}
#libraryTerm { width: 65%; }

/**************
 * BOTTOM ROW *
 **************/

/* Heading style shared across row 3. Padding/margin are one gutter space within 6 columns. */
.job-search .gutters h2, .recycle h2, .involved h2 { padding: 0 3.797468%; margin: 0 -3.797468%; }

/* Position RSS feeds at right of headers. Width required for IE8. */
.feed { position: absolute; top: 0; right: 0; z-index: 999; width: 27px; }

/* Replace default form background */
.recycle .form { background: transparent;padding: 0; }
.recycle select { max-width: 100%; }

/* Recycle box has gutter below */
.recycle { margin: 0 0 1.384615em; border-bottom: 1px solid #dae1e5; background: #fff; }

/* Get involved box */
.involved { background: #fff;  }
.involved ul a { display: block; }
.involved ul p { margin: 0; }
.involved li { padding: 9px 0 9px; margin: 0; overflow: hidden; list-style: none; }
.involved li img { float: left; margin: 0 18px 1px 0; }

/* Links displayed as buttons below involved section. */
.buttons { line-height: 3.375em; margin: 0 -18px; } 
.buttons a { padding: 5px 12px; margin: 0 -7px 0 18px; border-radius: 3px; background: #1e5b83; color: #fff; font-weight: bold; text-decoration: none;white-space: nowrap; }

/* Jobs box */
.job-search { clear: left; background: #fff;border-top: 1px solid #dae1e5;border-bottom: 1px solid #dae1e5;margin-bottom: 1.125em; }
.job-search .form { background: transparent;margin: 0; }
.job-search input[type=search] { width: 100%; }
.job-search select { max-width: 100%;}
@media print {
     .job-search .form { padding-left: 0; }
     .buttons { margin: 0; } 
     .buttons a {display: block;padding: 0; margin: 0 18px 0 0; }
}

/***********
 * RATINGS *
 ***********/
.rating-box { clear: both; border-top: 1px solid #dae1e5; }

/**
 * JQuery UI CSS for tabs widget, but with some colours and sizes changed and irrelevant CSS removed, 
 * so it can't be autogenerated again from the JQuery website. Some of the settings here are overriding 
 * jQuery UI defaults brought in by the standard themed stylesheet used for autocomplete.
 */
.report-apply-pay.ui-widget { font-family: 'Source Sans Pro',Arial,'Helvetica Neue',Helvetica,sans-serif; font-size: 1.230769em;}
.report-apply-pay .ui-helper-hidden { display: none; }
.report-apply-pay .ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.report-apply-pay .ui-helper-reset { margin: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.report-apply-pay .ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.report-apply-pay .ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
.report-apply-pay * html .ui-helper-clearfix { height:1%; }
.report-apply-pay .ui-helper-clearfix { display:block; }
/* end clearfix */
.report-apply-pay .ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

.report-apply-pay .ui-widget-header { border-bottom: 5px solid #44697d; background: none; }

.report-apply-pay, .report-apply-pay .ui-widget-content { border: 0; }
.report-apply-pay .ui-widget-content a:link { color: #003c69; }
.report-apply-pay .ui-widget-content a:visited { color: #609; }
.report-apply-pay .ui-widget-content a:hover, .report-apply-pay .ui-widget-content a:focus, .report-apply-pay .ui-widget-content a:active { color: #B80000; }

.report-apply-pay .ui-state-default, .report-apply-pay .ui-widget-content .ui-state-default, .report-apply-pay .ui-widget-header .ui-state-default { border: 1px solid #44697d; background: #c7dbe4; font-weight: bold; color: #3A596A; }
.report-apply-pay .ui-state-default a, .report-apply-pay .ui-state-default a:link, .report-apply-pay .ui-state-default a:visited { color: #3A596A; text-decoration: none; }
.report-apply-pay .ui-state-hover, .report-apply-pay .ui-widget-content .ui-state-hover, .report-apply-pay .ui-widget-header .ui-state-hover, .report-apply-pay .ui-state-focus, .report-apply-pay .ui-widget-content .ui-state-focus, .report-apply-pay .ui-widget-header .ui-state-focus { border: 1px solid #007B00; background: #44697d; font-weight: bold; color: #3A596A; }
.report-apply-pay .ui-state-hover a, .report-apply-pay .ui-state-hover a:hover { color: #fff; text-decoration: none; }
.report-apply-pay .ui-state-active, .ui-widget-content .ui-state-active, .report-apply-pay .ui-widget-header .ui-state-active { border: 1px solid #44697d; background: #44697d; font-weight: bold; color: #fff; }
.report-apply-pay .ui-state-active a, .report-apply-pay .ui-state-active a:link, .report-apply-pay .ui-state-active a:visited { color: #fff; text-decoration: none; }
.report-apply-pay .ui-widget :active { outline: none; }

.report-apply-pay .ui-state-default { border-top-left-radius: 5px; }
.report-apply-pay .ui-state-default { border-top-right-radius: 5px; }

/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs { position: relative; zoom: 1; } 
.ui-tabs .ui-tabs-nav { margin: 0; border-radius: 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .4em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-hide { display: none !important; }