/* Top tasks group is 6 cols on 12 col grid with gutter right and below. */
.top-tasks-group { float: left; width: 49.06832%; margin: 0 1.863354% 0 0; } 

/* Min height is 290px for .top-tasks, 308px for report-apply-pay (multiples of 18px) */
.top-tasks { clear: left; margin: 0 0 .947368em 0; min-height: 15.157895em; box-shadow: 0 0px 12px 0 #b9b9b9;}
.report-apply-pay { clear: left; min-height: 16.210526em; margin: 0 0 .947368em 0; box-shadow: 0 0px 12px 0 #b9b9b9;}

.report-apply-pay.ui-tabs .ui-tabs-nav { padding: .2em .2em 0; }

/* .gutters is inside 6 cols, so adjust spacing */
.top-tasks .gutters, .report-apply-pay .gutters, .library-search.gutters, .schools.gutters { padding: 0 3.797468%; }

/* Customise top tasks header from the default appearance of .text-content h2.
   Assumes one line of text, therefore line-height + border = 36px = 2 lines
   Heading/Padding/margin is one gutter inside 6 cols, but overestimate a little because that always seems to be necessary for flush borders */
.top-tasks h2 {line-height: 1.9375em; padding: 0 3.9%; margin: 0 -3.9%;  border-bottom: 5px solid #44697D; }

/* News box is 6 cols on 12 col grid with min-height equal to both that of .top-tasks-group. */
.news { float: left; width: 49.06832%; min-height: 32.153846em;border: none; }
.news .features { box-shadow: 0 0px 12px 0 #b9b9b9;padding: 0; }
.news .feature1 { margin: 0; }
.news .feature2 { float: right;margin: 0; }

/*********************************************** 
 * SCREENREADERS ONLY: j.mp/visuallyhidden *
 ***********************************************/
.news .features h2 { position: absolute; clip: rect(1px, 1px, 1px, 1px); }

/* Change standard quick answer colour */
.schools {padding: 0;margin: 0; overflow: hidden;background: #fff;box-shadow: 0 0px 12px 0 #b9b9b9; min-height: 8.526316em; }
.schools .quick-answer { padding: 0;margin: .667em 0 0; }

.library-search {margin-top: .947368em; box-shadow: 0 0px 12px 0 #b9b9b9;min-height: 11.368421em; }
.library-search h2 { margin-top: .6em;}

/* Remove spacing above bottom row boxes now that they're side-by-side.
   Each box is 4 cols on 12 col grid with gutter right and below */
.recycle, .involved, .job-search { float: left; width: 32.091097%; margin: 0 1.863354% .947368em 0; box-shadow: 0 0 12px 0 #b9b9b9; }

/* Reset spacing around h2 for 4 col context */
.job-search .gutters h2, .recycle h2, .recycle h2 { padding: 0 5.806452%; margin: 0 -5.806452%; }

/* Set padding either side of text for 4 col context
   Don't reset padding-bottom though, because that's allowing space for .buttons */ 
.job-search .gutters, .recycle .gutters, .involved .gutters { padding-left: 5.806452%; padding-right: 5.806452%; }

/* min-height to try to equalise heights */
.job-search, .recycle, .involved .context { min-height: 22.736843em; }
.involved .has-buttons { min-height: 18.947369em; }

/* Reset clearing from medium size, and remove right margin from final box */
.job-search { clear: left;border: none; }
.involved { clear: none; margin-right: 0; }

/* Update rating to be boxed to match all the other elements. The border here should be invisible, but has the effect of containing the margins
   of aside.rating, and those margins act as padding between the rating and its containing .rating-box. */
.rating-box { border-top: .1px solid white; border-bottom: .1px solid white; box-shadow: 0 0 12px 0 #b9b9b9; }
.rating-box h2 {margin-top: 0;}