<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Privacy notice - Examples" Key="9c8eb1dc-e3e6-4ac6-a824-1e99f895caa1" Id="tooorangey.EditorNotes" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="editorNotes"><![CDATA[<p>See examples of existing <a href="https://www.eastsussex.gov.uk/privacy/" target="_blank">Privacy notices</a>.</p>]]></PreValue>
    <PreValue SortOrder="2" Alias="hideLabel"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="3" Alias="noteCssClass"><![CDATA[alert alert-info]]></PreValue>
    <PreValue SortOrder="4" Alias="noteRenderMode"><![CDATA[Html]]></PreValue>
  </PreValues>
</DataType>