
/* Ensure all accordion content is expanded for printing */
@media print {
    [role=tabpanel] { display: block !important;}
}

@media screen {
    /* Accordion headings are styled on-screen only; left as normal headings for print. 
       Vertical padding and borders together add up to 18px; 
       Use overflow to avoid margin collapsing as items expand/collapse.
    */
    .accordion { margin-top: 1.125em; }
    .accordion h2[role=tab] { margin: 0;background: #ccc;padding: 0.4375em;border-bottom: .125em solid #fff;border-top: .125em solid #fff;}
    .accordion h2:after { content: '\25bc';font-size: .5em;vertical-align: middle;padding-left: 1em; }
    .accordion [role=tabpanel] { overflow: hidden; }
}