/* Umbraco Forms does this with an inline style, so move it here */
.umbraco-forms-id, .condition-not-matched { display: none; }

/* .radioButtonList is not normally within .formPart, but in Umbraco Forms it is */
.formPart .radioButtonList { margin-top: 0; }
.formPart .radioButtonList label { font-weight: normal; }

/* Date picker is an ordinary text field, so spans 100% by default */
.service-form input[type=text].datepickerfield { width: 10em; }

/* Umbraco Forms lays out checkbox HTML differently to our style guide, and because the label is generic for all controls it can't be changed */
.checkbox { position: relative; }
.checkbox label { padding-left: 20px; }
.checkbox input { position: absolute; top: .5em; left: 0; }

/* Umbraco Forms renders inline errors with this class */
.field-validation-error { color: #b21313; }

/* Umbraco Forms renders a validation summary with this class, and has a default empty list element that needs to be hidden */
.validation-summary-errors {color: #b21313; }
.validation-summary-valid { display: none; }

/* By default the error message for phone numbers displays inline after the field, which means it wraps awkwardly below it */
.phonenumber .field-validation-error { display: block; }

/* Help text for questions is a paragraph */
.umbraco-forms-tooltip.help-block { margin-top: 0; font-weight: normal; }

/* Cancel standard email style if .email happens to be used as a field name */
.umbraco-forms-field.email { background:none; padding: 0;}

/* Support fields laid out in up to 4 columns. Small screens and IE will get a single column layout, 
    medium screens support up to 2 columns and large screens can use all 4.
*/
@supports (display: grid) {
    @media only screen and (min-width: 474px) {
        .row-fluid.columns-2, .row-fluid.columns-3, .row-fluid.columns-4 { display: grid; grid-column-gap: 18px; }
        .columns-2, .columns-3, .columns-4 { grid-template-columns: repeat(2,1fr);}
    }
    @media only screen and (min-width: 802px) {
        .columns-3 { grid-template-columns: repeat(3,1fr);}
        .columns-4 { grid-template-columns: repeat(4,1fr);}
    }
}