<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Share style" Key="8da3b170-07f7-4be6-9ea2-019ce9900056" Id="Umbraco.DropDown" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="Default"><![CDATA[Default]]></PreValue>
    <PreValue SortOrder="2" Alias="White"><![CDATA[White]]></PreValue>
    <PreValue SortOrder="3" Alias="White on a dark panel"><![CDATA[White on a dark panel]]></PreValue>
  </PreValues>
</DataType>