<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Home page - Latest: publish date - DateTime" Key="74615601-a366-40ef-a255-6964c20dd1c5" Id="Umbraco.DateTime" DatabaseType="Date">
  <PreValues>
    <PreValue SortOrder="1" Alias="format"><![CDATA[YYYY-MM-DD HH:mm:ss]]></PreValue>
  </PreValues>
</DataType>