<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Alignment" Key="f191e899-3802-467d-88cb-5edf5d258ea8" Id="Umbraco.DropDown" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="Full width"><![CDATA[Full width]]></PreValue>
    <PreValue SortOrder="2" Alias="Left"><![CDATA[Left]]></PreValue>
    <PreValue SortOrder="3" Alias="Right"><![CDATA[Right]]></PreValue>
  </PreValues>
</DataType>