<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Rich text: ESCC standard" Key="146fc3c8-b1a9-4145-888c-665b34acbdd2" Id="Escc.Umbraco.PropertyEditors.RichTextPropertyEditor" DatabaseType="Ntext">
  <PreValues>
    <PreValue SortOrder="1" Alias="editor"><![CDATA[{
  "dimensions": {
    "height": 300
  },
  "formatters": [
    "nbsp",
    "removeEmptyBlock",
    "removeTarget",
    "removeIfMissingAttribute",
    "autocorrect",
    "fullstopsOutsideLinks",
    "spacesOutsideLinks",
    "smartQuotes",
    "enDashes",
    "ellipsis",
    "startHeadingsWithCapital",
    "startContentWithCapital",
    "removeEmptyLinks",
    "removeUnwantedElements"
  ],
  "stylesheets": [
    "TinyMCE-Content"
  ],
  "toolbar": [
    "removeformat",
    "undo",
    "redo",
    "cut",
    "copy",
    "paste",
    "bold",
    "bullist",
    "numlist",
    "link",
    "unlink"
  ],
  "validators": [
    {
      "name": "clickHere"
    },
    {
      "name": "linkToHere"
    },
    {
      "name": "visit"
    },
    {
      "name": "more"
    },
    {
      "name": "allCaps"
    },
    {
      "name": "urlAsLinkText"
    },
    {
      "name": "noDocuments"
    }
  ]
}]]></PreValue>
    <PreValue SortOrder="2" Alias="hideLabel"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>