<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Privacy notice - High standards" Key="fc13537f-e2b8-47c6-8207-43952263c3ed" Id="tooorangey.EditorNotes" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="panelTitle"><![CDATA[]]></PreValue>
    <PreValue SortOrder="2" Alias="noteCssClass"><![CDATA[]]></PreValue>
    <PreValue SortOrder="3" Alias="editorNotes"><![CDATA[<p><strong>This section will be included in the privacy notice:</strong></p>
<p>We aim to maintain high standards, adopt best practice for our record keeping and regularly check and report on how we are doing. Your information is never sold for direct marketing purposes.</p>
<p><span>Our staff are trained to handle your information correctly and protect your confidentiality and privacy.</span></p>]]></PreValue>
    <PreValue SortOrder="4" Alias="hideLabel"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="5" Alias="noteRenderMode"><![CDATA[Html]]></PreValue>
  </PreValues>
</DataType>