<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>4ca887fa-28a4-4c49-adac-a74faf7a1654</Key>
    <Name>Skins</Name>
    <Alias>Skins</Alias>
    <Icon>icon-palette</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Manage where skins are applied to pages.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <DocumentType Key="73889a65-9799-40ed-9739-42ee44c7ecd5">Skin</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>48627fb0-531a-4c21-8fc7-9424ff6218c3</Key>
      <Name>Author notes</Name>
      <Alias>authorNotes</Alias>
      <Definition>b89f1310-5400-4e66-8b8e-3949685d4624</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab></Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</DocumentType>