<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Landing page layout" Key="d7b9f3d4-4dc1-418d-ad44-d5806f4185ef" Id="Umbraco.RadioButtonList" DatabaseType="Integer">
  <PreValues>
    <PreValue SortOrder="1" Alias="Three columns (default)"><![CDATA[Three columns (default)]]></PreValue>
    <PreValue SortOrder="2" Alias="Two columns"><![CDATA[Two columns]]></PreValue>
  </PreValues>
</DataType>