<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Home page - Latest: unpublish date - DateTime" Key="adb5ed6c-94d0-499b-a33c-4e9bde853ae6" Id="Umbraco.DateTime" DatabaseType="Date">
  <PreValues>
    <PreValue SortOrder="1" Alias="format"><![CDATA[YYYY-MM-DD HH:mm:ss]]></PreValue>
  </PreValues>
</DataType>