<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>27380d87-1b00-3922-8225-0ae32b88db53</Key>
    <Name>Council Plan Budget page</Name>
    <Alias>CouncilPlanBudgetPage</Alias>
    <Icon>icon-legal</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Council Plan budget page.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master Key="e0f09067-5ef9-ddf2-0f38-9b6b717dab60">LegacyBase</Master>
    <Compositions>
      <Composition Key="e0f09067-5ef9-ddf2-0f38-9b6b717dab60">LegacyBase</Composition>
    </Compositions>
    <DefaultTemplate>CouncilPlanBudgetPage</DefaultTemplate>
    <AllowedTemplates>
      <Template>CouncilPlanBudgetPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <DocumentType Key="27380d87-1b00-3922-8225-0ae32b88db53">CouncilPlanBudgetPage</DocumentType>
    <DocumentType Key="4424d70d-ddab-e441-673f-8b33bf741ff7">CouncilPlanTopicPage</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9ee1e94f-c618-0ae4-d231-6b7cf813bf6a</Key>
      <Name>Content</Name>
      <Alias>phDefContent_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b6dd0bab-e00d-6d53-26bd-83646dba91a3</Key>
      <Name>Priority</Name>
      <Alias>phDefPriorityClass_Content</Alias>
      <Definition>574aef63-1433-422d-8dbf-c3bb39e55a3b</Definition>
      <Type>Umbraco.DropDown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>5dd28b62-be5b-95b4-58d0-487b5edf143e</Key>
      <Name>Related pages</Name>
      <Alias>phDefRelatedPages_Content</Alias>
      <Definition>255b3fe8-4e26-4b36-be0a-55fee03e8f98</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>12c85062-2c71-123a-30ad-226649ccf71a</Key>
      <Name>Related websites</Name>
      <Alias>phDefRelatedSites_Content</Alias>
      <Definition>255b3fe8-4e26-4b36-be0a-55fee03e8f98</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>19f88b12-f1c8-7642-0b2f-a2841799f1bb</Key>
      <Name>SVG file</Name>
      <Alias>phDefSvg_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose the SVG file]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>97717f18-018a-8549-800c-3cddef5533bf</Key>
      <Name>Page Title</Name>
      <Alias>phDefTitle_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>