<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>f18d3501-1670-967a-50a6-e5d7993e6721</Key>
    <Name>Customer Focus Base</Name>
    <Alias>customerFocus</Alias>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8ce566d5-1021-f9a6-e3e0-7c95a2a57f5b</Key>
      <Name>Author notes</Name>
      <Alias>authorNotes</Alias>
      <Definition>b89f1310-5400-4e66-8b8e-3949685d4624</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>76b4617d-cb72-db74-5fc2-1eeebcd3d653</Key>
      <Name>Cache</Name>
      <Alias>cache</Alias>
      <Definition>9fd11d4a-bcb2-4eea-bcd9-d6c26697e4a1</Definition>
      <Type>Umbraco.DropDown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Pages are cached for 24 hours by default.  If this page is particularly time-sensitive, pick shorter time.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>0b9dd50c-3a8b-bfa2-1899-2c26cb81463e</Key>
      <Name>EastSussex1Space: show widget?</Name>
      <Alias>eastsussex1space_Social_media_and_promotion</Alias>
      <Definition>f5b9a22c-ab9e-48dd-bb4d-a9f29ba8c968</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>5668732e-8b6d-2731-9763-fbabd2909888</Key>
      <Name>ESCIS: show widget?</Name>
      <Alias>escis_Social_media_and_promotion</Alias>
      <Definition>f5b9a22c-ab9e-48dd-bb4d-a9f29ba8c968</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a6f2e792-5178-fad7-e6f9-a2dc428e66c3</Key>
      <Name>Facebook: inherit settings?</Name>
      <Alias>facebookInherit_Social_media_and_promotion</Alias>
      <Definition>4f479e14-5252-4328-b502-9a9dd61196ed</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Inherit settings from the parent page and ignore 'Facebook: page URL' and 'Facebook: widget settings' set here.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ecbe7d27-1cac-08b5-d9e7-3a01b8ccbb04</Key>
      <Name>Facebook: page URL</Name>
      <Alias>facebookPageUrl_Social_media_and_promotion</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is ignored if 'Facebook: inherit settings?' is selected.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>064c7053-1a76-2879-8434-4a31c7a40543</Key>
      <Name>Facebook: widget settings</Name>
      <Alias>facebookWidgetSettings_Social_media_and_promotion</Alias>
      <Definition>d99591f5-4fcf-41e7-9262-688dc8f998ff</Definition>
      <Type>Umbraco.CheckBoxList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is ignored if 'Facebook: inherit settings?' is selected.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>33bf97f3-9866-dde9-44e6-8491e896cc2e</Key>
      <Name>Latest</Name>
      <Alias>latest_Latest</Alias>
      <Definition>e17df889-f551-476c-bccf-3c600051c9c2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f99c4cbb-fba1-608b-32d2-3de895f181fb</Key>
      <Name>Latest: cascade</Name>
      <Alias>latestCascade_Latest</Alias>
      <Definition>4f479e14-5252-4328-b502-9a9dd61196ed</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b4b650b8-f562-77f9-e390-374e8592561b</Key>
      <Name>Latest: inherit?</Name>
      <Alias>latestInherit_Latest</Alias>
      <Definition>4f479e14-5252-4328-b502-9a9dd61196ed</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>0024e07f-9f20-85b7-8ca3-595d5fb35254</Key>
      <Name>Latest: publish date</Name>
      <Alias>latestPublishDate_Latest</Alias>
      <Definition>5b9bd1c3-b219-4f86-b8fc-6aeeb34f1ff7</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>955325d7-df22-4519-8cec-627d1b7deb22</Key>
      <Name>Latest: unpublish date</Name>
      <Alias>latestUnpublishDate_Latest</Alias>
      <Definition>6301967d-87ba-4dd1-8bb5-0c64b1380fdf</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a5b9834f-ab51-2680-91bb-db2fc0cc7c64</Key>
      <Name>Description</Name>
      <Alias>pageDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>27584b5f-e0b8-3b3f-9658-d76a38e6e26d</Key>
      <Name>Social media order</Name>
      <Alias>socialMediaOrder_Social_media_and_promotion</Alias>
      <Definition>84141714-52e5-4a6b-a174-b21c64b69300</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>383f032f-fa96-9760-42ae-633dd66b7663</Key>
      <Name>Twitter: account</Name>
      <Alias>twitterAccount_Social_media_and_promotion</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Don't include the @ sign. This is ignored if 'Twitter: inherit settings?' is selected.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>90250f43-c8b2-6cb3-6718-df6a13405030</Key>
      <Name>Twitter: inherit settings?</Name>
      <Alias>twitterInherit_Social_media_and_promotion</Alias>
      <Definition>4f479e14-5252-4328-b502-9a9dd61196ed</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Inherit settings from the parent page and ignore 'Twitter: account' and 'Twitter: search widget script' set here.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>de1a7bc0-fd92-f050-7205-db3ef7696233</Key>
      <Name>Page URL</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Latest</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Social media and promotion</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>