<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Privacy notice - Data protection taken seriously" Key="2db70d9f-8b8d-4762-adcb-9381fc3742fe" Id="tooorangey.EditorNotes" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="editorNotes"><![CDATA[<p><strong>This section will be included in the privacy notice:</strong></p><p>East Sussex County Council takes data protection seriously. Please be assured that your information will be used appropriately in line with data protection legislation, will be stored securely and will not be processed unless the requirements for fair and lawful processing can be met.</p>]]></PreValue>
    <PreValue SortOrder="2" Alias="hideLabel"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="3" Alias="noteRenderMode"><![CDATA[Html]]></PreValue>
  </PreValues>
</DataType>