/*******************************
 * CMS TEMPLATE - LANDING PAGE *
 *******************************/

/* Image which goes with the intro */
.intro { float: right; margin: .692308em 0 .692308em 1.863354%; }
.landing { clear: right; }

.cms-edit .intro { margin: 0; }

/* Landing page sits inside 8 columns (638px). Divide into 2 columns @ 292px (290px+2px borders) flanked and 
   separated by 3 gutters @ 18px. Define the gutters as left margin only, meaning the  rightmost gutter is 
   just leftover space. Should be enough room to absorb IE6&7's pixel rounding bug, or the fact that border 
   is 1px (if it were 1px expressed in % it would round down to 0 at some sizes). 
   Note: some of the styling to achieve this is inherited from landing-medium.css */
.landing .odd, .landing .even { width: 45.45%; margin: 1.384615em 0 0 2.821317%; }
.ie6 .landing .odd { margin-left:   1.4106585%; }

/* Keep padding within h2 same as gutters. */
.landing h2 { padding: .692308em 6.206897%; } 
.landing p, .landing ul { padding: 0 6.206897%; }

/* Ensure edit controls fill the boxes */
.cms-edit .landing h2, .cms-edit .landing p, .cms-edit .landing ul { padding: 0; }
.cms-edit .landing h2 table, .cms-edit .landing p table { width: 100%!important; max-width: 100%; }


/* .long-landing is applied when there are more than 8 boxes, or an editor has decided it's appropraite.
   In that case move to a three column layout. Start by clearing effect of styles for 2 columns. */
.long-landing .odd, .long-landing .even { clear: none; width: auto; }

/* Landing page sits inside 8 columns (638px). Divide into 3 columns @ 200px (198px+2px borders) flanked and 
   separated by 4 gutters @ 9px. Define the gutters as left margin only, meaning the rightmost gutter is just 
   leftover space. Should be enough room to absorb IE6&7's pixel rounding bug, or the fact that border 
   is 1px (if it were 1px expressed in % it would round down to 0 at some sizes). */
.body .long-landing .group1, .body .long-landing .group2, .body .long-landing .group3 { width: 31.034483%; margin: 1.384615em 0 0 1.410658%; float: left; }

/* clear: left on .group1 ensures the next item doesn't move into that space. 
   Calculations above add up to 636px. Add spare 2px to left margin because it looks best there. */
.body .long-landing .group1 { clear: left; margin-left: 1.724138%; }

/* If using links they'll wrap more now, so increase the min-height to 12 lines less 1px for the bottom border */
.long-landing.links .group1, .long-landing.links .group2, .long-landing.links .group3 { min-height: 16.538462em; }

/* IE6 doubles margin, so use 1/2 size */
.ie6 .body .long-landing .group1, .ie6 .body .long-landing .group2, .ie6 .body .long-landing .group3 { margin-left: 0.705329%; } 

/* Padding within h2 and margin around p is 9px, same as gutters.  */
.long-landing h2 { padding: .642857em 4.55%; } 
.landing p, .landing ul { padding: 0 4.55%; }