<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>78280c49-b90d-44f5-adac-a9abc94eb774</Key>
    <Name>Ratings</Name>
    <Alias>Ratings</Alias>
    <Icon>icon-rate</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Manage page ratings.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <DocumentType Key="7e6cf6c5-d0cb-4a46-b1a0-3af2c4c97d84">Rating</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>fcf7c43c-6622-42a0-8356-4fd28db7c451</Key>
      <Name>Author notes</Name>
      <Alias>authorNotes</Alias>
      <Definition>b89f1310-5400-4e66-8b8e-3949685d4624</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab></Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</DocumentType>