<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>206fa5e5-aa8c-4313-b2a1-1839683bd537</Key>
    <Name>Rights of way definitive map modifications</Name>
    <Alias>RightsOfWayModifications</Alias>
    <Icon>icon-tactics color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Section 53 of the Wildlife and Countryside Act 1981 enables anyone to apply for a modification to the definitive map of rights of way.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Compositions />
    <DefaultTemplate>RightsOfWayModifications</DefaultTemplate>
    <AllowedTemplates>
      <Template>RightsOfWayModifications</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <DocumentType Key="9c7aa322-1870-43da-b845-c9ddc44b5231">RightsOfWayModification</DocumentType>
    <DocumentType Key="12864f50-a55e-4c00-8fa1-700568c2ac08">RightsOfWayModificationsCsv</DocumentType>
    <DocumentType Key="f91158e7-9618-40f2-989d-eef02470d742">RightsOfWayModificationsRss</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b6ea5d1c-f7f8-416e-8eaa-6bf871dc3aca</Key>
      <Name>Author notes</Name>
      <Alias>authorNotes</Alias>
      <Definition>b89f1310-5400-4e66-8b8e-3949685d4624</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>3119b81a-a822-4fb3-9897-494449707bd6</Key>
      <Name>EastSussex1Space: show widget?</Name>
      <Alias>eastsussex1space_Social_media_and_promotion</Alias>
      <Definition>f5b9a22c-ab9e-48dd-bb4d-a9f29ba8c968</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>5d3f9585-135d-4527-bc9a-beacdb9f6447</Key>
      <Name>ESCIS: show widget?</Name>
      <Alias>escis_Social_media_and_promotion</Alias>
      <Definition>f5b9a22c-ab9e-48dd-bb4d-a9f29ba8c968</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>81393569-0873-4fcb-ad58-78d9ac43d5f6</Key>
      <Name>Facebook: inherit settings?</Name>
      <Alias>facebookInherit_Social_media_and_promotion</Alias>
      <Definition>4f479e14-5252-4328-b502-9a9dd61196ed</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Inherit settings from the parent page and ignore 'Facebook: page URL' and 'Facebook: widget settings' set here.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>331787b7-2bac-4d1d-ad01-3ca37cdb9d9a</Key>
      <Name>Facebook: page URL</Name>
      <Alias>facebookPageUrl_Social_media_and_promotion</Alias>
      <Definition>3437151c-2912-4922-b23b-3a3aab1b7e7e</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UrlPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is ignored if 'Facebook: inherit settings?' is selected.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>0754d1fb-a35b-4543-80d9-b0e63f6b2340</Key>
      <Name>Facebook: widget settings</Name>
      <Alias>facebookWidgetSettings_Social_media_and_promotion</Alias>
      <Definition>d99591f5-4fcf-41e7-9262-688dc8f998ff</Definition>
      <Type>Umbraco.CheckBoxList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is ignored if 'Facebook: inherit settings?' is selected.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>bb197bc0-9219-49a0-bacf-449ebb985adb</Key>
      <Name>Latest</Name>
      <Alias>latest_Latest</Alias>
      <Definition>e17df889-f551-476c-bccf-3c600051c9c2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>9269bbcb-10c5-47f0-a067-ff73eda16b33</Key>
      <Name>Latest: cascade</Name>
      <Alias>latestCascade_Latest</Alias>
      <Definition>4f479e14-5252-4328-b502-9a9dd61196ed</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>0a6989a2-c9fc-4695-a653-3f6803ac5f14</Key>
      <Name>Latest: inherit?</Name>
      <Alias>latestInherit_Latest</Alias>
      <Definition>4f479e14-5252-4328-b502-9a9dd61196ed</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>eb17c961-9c22-48ba-bb05-84718b318b55</Key>
      <Name>Latest: publish date</Name>
      <Alias>latestPublishDate_Latest</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>60577ebf-7e05-4468-8e22-806ebf408821</Key>
      <Name>Latest: unpublish date</Name>
      <Alias>latestUnpublishDate_Latest</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Latest</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>9ae1d29e-eb85-4fce-9e80-bf37ad3bc124</Key>
      <Name>Leading text</Name>
      <Alias>leadingText</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>028cbd62-c993-4b51-b2c1-5bae42ebfa41</Key>
      <Name>Description</Name>
      <Alias>pageDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>84bb5ff7-8ed6-4bc0-a66b-28c4b2686e0d</Key>
      <Name>Social media order</Name>
      <Alias>socialMediaOrder_Social_media_and_promotion</Alias>
      <Definition>84141714-52e5-4a6b-a174-b21c64b69300</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8d38914c-7a3c-4eae-ba68-3673560b6132</Key>
      <Name>Twitter: account</Name>
      <Alias>twitterAccount_Social_media_and_promotion</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Don't include the @ sign. This is ignored if 'Twitter: inherit settings?' is selected.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>49b2607e-5c2d-42a9-87b8-d30e74168243</Key>
      <Name>Twitter: inherit settings?</Name>
      <Alias>twitterInherit_Social_media_and_promotion</Alias>
      <Definition>4f479e14-5252-4328-b502-9a9dd61196ed</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Inherit settings from the parent page and ignore 'Twitter: account' and 'Twitter: search widget script' set here.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Social media and promotion</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4ec63fdb-e58d-4809-8d49-9f488a1f37ae</Key>
      <Name>Page URL</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Latest</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Social media and promotion</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>