@model Escc.EastSussexGovUK.Umbraco.Web.HomePage.HomePageItemViewModel
<a href="@Model.Link.Url">
    @if (Model.Image != null)
    {
        <img src="@Model.Image.ImageUrl?width=236&height=198&anchor=top&bgcolor=003c69" alt="" width="@Model.Image.Width" />
    }
    <div class="caption"><p><span>@Model.Link.Text</span></p></div>
</a>