@inherits Umbraco.Web.Mvc.UmbracoViewPage<Escc.EastSussexGovUK.Umbraco.Web.Location.LocationViewModel>
@if (Model.WasteTypesRecycled.Any() || Model.WasteTypesAccepted.Any())
{
    var combinedWasteTypes = new List<string>();
    combinedWasteTypes.AddRange(Model.WasteTypesRecycled);
    combinedWasteTypes.AddRange(Model.WasteTypesAccepted.Select(wasteType => wasteType + " (not recycled)"));
    combinedWasteTypes.Sort();
    <ul>
        @foreach (var wasteType in combinedWasteTypes)
        {
            <li>@wasteType</li>
        }
    </ul>
}
@Model.Tab1Content
