@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using Escc.EastSussexGovUK
@using Escc.EastSussexGovUK.Features
@using Escc.EastSussexGovUK.Mvc
@using Escc.EastSussexGovUK.Umbraco.Web.Views
@using Escc.EastSussexGovUK.Umbraco.Web.MicrosoftCmsMigration
@inherits Umbraco.Web.Mvc.UmbracoViewPage<MicrosoftCmsViewModel>
@{
    Model.EsccWebsiteView = new MvcViewSelector().CurrentViewIs(HttpRuntime.AppDomainAppVirtualPath, Layout);

    Html.RequiresCss(CssFileAlias.Resolve("CouncilPlanSmall"));
    Html.RequiresCss(CssFileAlias.Resolve("MobileControls"));
    Html.RequiresCss(CssFileAlias.Resolve("CouncilPlanMedium"), MediaQueryAlias.Resolve("Medium"));
    Html.RequiresCss(CssFileAlias.Resolve("CouncilPlanLarge"), MediaQueryAlias.Resolve("Large"));

    var placeholders = CmsUtilities.Placeholders;
    var html = new[]
    {
placeholders["phDefContent"].Value.ToString(),
};
    Html.Partial("~/Views/EastSussexGovUK/_FeatureDependencies.cshtml", new List<IClientDependencySet>()
{
new EmbeddedYouTubeVideos() { Html = html },
new EmbeddedGoogleMaps() { Html = html }
});
    var selectedClass = CouncilPlanUtility.PriorityClass();
}

<div class="full-page">
    <article>
        <div class="@selectedClass">
            @Html.Partial("~/views/CouncilPlanBudgetPage.ascx", Model)
        </div>

        <div class="content text-content">
            @Html.Partial("~/Views/EastSussexGovUK/Features/_Share.cshtml")
        </div>
    </article>
</div>

@Html.Partial("~/Views/Layouts/_SocialMedia.cshtml")
@{
    Html.RequiresJs(JsFileAlias.Resolve("CouncilPlan"));
}
