@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using Escc.EastSussexGovUK
@using Escc.EastSussexGovUK.Features
@using Escc.EastSussexGovUK.Umbraco.Web.Views
@using Escc.EastSussexGovUK.Umbraco.Web.MicrosoftCmsMigration
@inherits Umbraco.Web.Mvc.UmbracoViewPage<MicrosoftCmsViewModel>
@{
    Html.RequiresCss(CssFileAlias.Resolve("CouncilPlanSmall"));
    Html.RequiresCss(CssFileAlias.Resolve("MobileControls"));
    Html.RequiresCss(CssFileAlias.Resolve("CouncilPlanMedium"), MediaQueryAlias.Resolve("Medium"));
    Html.RequiresCss(CssFileAlias.Resolve("CouncilPlanLarge"), MediaQueryAlias.Resolve("Large"));

    var placeholders = CmsUtilities.Placeholders;
    Html.Partial("~/Views/EastSussexGovUK/_FeatureDependencies.cshtml", new List<IClientDependencySet>()
{
new EmbeddedYouTubeVideos() { Html = new [] { placeholders["phDefContent"].Value.ToString() }},
new EmbeddedGoogleMaps() { Html = new [] { placeholders["phDefContent"].Value.ToString() } },
});

    var selectedClass = CouncilPlanUtility.PriorityClass();
}

<div class="full-page">
    <article>
        <div class="@selectedClass">
            @Html.Partial("~/views/CouncilPlanMonitoringPage.ascx", Model)
        </div>

        <div class="content text-content">
            @Html.Partial("~/Views/EastSussexGovUK/Features/_Share.cshtml")
        </div>
    </article>
</div>

@Html.Partial("~/Views/Layouts/_SocialMedia.cshtml")
@{
    Html.RequiresJs(JsFileAlias.Resolve("CouncilPlan"));
    Html.RequiresJs("~/scripts/StickyTableHeader.js");
}
