<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Topic page layout" Key="07abd815-3cda-44f4-acac-71e4f2ee9b08" Id="Umbraco.DropDown" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="0"><![CDATA[Image on right]]></PreValue>
    <PreValue SortOrder="2" Alias="1"><![CDATA[Image on left]]></PreValue>
    <PreValue SortOrder="3" Alias="2"><![CDATA[Large image]]></PreValue>
    <PreValue SortOrder="4" Alias="3"><![CDATA[Row of images without borders]]></PreValue>
    <PreValue SortOrder="5" Alias="4"><![CDATA[School term dates]]></PreValue>
    <PreValue SortOrder="6" Alias="5"><![CDATA[Find a recycling site]]></PreValue>
  </PreValues>
</DataType>