/*************************************
 * CMS TEMPLATE - FORM DOWNLOAD *
 *************************************/

/* Contain the ways to download, ensure following content doesn't wrap next to it */
.downloadWays { overflow: hidden; width: 100%; }
 
/* Each way to download should be a large clickable link, with room for a background image illustrating the format. */
.formAttachment { float: left; margin: 1em 1.5em 0 0; height: 160px; min-width: 120px; text-align: center; }
.formAttachment a { display: block; padding: 80px 0 0 0; }

/* Add icons as background images, twice for IE6 to prevent flicker on hover */
.ie6 .phPdf, .phPdf a[href$=".pdf"] { background: url(https://www.eastsussex.gov.uk/img/body/navigation.png) no-repeat 52px -248px; }
.ie6 .phRtf, .phRtf a[href$=".rtf"] { background: url(https://www.eastsussex.gov.uk/img/body/navigation.png) no-repeat -122px -400px; }
.ie6 .phRtfSign, .phRtfSign a[href$=".rtf"] { background: url(https://www.eastsussex.gov.uk/img/body/navigation.png) no-repeat -96px -248px; }
.ie6 .phXhtml, .phXhtml a { background: url(https://www.eastsussex.gov.uk/img/body/navigation.png) no-repeat -294px -390px; }
.ie6 .phUpload, .phUpload a { background: url(https://www.eastsussex.gov.uk/img/body/navigation.png) no-repeat -385px -250px; }
.ie6 .phXls, .phXls a[href$=".xls"] { background: url(https://www.eastsussex.gov.uk/img/body/navigation.png) no-repeat 17px -400px; }
.ie6 .phXlsPrint, .phXlsPrint a[href$=".xls"] { background: url(https://www.eastsussex.gov.uk/img/body/navigation.png) no-repeat -229px -248px; }
#howToEmail { background: none; }

/* Reset font size from 19px to 16px for file format and size */
.downloadDetail { font-size: .842105em;line-height: 1.125em;}