table {display:table;}
tbody { display: table-row-group; }
table { border: none; padding: 0;}
thead { display: table-header-group; }
.text-content tr { display: table-row; border: none; }
.text-content td { display: table-cell; border: .052631em solid #ccc; padding: .421053em; }