table.deposits, .deposits tbody {display:block;}
table.deposits { border-top: 1px solid #ccc; padding-top: 1em;}
.deposits thead { display: none; }
.deposits tr { display: block; padding-bottom: 1em; margin-bottom: 1em; border-bottom: 1px solid #ccc; }
.deposits td { display: block; border: none; padding: 0; }

.deposit { width: 100%; }
.deposit th { width: 8em; }
.deposits .parishes, .deposit .parishes { margin: 0; list-style: none; }

#map { height: 400px; }