<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>9c33c6ee-c46c-9fd5-8f61-d8e9c55525d8</Key>
    <Name>Recycling site</Name>
    <Alias>RecyclingSite</Alias>
    <Icon>icon-junk</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A place where residents can take things to be recycled.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master Key="069f05c3-5e1f-fb26-dfff-e94e49457db4">location</Master>
    <Compositions>
      <Composition Key="069f05c3-5e1f-fb26-dfff-e94e49457db4">location</Composition>
    </Compositions>
    <DefaultTemplate>Location</DefaultTemplate>
    <AllowedTemplates>
      <Template>Location</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <DocumentType Key="8d153f1e-113a-60b8-8603-85dfa901616d">CampaignLanding</DocumentType>
    <DocumentType Key="e81a9ef1-6701-bf2e-a4dd-cfe34ff74e69">Childcare</DocumentType>
    <DocumentType Key="d3bc23bf-ee4d-0bfd-cf3e-1a93844801dd">CouncilOffice</DocumentType>
    <DocumentType Key="074301c3-8dc7-57b0-156b-87dcf17316da">DayCentre</DocumentType>
    <DocumentType Key="353c2dfa-1e8b-4c78-9007-e62baddfa628">Form</DocumentType>
    <DocumentType Key="a908f006-49d7-55ef-9780-251b2088ae01">Guide</DocumentType>
    <DocumentType Key="9e2e3f26-5dfc-e842-ed95-b5fe7008d873">Landing</DocumentType>
    <DocumentType Key="12aa1590-3f2c-c980-e904-fd2aa6a007c6">Library</DocumentType>
    <DocumentType Key="069f05c3-5e1f-fb26-dfff-e94e49457db4">location</DocumentType>
    <DocumentType Key="34343f14-7053-41e4-ee32-a2ae3ea17a5e">Map</DocumentType>
    <DocumentType Key="1a3718fc-b452-b425-167b-0ebd64bdcbd3">Park</DocumentType>
    <DocumentType Key="3259124c-2546-3788-07f6-aaf0072acac0">Person</DocumentType>
    <DocumentType Key="9c33c6ee-c46c-9fd5-8f61-d8e9c55525d8">RecyclingSite</DocumentType>
    <DocumentType Key="a8c2af57-1b6d-6672-b3ef-0d98e40565a2">RegistrationOffice</DocumentType>
    <DocumentType Key="a47f9610-bcf3-4ff9-9dc2-8b05e60071af">RightsOfWayDeposits</DocumentType>
    <DocumentType Key="4fad4c6b-d260-1ce5-b5d3-ebbf8f43f5ee">SportLocation</DocumentType>
    <DocumentType Key="41cd814e-6886-c6ac-664f-d86ff02dcdd1">standardDownloadPage</DocumentType>
    <DocumentType Key="f56bd76a-4fd6-55d3-cf3d-f0fba94e2b7a">standardLandingPage</DocumentType>
    <DocumentType Key="fa38c7bb-dea2-01a7-de69-cfe08c26a9f3">standardTopicPage</DocumentType>
    <DocumentType Key="5a89548c-33d1-d549-77b6-778aa1695950">task</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2fc3f6dc-1dc8-b2f6-8756-83324210c149</Key>
      <Name>Waste types accepted but not recycled</Name>
      <Alias>acceptedWasteTypes_Content</Alias>
      <Definition>1e2a1af0-fcd7-4915-8fbb-5e5a16c137ee</Definition>
      <Type>Umbraco.CheckBoxList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>5459c17f-b85e-5d8d-56ec-60c10d9912fb</Key>
      <Name>Responsible authority</Name>
      <Alias>responsibleAuthority_Content</Alias>
      <Definition>25d0d0f1-df0f-4e08-83b0-08dc3f395eff</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>31</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>d169b11f-9e83-8dff-bb1a-1942c5a8337e</Key>
      <Name>Waste types accepted</Name>
      <Alias>wasteTypes_Content</Alias>
      <Definition>1e2a1af0-fcd7-4915-8fbb-5e5a16c137ee</Definition>
      <Type>Umbraco.CheckBoxList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>30</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>