<?xml version="1.0" encoding="utf-8"?>
<ArrayOfSyncAction xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SyncAction>
    <TypeName>Umbraco.Core.Models.IContentType</TypeName>
    <Name>FormDownloadPage</Name>
    <Key>7ab94f65-d30d-c48b-a3c0-56b388b45f1f</Key>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>System.IO.FileInfo</TypeName>
    <Name>\DocumentType\legacy-base\form-download-page\def.config</Name>
    <Key>00000000-0000-0000-0000-000000000000</Key>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>Umbraco.Core.Models.IContentType</TypeName>
    <Name>landingPageWithPictures</Name>
    <Key>04455375-f05a-901c-5b29-afdc0ee86ca9</Key>
    <Action>Delete</Action>
  </SyncAction>
  <SyncAction>
    <TypeName>System.IO.FileInfo</TypeName>
    <Name>\DocumentType\legacy-base\landing-page-with-pictures\def.config</Name>
    <Key>00000000-0000-0000-0000-000000000000</Key>
    <Action>Delete</Action>
  </SyncAction>
</ArrayOfSyncAction>