<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>4c752687-733b-48b9-9d9a-44a31361c5de</Key>
    <Name>Job advert</Name>
    <Alias>JobAdvert</Alias>
    <Icon>icon-location-near-me</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Display the details of an job currently being advertised.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master Key="f18d3501-1670-967a-50a6-e5d7993e6721">customerFocus</Master>
    <Compositions>
      <Composition Key="f18d3501-1670-967a-50a6-e5d7993e6721">customerFocus</Composition>
    </Compositions>
    <DefaultTemplate>JobAdvert</DefaultTemplate>
    <AllowedTemplates>
      <Template>JobAdvert</Template>
      <Template>JobsCss</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <DocumentType Key="8d153f1e-113a-60b8-8603-85dfa901616d">CampaignLanding</DocumentType>
    <DocumentType Key="d3bc23bf-ee4d-0bfd-cf3e-1a93844801dd">CouncilOffice</DocumentType>
    <DocumentType Key="353c2dfa-1e8b-4c78-9007-e62baddfa628">Form</DocumentType>
    <DocumentType Key="a908f006-49d7-55ef-9780-251b2088ae01">Guide</DocumentType>
    <DocumentType Key="9e2e3f26-5dfc-e842-ed95-b5fe7008d873">Landing</DocumentType>
    <DocumentType Key="069f05c3-5e1f-fb26-dfff-e94e49457db4">location</DocumentType>
    <DocumentType Key="34343f14-7053-41e4-ee32-a2ae3ea17a5e">Map</DocumentType>
    <DocumentType Key="3259124c-2546-3788-07f6-aaf0072acac0">Person</DocumentType>
    <DocumentType Key="f56bd76a-4fd6-55d3-cf3d-f0fba94e2b7a">standardLandingPage</DocumentType>
    <DocumentType Key="fa38c7bb-dea2-01a7-de69-cfe08c26a9f3">standardTopicPage</DocumentType>
    <DocumentType Key="5a89548c-33d1-d549-77b6-778aa1695950">task</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ab36c225-a24f-4b79-b45b-a119c35d37a4</Key>
      <Name>Header background image (small screens)</Name>
      <Alias>HeaderBackgroundImage_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the background image for the page header on small screens such as mobiles. Tiles horizontally up to 474px wide, or until overridden by an image for larger screens.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>2b01c162-67db-4982-a52d-8cf61a682216</Key>
      <Name>Header background image (large screens)</Name>
      <Alias>HeaderBackgroundImageLarge_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the background image for the page header on large screens such as laptops.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c95f1801-d94c-4473-8b17-c22c635155dd</Key>
      <Name>Header background image (medium screens)</Name>
      <Alias>HeaderBackgroundImageMedium_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the background image for the page header on medium screens such as tablets. Tiles horizontally up to 802px wide, or until overridden by an image for larger screens.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c1db24b7-7440-4231-bc3f-26240bb5e56b</Key>
      <Name>Jobs home page</Name>
      <Alias>JobsHomePage_Content</Alias>
      <Definition>a6857c73-d6e9-480c-b6e6-f15f6ad11125</Definition>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the jobs home page, to be linked from the logo]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>02ff9dc9-e041-4715-b040-bacde3ca082b</Key>
      <Name>Logo</Name>
      <Alias>JobsLogo_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the logo for the jobs service]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>fd6f7b35-bc86-42e4-95f4-b9ee290e2ca3</Key>
      <Name>Login URL</Name>
      <Alias>loginURL</Alias>
      <Definition>cd695bc5-45a5-4ebc-9e30-c89eb0bb6972</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UrlPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the URL to login, if it is not based on 'Jobs component']]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>90aa0a82-9ecf-44c2-9fa6-d362f6821429</Key>
      <Name>Which jobs should this page show?</Name>
      <Alias>PublicOrRedeployment_Content</Alias>
      <Definition>49c49465-1051-40b4-a30d-e2c0ddd1e414</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1d4f275c-ccbe-4447-bb0d-982cd3be0068</Key>
      <Name>Search results page</Name>
      <Alias>SearchResultsPage_Content</Alias>
      <Definition>a6857c73-d6e9-480c-b6e6-f15f6ad11125</Definition>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the search results page, based on the 'Job search results' document type]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>