<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>f2bc5080-868d-480a-bc6d-7c33f6a8b016</Key>
    <Name>Rights of way Section 31 deposits CSV download</Name>
    <Alias>RightsOfWayDepositsCsv</Alias>
    <Icon>icon-grid</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Section 31 (6) of the Highways Act 1980 enables landowners to protect their land from gaining public rights of way through use by the public by depositing a map with the council.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <DefaultTemplate>RightsOfWayDepositsCsv</DefaultTemplate>
    <AllowedTemplates>
      <Template>RightsOfWayDepositsCsv</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1c0cbe3b-2a38-45f7-88c7-8ebd3df2249d</Key>
      <Name>Author notes</Name>
      <Alias>authorNotes</Alias>
      <Definition>b89f1310-5400-4e66-8b8e-3949685d4624</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b8011983-7aed-4266-8300-586b3ad93f59</Key>
      <Name>Page URL</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</DocumentType>