<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Skin" Key="d67cbde6-cced-46b1-ba33-7ed970aca330" Id="Umbraco.DropDown" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="0"><![CDATA[Default skin]]></PreValue>
    <PreValue SortOrder="2" Alias="1"><![CDATA[Foster with trust]]></PreValue>
    <PreValue SortOrder="3" Alias="2"><![CDATA[Registration Academy]]></PreValue>
    <PreValue SortOrder="4" Alias="3"><![CDATA[Support with trust]]></PreValue>
  </PreValues>
</DataType>