<?xml version="1.0"?>
<Examine RebuildOnAppStart="false">
  <ExamineIndexProviders>
    <providers>
      <add name="InternalIndexer" type="UmbracoExamine.Azure.AzureContentIndexer, UmbracoExamine.Azure"
       supportUnpublished="true"
       supportProtected="true"
       analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/>

      <add name="InternalMemberIndexer" type="UmbracoExamine.Azure.AzureMemberIndexer, UmbracoExamine.Azure"
      supportUnpublished="true"
      supportProtected="true"
      analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net"/>

      <!-- default external indexer, which excludes protected and unpublished pages-->
      <add name="ExternalIndexer" type="UmbracoExamine.Azure.AzureContentIndexer, UmbracoExamine.Azure"/>

    </providers>
  </ExamineIndexProviders>

  <ExamineSearchProviders defaultProvider="ExternalSearcher">
    <providers>
      <add name="InternalSearcher" type="UmbracoExamine.Azure.AzureSearcher, UmbracoExamine.Azure"
      analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/>

      <add name="ExternalSearcher" type="UmbracoExamine.Azure.AzureSearcher, UmbracoExamine.Azure" />

      <add name="InternalMemberSearcher" type="UmbracoExamine.Azure.AzureSearcher, UmbracoExamine.Azure"
      analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net" enableLeadingWildcards="true"/>

    </providers>
  </ExamineSearchProviders>

</Examine>