<?xml version="1.0"?>
<FileSystemProviders>

  <!-- Media -->
  <Provider alias="media" type="AST.AzureBlobStorage.FileSystem.AzureFileSystem,AST.AzureBlobStorage">
    <Parameters>
      <add key="virtualRoot" value="~/media/" />
      <add key="azureConnectionString" value="storage account connection string" />
      <add key="saveMediaToAzure" value="true" />
    </Parameters>
  </Provider>

</FileSystemProviders>
