<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>Insert Form with Theme</name>
  <alias>renderUmbracoForm</alias>
  <scriptType />
  <scriptAssembly />
  <scriptingFile>~/Views/MacroPartials/InsertUmbracoFormWithTheme.cshtml</scriptingFile>
  <xslt />
  <useInEditor>True</useInEditor>
  <dontRender>False</dontRender>
  <refreshRate>0</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>False</cacheByPage>
  <Key>480075d7-3f9d-4190-9356-11978ddbb8cf</Key>
  <properties>
    <property name="Exclude Scripts" alias="ExcludeScripts" sortOrder="2" propertyType="Umbraco.TrueFalse" />
    <property name="Choose a form" alias="FormGuid" sortOrder="0" propertyType="UmbracoForms.FormPicker" />
    <property name="Theme" alias="FormTheme" sortOrder="1" propertyType="UmbracoForms.ThemePicker" />
  </properties>
</macro>