<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>b6ad60b4-4f8c-43cc-bb40-41ca308ddc08</Key>
    <Name>Jobs</Name>
    <Alias>JobsHome</Alias>
    <Icon>icon-reception</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The start page for the jobs section of the website.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master Key="f18d3501-1670-967a-50a6-e5d7993e6721">customerFocus</Master>
    <Compositions>
      <Composition Key="f18d3501-1670-967a-50a6-e5d7993e6721">customerFocus</Composition>
    </Compositions>
    <DefaultTemplate>JobsHome</DefaultTemplate>
    <AllowedTemplates>
      <Template>JobsCss</Template>
      <Template>JobsHome</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <DocumentType Key="8d153f1e-113a-60b8-8603-85dfa901616d">CampaignLanding</DocumentType>
    <DocumentType Key="d3bc23bf-ee4d-0bfd-cf3e-1a93844801dd">CouncilOffice</DocumentType>
    <DocumentType Key="353c2dfa-1e8b-4c78-9007-e62baddfa628">Form</DocumentType>
    <DocumentType Key="a908f006-49d7-55ef-9780-251b2088ae01">Guide</DocumentType>
    <DocumentType Key="4c752687-733b-48b9-9d9a-44a31361c5de">JobAdvert</DocumentType>
    <DocumentType Key="d1ae5a5f-4385-4250-8fb4-64766eb3b02b">JobAlerts</DocumentType>
    <DocumentType Key="55a54302-1d39-4dd3-b66b-01990d3f2b64">JobsComponent</DocumentType>
    <DocumentType Key="1d36838a-015a-4a29-a75e-70d9c1c8a2fb">JobSearchResults</DocumentType>
    <DocumentType Key="b6ad60b4-4f8c-43cc-bb40-41ca308ddc08">JobsHome</DocumentType>
    <DocumentType Key="29d53ba6-dea3-46ea-bca0-df68ab78be86">JobsRss</DocumentType>
    <DocumentType Key="54cd700b-9d90-4ddc-b918-4e9e0b47f749">JobsSearch</DocumentType>
    <DocumentType Key="9e2e3f26-5dfc-e842-ed95-b5fe7008d873">Landing</DocumentType>
    <DocumentType Key="069f05c3-5e1f-fb26-dfff-e94e49457db4">location</DocumentType>
    <DocumentType Key="34343f14-7053-41e4-ee32-a2ae3ea17a5e">Map</DocumentType>
    <DocumentType Key="3259124c-2546-3788-07f6-aaf0072acac0">Person</DocumentType>
    <DocumentType Key="f2265404-f3f3-4e75-afb2-bbb37b24c499">ProblemJobsRss</DocumentType>
    <DocumentType Key="41cd814e-6886-c6ac-664f-d86ff02dcdd1">standardDownloadPage</DocumentType>
    <DocumentType Key="f56bd76a-4fd6-55d3-cf3d-f0fba94e2b7a">standardLandingPage</DocumentType>
    <DocumentType Key="fa38c7bb-dea2-01a7-de69-cfe08c26a9f3">standardTopicPage</DocumentType>
    <DocumentType Key="5a89548c-33d1-d549-77b6-778aa1695950">task</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ba1b1369-8643-4e0a-be9f-a17632b277c9</Key>
      <Name>Campaign image</Name>
      <Alias>CampaignImage_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select a campaign image to appear below the tile images.]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>50304b25-6bdd-458d-961d-07935988f7cd</Key>
      <Name>Campaign page</Name>
      <Alias>CampaignPage_Content</Alias>
      <Definition>a6857c73-d6e9-480c-b6e6-f15f6ad11125</Definition>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select a page for the campaign image to link to]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>49f6fdf1-2d63-459c-a4fd-05213138f340</Key>
      <Name>Campaign URL</Name>
      <Alias>CampaignUrl_Content</Alias>
      <Definition>cd695bc5-45a5-4ebc-9e30-c89eb0bb6972</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UrlPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter a URL for the campaign image to link to, if no page is selected above]]></Description>
      <SortOrder>13</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>98a2c309-3957-416f-9fda-e6fb497b9a71</Key>
      <Name>Header background image (small screens)</Name>
      <Alias>HeaderBackgroundImage_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the background image for the page header on small screens such as mobiles. Tiles horizontally up to 474px wide, or until overridden by an image for larger screens.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>5776cd29-97f8-4e4e-b9b5-b5af51c87ce2</Key>
      <Name>Header background image caption</Name>
      <Alias>HeaderBackgroundImageCaption_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add a caption for the header background image (optional).]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>be5e645b-a225-486d-beab-aed75ef6a6df</Key>
      <Name>Header background image (large screens)</Name>
      <Alias>HeaderBackgroundImageLarge_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the background image for the page header on large screens such as laptops.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8c76d38a-fa6f-49ea-8db1-bd0bbe1d441b</Key>
      <Name>Header background image (medium screens)</Name>
      <Alias>HeaderBackgroundImageMedium_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the background image for the page header on medium screens such as tablets. Tiles horizontally up to 802px wide, or until overridden by an image for larger screens.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>832d9a4b-8b35-42ad-8379-2ecb2ed3c03b</Key>
      <Name>Logo</Name>
      <Alias>JobsLogo_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the logo for the jobs service]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>06bd95c7-c1ce-4dda-952b-af098ea62d36</Key>
      <Name>Login page</Name>
      <Alias>LoginPage_Content</Alias>
      <Definition>a6857c73-d6e9-480c-b6e6-f15f6ad11125</Definition>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the jobs login page, based on the 'Jobs component' document type]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>9d79ef15-908b-498e-9081-35de8cb84d96</Key>
      <Name>Login URL</Name>
      <Alias>loginURL</Alias>
      <Definition>cd695bc5-45a5-4ebc-9e30-c89eb0bb6972</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UrlPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the URL to login, if it is not based on 'Jobs component']]></Description>
      <SortOrder>14</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>3b0d00bd-512f-4447-b74b-c52301b1e190</Key>
      <Name>Search page</Name>
      <Alias>SearchPage_Content</Alias>
      <Definition>a6857c73-d6e9-480c-b6e6-f15f6ad11125</Definition>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the search page, based on the 'Job search' document type]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f8e165fd-1768-41d8-af47-30c1f92ba8fc</Key>
      <Name>Search results page</Name>
      <Alias>SearchResultsPage_Content</Alias>
      <Definition>a6857c73-d6e9-480c-b6e6-f15f6ad11125</Definition>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the search results page, based on the 'Job search results' document type]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>9ecc6cf4-f650-406e-9042-19c8d439921d</Key>
      <Name>Tile images</Name>
      <Alias>TileImages_Content</Alias>
      <Definition>7e3962cc-ce20-4ffc-b661-5897a894ba7e</Definition>
      <Type>Umbraco.MultipleMediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the images to link to pages selected for tile navigation, above.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4a933c2d-bc4b-4119-b82d-197af368a80f</Key>
      <Name>Tile navigation</Name>
      <Alias>TileNavigation_Content</Alias>
      <Definition>21e798da-e06e-4eda-a511-ed257f78d4fa</Definition>
      <Type>Umbraco.RelatedLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Promotional tiles which can be customised using the images below. Set the caption to a hyphen to link the image without text.]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>