<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>55a54302-1d39-4dd3-b66b-01990d3f2b64</Key>
    <Name>Jobs component</Name>
    <Alias>JobsComponent</Alias>
    <Icon>icon-brick</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A standard page hosting a component of the TalentLink application.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master Key="f18d3501-1670-967a-50a6-e5d7993e6721">customerFocus</Master>
    <Compositions>
      <Composition Key="f18d3501-1670-967a-50a6-e5d7993e6721">customerFocus</Composition>
    </Compositions>
    <DefaultTemplate>JobsComponent</DefaultTemplate>
    <AllowedTemplates>
      <Template>JobsComponent</Template>
      <Template>JobsCss</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <DocumentType Key="4c752687-733b-48b9-9d9a-44a31361c5de">JobAdvert</DocumentType>
    <DocumentType Key="d1ae5a5f-4385-4250-8fb4-64766eb3b02b">JobAlerts</DocumentType>
    <DocumentType Key="55a54302-1d39-4dd3-b66b-01990d3f2b64">JobsComponent</DocumentType>
    <DocumentType Key="1d36838a-015a-4a29-a75e-70d9c1c8a2fb">JobSearchResults</DocumentType>
    <DocumentType Key="29d53ba6-dea3-46ea-bca0-df68ab78be86">JobsRss</DocumentType>
    <DocumentType Key="54cd700b-9d90-4ddc-b918-4e9e0b47f749">JobsSearch</DocumentType>
    <DocumentType Key="f2265404-f3f3-4e75-afb2-bbb37b24c499">ProblemJobsRss</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>72a06a87-1b26-48bc-8557-3e7115d1a659</Key>
      <Name>Content below the component</Name>
      <Alias>ContentBelow_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional content which will appear below the TalentLink component.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>95600336-6170-4aa3-a1c5-d944cc903524</Key>
      <Name>Header background image (small screens)</Name>
      <Alias>HeaderBackgroundImage_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the background image for the page header on small screens such as mobiles. Tiles horizontally up to 474px wide, or until overridden by an image for larger screens.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>835a850b-20eb-4bab-be3e-ac9207ed2380</Key>
      <Name>Header background image (large screens)</Name>
      <Alias>HeaderBackgroundImageLarge_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the background image for the page header on large screens such as laptops.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ef296397-4926-4835-8260-5b3b904d7c74</Key>
      <Name>Header background image (medium screens)</Name>
      <Alias>HeaderBackgroundImageMedium_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the background image for the page header on medium screens such as tablets. Tiles horizontally up to 802px wide, or until overridden by an image for larger screens.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4b152e50-0e55-48ca-aac4-6d1eeb0b7c65</Key>
      <Name>This is a form</Name>
      <Alias>IsForm_Content</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If this component is a form that's part of the jobs user interface, tick here to apply form styles.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>34f01dd4-5c7f-4a45-afce-f6c16d4cc817</Key>
      <Name>Jobs home page</Name>
      <Alias>JobsHomePage_Content</Alias>
      <Definition>a6857c73-d6e9-480c-b6e6-f15f6ad11125</Definition>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the jobs home page, to be linked from the logo]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>9e61a47e-c4b9-4141-93c5-044a914f0c87</Key>
      <Name>Logo</Name>
      <Alias>JobsLogo_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the logo for the jobs service]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ea5d698b-919b-47e9-b197-0744ba788821</Key>
      <Name>Login page</Name>
      <Alias>LoginPage_Content</Alias>
      <Definition>a6857c73-d6e9-480c-b6e6-f15f6ad11125</Definition>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the jobs login page, based on the 'Jobs component' document type]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>aacbf443-f27d-4a21-b1d4-2b3ac8de5a00</Key>
      <Name>Script URL</Name>
      <Alias>scriptUrl_Content</Alias>
      <Definition>cd695bc5-45a5-4ebc-9e30-c89eb0bb6972</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UrlPropertyEditor</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A standard TalentLink component is embedded into a page by referencing a script. Paste the URL here.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>