/*******************************
 * CMS TEMPLATE - LANDING PAGE *
 *******************************/

/* Image which goes with the intro */
.intro { margin: .692308em 0; }

/* At this size only display descriptions if editing or printing */
.landing p, .landing ul { display: none; }
.cms-edit .landing p, .cms-edit .landing ul { display: block; }
.cms-edit .landing h2 { padding-left: 0; padding-right: 0; }
@media print  
{
    .landing p, .landing ul { display: block; } 
    .landing h2 { padding-left: 0; padding-right: 0; }
}
