<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Rich text: ESCC with formatting" Key="7ad64ccc-b9a6-4d83-9279-f198c32f9fe7" Id="Escc.Umbraco.PropertyEditors.RichTextPropertyEditor" DatabaseType="Ntext">
  <PreValues>
    <PreValue SortOrder="1" Alias="editor"><![CDATA[{
  "dimensions": {
    "height": 300
  },
  "formatters": [
    "nbsp",
    "removeEmptyBlock",
    "removeTarget",
    "removeIfMissingAttribute",
    "autocorrect",
    "fullstopsOutsideLinks",
    "spacesOutsideLinks",
    "smartQuotes",
    "enDashes",
    "ellipsis",
    "startHeadingsWithCapital",
    "startContentWithCapital"
  ],
  "stylesheets": [
    "TinyMCE-Content",
    "TinyMCE-StyleSelector-Headings",
    "TinyMCE-StyleSelector-Embed"
  ],
  "toolbar": [
    "removeformat",
    "undo",
    "redo",
    "cut",
    "copy",
    "styleselect",
    "bold",
    "bullist",
    "numlist",
    "link",
    "unlink",
    "table",
    "blockquote"
  ],
  "validators": [
    {
      "name": "clickHere"
    },
    {
      "name": "linkToHere"
    },
    {
      "name": "visit"
    },
    {
      "name": "more"
    },
    {
      "name": "allCaps"
    },
    {
      "name": "urlAsLinkText"
    }
  ]
}]]></PreValue>
    <PreValue SortOrder="2" Alias="hideLabel"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>