<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Landing page descriptions" Key="f234cf18-70ac-4fcb-86d4-834ba5d133a3" Id="Umbraco.DropDown" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="0"><![CDATA[Auto]]></PreValue>
    <PreValue SortOrder="2" Alias="1"><![CDATA[Links]]></PreValue>
    <PreValue SortOrder="3" Alias="2"><![CDATA[Descriptions]]></PreValue>
  </PreValues>
</DataType>