<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Responsible authority" Key="25d0d0f1-df0f-4e08-83b0-08dc3f395eff" Id="Umbraco.RadioButtonList" DatabaseType="Integer">
  <PreValues>
    <PreValue SortOrder="1" Alias="0"><![CDATA[East Sussex County Council]]></PreValue>
    <PreValue SortOrder="2" Alias="1"><![CDATA[Eastbourne Borough Council]]></PreValue>
    <PreValue SortOrder="3" Alias="2"><![CDATA[Hastings Borough Council]]></PreValue>
    <PreValue SortOrder="4" Alias="3"><![CDATA[Lewes District Council]]></PreValue>
    <PreValue SortOrder="5" Alias="4"><![CDATA[Rother District Council]]></PreValue>
    <PreValue SortOrder="6" Alias="5"><![CDATA[Wealden District Council]]></PreValue>
  </PreValues>
</DataType>