<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Social media order" Key="84141714-52e5-4a6b-a174-b21c64b69300" Id="Umbraco.RadioButtonList" DatabaseType="Integer">
  <PreValues>
    <PreValue SortOrder="1" Alias="Twitter, Facebook"><![CDATA[Twitter, Facebook]]></PreValue>
    <PreValue SortOrder="2" Alias="Facebook, Twitter"><![CDATA[Facebook, Twitter]]></PreValue>
  </PreValues>
</DataType>