/* Height allows Google map to display.
   Margin is to allow finger-space to swipe past it.
*/
#map { height: 400px;margin-right: 30px; }

/* Location is currently open or closed */
.open, .closed { padding: 9px; }
.open {background: #CDE1CE ;}
.closed {background: #dbb;}

/* Highlight today in the opening times table */
.today { background: #CDE1CE ;}