<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Multi-node tree picker" Key="a25a3b2a-ef4f-415c-a966-622e4a99f617" Id="Umbraco.MultiNodeTreePicker" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="startNode"><![CDATA[{"type": "content"}]]></PreValue>
    <PreValue SortOrder="2" Alias="filter"><![CDATA[]]></PreValue>
    <PreValue SortOrder="3" Alias="minNumber"><![CDATA[]]></PreValue>
    <PreValue SortOrder="4" Alias="maxNumber"><![CDATA[]]></PreValue>
  </PreValues>
</DataType>