<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Settings - list of content nodes" Key="497e1458-047f-4745-ac15-076494eee8d9" Id="Umbraco.MultiNodeTreePicker2" DatabaseType="Ntext">
  <PreValues>
    <PreValue SortOrder="1" Alias="startNode"><![CDATA[{
  "type": "content"
}]]></PreValue>
    <PreValue SortOrder="2" Alias="filter"><![CDATA[]]></PreValue>
    <PreValue SortOrder="3" Alias="minNumber"><![CDATA[]]></PreValue>
    <PreValue SortOrder="4" Alias="maxNumber"><![CDATA[]]></PreValue>
    <PreValue SortOrder="5" Alias="showOpenButton"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>