@model Umbraco.Forms.Mvc.Models.FormViewModel

<p class="umbraco-forms-submitmessage">
    @Model.MessageOnSubmit
</p>

@if (!ViewData.ModelState.IsValid || Model.SubmitHandled)
{
    @Html.Partial("Forms/Themes/default/ScrollToFormScript")
}