<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Legacy Base - Latest: unpublish date - DateTime" Key="c6796173-badf-477d-8b56-b9c88a1bc0ea" Id="Umbraco.DateTime" DatabaseType="Date">
  <PreValues>
    <PreValue SortOrder="1" Alias="format"><![CDATA[YYYY-MM-DD HH:mm:ss]]></PreValue>
  </PreValues>
</DataType>