<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Customer Focus Base - Latest: unpublish date - DateTime" Key="6301967d-87ba-4dd1-8bb5-0c64b1380fdf" Id="Umbraco.DateTime" DatabaseType="Date">
  <PreValues>
    <PreValue SortOrder="1" Alias="format"><![CDATA[YYYY-MM-DD HH:mm:ss]]></PreValue>
  </PreValues>
</DataType>