<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Facebook widget settings" Key="d99591f5-4fcf-41e7-9262-688dc8f998ff" Id="Umbraco.CheckBoxList" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="Show faces"><![CDATA[Show faces]]></PreValue>
    <PreValue SortOrder="2" Alias="Show feed"><![CDATA[Show feed]]></PreValue>
  </PreValues>
</DataType>