<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>a908f006-49d7-55ef-9780-251b2088ae01</Key>
    <Name>Guide</Name>
    <Alias>Guide</Alias>
    <Icon>icon-parental-control</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A series of pages in a specific order, which tells people all they need to know about a subject.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Compositions />
    <DefaultTemplate>Guide</DefaultTemplate>
    <AllowedTemplates>
      <Template>Guide</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <DocumentType Key="bee1a889-7121-543d-536b-8295b1242a1f">GuideStep</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>12c77cb8-09b1-e75b-b9bd-640591ae4f4c</Key>
      <Name>Author notes</Name>
      <Alias>authorNotes</Alias>
      <Definition>b89f1310-5400-4e66-8b8e-3949685d4624</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>2fdec861-5571-5d89-20de-ae8f1152c838</Key>
      <Name>Cache</Name>
      <Alias>cache</Alias>
      <Definition>9fd11d4a-bcb2-4eea-bcd9-d6c26697e4a1</Definition>
      <Type>Umbraco.DropDown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Pages are cached for 24 hours by default.  If this page is particularly time-sensitive, pick shorter time.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>012ac246-f54f-4993-b6b4-0272db43fbc5</Key>
      <Name>Section navigation</Name>
      <Alias>SectionNavigation_Navigation</Alias>
      <Definition>6c21f4e0-6094-4536-8c1a-21afd7ec31e7</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Navigation</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4c20716b-7728-034b-bc99-0f63d148e536</Key>
      <Name>Page URL</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Navigation</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>