<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>8d153f1e-113a-60b8-8603-85dfa901616d</Key>
    <Name>Campaign landing page</Name>
    <Alias>CampaignLanding</Alias>
    <Icon>icon-rocket</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A landing page for a marketing campaign</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <DefaultTemplate>CampaignLanding</DefaultTemplate>
    <AllowedTemplates>
      <Template>CampaignLanding</Template>
      <Template>CampaignLandingCss</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <DocumentType Key="6ae56ff4-64a6-67b8-316c-d28a178bea33">CampaignContent</DocumentType>
    <DocumentType Key="8d153f1e-113a-60b8-8603-85dfa901616d">CampaignLanding</DocumentType>
    <DocumentType Key="87bb264f-7dee-446b-a800-8257bbb50f14">CampaignTiles</DocumentType>
    <DocumentType Key="e81a9ef1-6701-bf2e-a4dd-cfe34ff74e69">Childcare</DocumentType>
    <DocumentType Key="d3bc23bf-ee4d-0bfd-cf3e-1a93844801dd">CouncilOffice</DocumentType>
    <DocumentType Key="074301c3-8dc7-57b0-156b-87dcf17316da">DayCentre</DocumentType>
    <DocumentType Key="353c2dfa-1e8b-4c78-9007-e62baddfa628">Form</DocumentType>
    <DocumentType Key="7ab94f65-d30d-c48b-a3c0-56b388b45f1f">FormDownloadPage</DocumentType>
    <DocumentType Key="a908f006-49d7-55ef-9780-251b2088ae01">Guide</DocumentType>
    <DocumentType Key="9e2e3f26-5dfc-e842-ed95-b5fe7008d873">Landing</DocumentType>
    <DocumentType Key="04455375-f05a-901c-5b29-afdc0ee86ca9">landingPageWithPictures</DocumentType>
    <DocumentType Key="12aa1590-3f2c-c980-e904-fd2aa6a007c6">Library</DocumentType>
    <DocumentType Key="069f05c3-5e1f-fb26-dfff-e94e49457db4">location</DocumentType>
    <DocumentType Key="34343f14-7053-41e4-ee32-a2ae3ea17a5e">Map</DocumentType>
    <DocumentType Key="1a3718fc-b452-b425-167b-0ebd64bdcbd3">Park</DocumentType>
    <DocumentType Key="3259124c-2546-3788-07f6-aaf0072acac0">Person</DocumentType>
    <DocumentType Key="9c33c6ee-c46c-9fd5-8f61-d8e9c55525d8">RecyclingSite</DocumentType>
    <DocumentType Key="a8c2af57-1b6d-6672-b3ef-0d98e40565a2">RegistrationOffice</DocumentType>
    <DocumentType Key="a47f9610-bcf3-4ff9-9dc2-8b05e60071af">RightsOfWayDeposits</DocumentType>
    <DocumentType Key="4fad4c6b-d260-1ce5-b5d3-ebbf8f43f5ee">SportLocation</DocumentType>
    <DocumentType Key="41cd814e-6886-c6ac-664f-d86ff02dcdd1">standardDownloadPage</DocumentType>
    <DocumentType Key="f56bd76a-4fd6-55d3-cf3d-f0fba94e2b7a">standardLandingPage</DocumentType>
    <DocumentType Key="fa38c7bb-dea2-01a7-de69-cfe08c26a9f3">standardTopicPage</DocumentType>
    <DocumentType Key="5a89548c-33d1-d549-77b6-778aa1695950">task</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>7a3ee8bc-5bbc-47f9-b943-4e89b60f3867</Key>
      <Name>Align buttons (large screens)</Name>
      <Alias>AlignButtonsLarge_Design</Alias>
      <Definition>f191e899-3802-467d-88cb-5edf5d258ea8</Definition>
      <Type>Umbraco.DropDown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>16</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8cd04090-fcf2-48c7-a441-7c5807be97da</Key>
      <Name>Align buttons (medium screens)</Name>
      <Alias>AlignButtonsMedium_Design</Alias>
      <Definition>f191e899-3802-467d-88cb-5edf5d258ea8</Definition>
      <Type>Umbraco.DropDown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>15</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>eca67c86-35fe-46dc-a8c0-99e56cc9ff3d</Key>
      <Name>Align introduction (large screens)</Name>
      <Alias>AlignIntroductionLarge_Design</Alias>
      <Definition>f191e899-3802-467d-88cb-5edf5d258ea8</Definition>
      <Type>Umbraco.DropDown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>58d787a4-d3fe-4f12-b85b-ef75cb8d63cf</Key>
      <Name>Align introduction (medium screens)</Name>
      <Alias>AlignIntroductionMedium_Design</Alias>
      <Definition>f191e899-3802-467d-88cb-5edf5d258ea8</Definition>
      <Type>Umbraco.DropDown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>0e898bd1-2225-4f94-93c7-f9c6aa9c346d</Key>
      <Name>Align landing navigation (large screens)</Name>
      <Alias>AlignLandingNavigationLarge_Design</Alias>
      <Definition>f191e899-3802-467d-88cb-5edf5d258ea8</Definition>
      <Type>Umbraco.DropDown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6b221c46-cfa4-498b-adf1-339eddf70251</Key>
      <Name>Align landing navigation (medium screens)</Name>
      <Alias>AlignLandingNavigationMedium_Design</Alias>
      <Definition>f191e899-3802-467d-88cb-5edf5d258ea8</Definition>
      <Type>Umbraco.DropDown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4950ceee-8f31-9fde-60c1-a69ace787b92</Key>
      <Name>Author notes</Name>
      <Alias>authorNotes</Alias>
      <Definition>b89f1310-5400-4e66-8b8e-3949685d4624</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f731f6f5-27d1-45bc-8a9d-73c681bd286c</Key>
      <Name>Background colour</Name>
      <Alias>BackgroundColour_Design</Alias>
      <Definition>fb958415-afe7-4daf-86cc-0482790ad916</Definition>
      <Type>Spectrum.Color.Picker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will show below or to the sides of the background image when wrapping is turned off.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>21c165c7-0862-4436-806e-ee5ae1589716</Key>
      <Name>Wrap background image horizontally</Name>
      <Alias>BackgroundImageWrapsHorizontally_Design</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If the screen is wider than the background image, wrap the image horizontally. If you turn this off, the background colour shows instead.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b5094207-ffc0-4075-a059-8f91809e07de</Key>
      <Name>Wrap background image vertically</Name>
      <Alias>BackgroundImageWrapsVertically_Design</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If the page is longer than the background image, wrap the image vertically. If you turn this off, the background colour shows instead.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8725a961-60ee-01c2-d452-ec0c0df13bfa</Key>
      <Name>Background image (large screens)</Name>
      <Alias>BackgroundLarge_Design</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Background image for large screens such as laptops.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>3127230b-0733-b158-1b75-596d07566141</Key>
      <Name>Background image (medium screens)</Name>
      <Alias>BackgroundMedium_Design</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Background image for medium screens such as tablets, if different from the small screen background. Will be used on large screens too unless another image is chosen below.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>d6dc0ec0-670d-88cd-7ed3-77bb81860aee</Key>
      <Name>Background image (small screens)</Name>
      <Alias>BackgroundSmall_Design</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Background image for small screens such as mobiles. Will be used on medium and large screens too unless another image is chosen below.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>aa56f857-af7f-475f-9760-2a50bafb627e</Key>
      <Name>Breadcrumb text colour</Name>
      <Alias>BreadcrumbColour_Design</Alias>
      <Definition>fb958415-afe7-4daf-86cc-0482790ad916</Definition>
      <Type>Spectrum.Color.Picker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text must contrast with its background to meet legal accessibility standards. Check at http://tinyurl.com/wcag-contrast]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c434d0c1-3da8-43cd-a01c-7749eb7df33e</Key>
      <Name>Button 1 background colour</Name>
      <Alias>Button1BackgroundColour_Design</Alias>
      <Definition>fb958415-afe7-4daf-86cc-0482790ad916</Definition>
      <Type>Spectrum.Color.Picker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text must contrast with its background to meet legal accessibility standards. Check at http://tinyurl.com/wcag-contrast]]></Description>
      <SortOrder>20</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a70c8337-6349-9e9f-52da-db6547304eb0</Key>
      <Name>Button 1 description</Name>
      <Alias>Button1Description_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>3bd14a79-8a54-4905-bd4d-3615a7959026</Key>
      <Name>Button 1 text colour</Name>
      <Alias>Button1TextColour_Design</Alias>
      <Definition>fb958415-afe7-4daf-86cc-0482790ad916</Definition>
      <Type>Spectrum.Color.Picker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text must contrast with its background to meet legal accessibility standards. Check at http://tinyurl.com/wcag-contrast]]></Description>
      <SortOrder>21</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>cb72f280-546a-42c1-b556-3bd74b88148c</Key>
      <Name>Button 2 background colour</Name>
      <Alias>Button2BackgroundColour_Design</Alias>
      <Definition>fb958415-afe7-4daf-86cc-0482790ad916</Definition>
      <Type>Spectrum.Color.Picker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text must contrast with its background to meet legal accessibility standards. Check at http://tinyurl.com/wcag-contrast]]></Description>
      <SortOrder>22</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>da9658c8-300c-bbd9-06bc-8516cc1ade86</Key>
      <Name>Button 2 description</Name>
      <Alias>Button2Description_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8a06627a-1a3c-4829-aeea-7781456dd247</Key>
      <Name>Button 2 text colour</Name>
      <Alias>Button2TextColour_Design</Alias>
      <Definition>fb958415-afe7-4daf-86cc-0482790ad916</Definition>
      <Type>Spectrum.Color.Picker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text must contrast with its background to meet legal accessibility standards. Check at http://tinyurl.com/wcag-contrast]]></Description>
      <SortOrder>23</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>d9ec5a1f-4876-4643-a78e-016f50e3b8f0</Key>
      <Name>Button 3 background colour</Name>
      <Alias>Button3BackgroundColour_Design</Alias>
      <Definition>fb958415-afe7-4daf-86cc-0482790ad916</Definition>
      <Type>Spectrum.Color.Picker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text must contrast with its background to meet legal accessibility standards. Check at http://tinyurl.com/wcag-contrast]]></Description>
      <SortOrder>24</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>38ae18e0-c0bf-9a18-b89c-da037a7f44ae</Key>
      <Name>Button 3 description</Name>
      <Alias>Button3Description_Content</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c88445c3-773e-4fd1-946f-5296eed8b61a</Key>
      <Name>Button 3 text colour</Name>
      <Alias>Button3TextColour_Design</Alias>
      <Definition>fb958415-afe7-4daf-86cc-0482790ad916</Definition>
      <Type>Spectrum.Color.Picker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text must contrast with its background to meet legal accessibility standards. Check at http://tinyurl.com/wcag-contrast]]></Description>
      <SortOrder>25</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>fd3d7bc0-cd9f-e2a7-b825-4d1cfaa01bf7</Key>
      <Name>Button navigation</Name>
      <Alias>ButtonNavigation_Content</Alias>
      <Definition>21e798da-e06e-4eda-a511-ed257f78d4fa</Definition>
      <Type>Umbraco.RelatedLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Up to three buttons, which will be displayed with the descriptions below.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4425faac-f99b-4ea4-b09d-c72065d74f4d</Key>
      <Name>Space above buttons (large screens)</Name>
      <Alias>ButtonsTopMarginLarge_Design</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Additional space, in pixels, for the background image to show between the heading or intro and the buttons on large screens.]]></Description>
      <SortOrder>19</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>45c4e24c-ce85-40d2-9b90-e49effef1e0c</Key>
      <Name>Space above buttons (medium screens)</Name>
      <Alias>ButtonsTopMarginMedium_Design</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Additional space, in pixels, for the background image to show between the heading or intro and the buttons. This will still apply at larger sizes but may be overridden by the large screen setting.]]></Description>
      <SortOrder>18</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a1310842-bdc1-4b49-b5ef-a2ba3b0e43da</Key>
      <Name>Space above buttons (small screens)</Name>
      <Alias>ButtonsTopMarginSmall_Design</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Additional space, in pixels, for the background image to show between the heading or intro and the buttons. This will still apply at larger sizes but may be overridden by the medium and large screen settings.]]></Description>
      <SortOrder>17</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>3e88f42a-a1d1-b500-ee15-07c486e4db20</Key>
      <Name>Cache</Name>
      <Alias>cache</Alias>
      <Definition>9fd11d4a-bcb2-4eea-bcd9-d6c26697e4a1</Definition>
      <Type>Umbraco.DropDown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Pages are cached for 24 hours by default.  If this page is particularly time-sensitive, pick shorter time.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>903b95e1-9e10-d822-2ed0-369ea9d40550</Key>
      <Name>Content</Name>
      <Alias>Content_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The content which should appear below the buttons. You can embed YouTube videos here.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>cdfe5147-41d1-4ccd-9260-b23251b91762</Key>
      <Name>Content text colour</Name>
      <Alias>ContentColour_Design</Alias>
      <Definition>fb958415-afe7-4daf-86cc-0482790ad916</Definition>
      <Type>Spectrum.Color.Picker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text must contrast with its background to meet legal accessibility standards. Check at http://tinyurl.com/wcag-contrast]]></Description>
      <SortOrder>27</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b32d0cd9-5ff7-b078-11fc-41cd66d12a9c</Key>
      <Name>Custom CSS (large screens)</Name>
      <Alias>CssLarge_Design</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Custom CSS to apply to large screens such as laptops. This is added to and can override the CSS for small and medium screens.]]></Description>
      <SortOrder>31</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>77da1e98-312a-82e8-3bdb-1f64fcffde38</Key>
      <Name>Custom CSS (medium screens)</Name>
      <Alias>CssMedium_Design</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Custom CSS to apply to medium screens such as tablets. This will still apply at larger sizes but may be overridden by the CSS for large screens.]]></Description>
      <SortOrder>30</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6d379c23-62eb-1711-9191-06d632d89cf8</Key>
      <Name>Custom CSS (small screens)</Name>
      <Alias>CssSmall_Design</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Custom CSS to apply to small screens such as mobiles. This will still apply at larger sizes but may be overridden by the CSS for medium and large screens.]]></Description>
      <SortOrder>29</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>e2b8827c-e762-4ca5-b3f1-0d09e02aa39e</Key>
      <Name>Google AdWords tag</Name>
      <Alias>GoogleAdWordsTag</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[When tracking conversions from a Google AdWords campaign, paste the tag code here]]></Description>
      <SortOrder>2</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>88c90de8-120b-4ef0-a46f-f9b42cac42e5</Key>
      <Name>Heading text colour</Name>
      <Alias>HeadingColour_Design</Alias>
      <Definition>fb958415-afe7-4daf-86cc-0482790ad916</Definition>
      <Type>Spectrum.Color.Picker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text must contrast with its background to meet legal accessibility standards. Check at http://tinyurl.com/wcag-contrast]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8cbf7bf4-d874-bc25-cf33-836c530a7d01</Key>
      <Name>Introduction</Name>
      <Alias>Introduction_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Large text which appears at the top of the page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>43f6bfa4-4db7-4cb6-a5bd-181a35e65076</Key>
      <Name>Introduction text colour</Name>
      <Alias>IntroductionColour_Design</Alias>
      <Definition>fb958415-afe7-4daf-86cc-0482790ad916</Definition>
      <Type>Spectrum.Color.Picker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text must contrast with its background to meet legal accessibility standards. Check at http://tinyurl.com/wcag-contrast]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>08474a30-3a54-e738-cc4d-d035931c2abe</Key>
      <Name>Landing navigation</Name>
      <Alias>LandingNavigation_Content</Alias>
      <Definition>21e798da-e06e-4eda-a511-ed257f78d4fa</Definition>
      <Type>Umbraco.RelatedLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tiled links similar to a landing page.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>7f9cf15d-a166-418f-889f-0f57b6a3fd2e</Key>
      <Name>Landing navigation background colour</Name>
      <Alias>LandingNavigationBackgroundColour_Design</Alias>
      <Definition>fb958415-afe7-4daf-86cc-0482790ad916</Definition>
      <Type>Spectrum.Color.Picker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text must contrast with its background to meet legal accessibility standards. Check at http://tinyurl.com/wcag-contrast]]></Description>
      <SortOrder>13</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4be371c7-0664-4f4a-b004-4e1184313df1</Key>
      <Name>Landing navigation text colour</Name>
      <Alias>LandingNavigationTextColour_Design</Alias>
      <Definition>fb958415-afe7-4daf-86cc-0482790ad916</Definition>
      <Type>Spectrum.Color.Picker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text must contrast with its background to meet legal accessibility standards. Check at http://tinyurl.com/wcag-contrast]]></Description>
      <SortOrder>14</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>606dbe06-241a-7aa5-1d70-5fd505657006</Key>
      <Name>Description</Name>
      <Alias>pageDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextboxMultiple</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>baca1d0a-28d9-44b3-993f-e2706aad95b8</Key>
      <Name>Share links colour</Name>
      <Alias>ShareStyle_Design</Alias>
      <Definition>8da3b170-07f7-4be6-9ea2-019ce9900056</Definition>
      <Type>Umbraco.DropDown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the colour of the icons and text for the social media and comment links at the end of the page. Must contrast with the background colour.]]></Description>
      <SortOrder>28</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c856afc0-452c-fa55-e2c2-96a0098108f3</Key>
      <Name>Page URL</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>2bfbe57e-e16c-4bd5-ac85-73a0a3d88b71</Key>
      <Name>Video height</Name>
      <Alias>VideoHeight_Design</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.Textbox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Videos are resized automatically based on an initial aspect ratio. Set the height higher or lower than 250 to change the aspect ratio.]]></Description>
      <SortOrder>26</SortOrder>
      <Tab>Design</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Design</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>