@inherits Umbraco.Web.Mvc.UmbracoViewPage<Escc.EastSussexGovUK.Umbraco.Web.Models.BaseViewModel>
@using Escc.EastSussexGovUK.Views
@{
    if (Model == null) { throw new NotSupportedException("This view requires a model based on Escc.EastSussexGovUK.Umbraco.Web.Models.BaseViewModel"); }
    Model.EsccWebsiteView = EsccWebsiteView.Plain;
}
<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml" prefix="og: http://ogp.me/ns# fb: https://www.facebook.com/2008/fbml">
<head>
    @{ Html.RenderPartial("~/Views/Layouts/_ContentExperiment.cshtml", Model); }
    <meta charset="UTF-8" />
    @{
        if (Model.Metadata.CanonicalPageUrl == null) { Model.Metadata.CanonicalPageUrl = Request.Url; }
        Html.RenderPartial("~/Views/Shared/_Metadata_Head.cshtml", Model.Metadata);
    }
    @RenderSection("Metadata", required: false)
    <meta name="eGMS.systemID" content="@Model.SystemId" />
</head>
<body>
    @RenderBody()
    @{ Html.RenderPartial("~/Views/Shared/_Metadata_Body.cshtml", Model.Metadata); }
</body>
</html>

@{  // Do not render these sections for this layout
    if (IsSectionDefined("BodyClass")) { RenderSection("BodyClass", required: false).WriteTo(TextWriter.Null); }
    if (IsSectionDefined("Header")) { RenderSection("Header", required: false).WriteTo(TextWriter.Null); }
    if (IsSectionDefined("Breadcrumb")) { RenderSection("Breadcrumb", required: false).WriteTo(TextWriter.Null); }
    if (IsSectionDefined("Footer")) { RenderSection("Footer", required: false).WriteTo(TextWriter.Null); }
    if (IsSectionDefined("JavaScript")) { RenderSection("JavaScript", required: false).WriteTo(TextWriter.Null); }
}