<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Show widget" Key="f5b9a22c-ab9e-48dd-bb4d-a9f29ba8c968" Id="Umbraco.RadioButtonList" DatabaseType="Integer">
  <PreValues>
    <PreValue SortOrder="1" Alias="0"><![CDATA[Show]]></PreValue>
    <PreValue SortOrder="2" Alias="1"><![CDATA[Hide]]></PreValue>
    <PreValue SortOrder="3" Alias="2"><![CDATA[Inherit]]></PreValue>
  </PreValues>
</DataType>