<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Rich text: author notes" Key="b89f1310-5400-4e66-8b8e-3949685d4624" Id="Escc.Umbraco.PropertyEditors.RichTextPropertyEditor" DatabaseType="Ntext">
  <PreValues>
    <PreValue SortOrder="1" Alias="hideLabel"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="2" Alias="editor"><![CDATA[{"dimensions":{"height":300},"formatters":["nbsp","removeEmptyBlock","removeTarget","removeIfMissingAttribute","autocorrect","fullstopsOutsideLinks","spacesOutsideLinks","smartQuotes","enDashes","ellipsis","startHeadingsWithCapital","startContentWithCapital"],"stylesheets":["TinyMCE-Content","TinyMCE-StyleSelector-Headings","TinyMCE-StyleSelector-Embed"],"toolbar":["removeformat","undo","redo","cut","copy","bold","bullist","numlist","link","unlink","styleselect","table","blockquote","umbmediapicker","hr","strikethrough"],"validators":[]}]]></PreValue>
  </PreValues>
</DataType>