<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Legacy Base - Latest: publish date - DateTime" Key="c4d93b34-c46d-4cd6-be71-ae832cb0477f" Id="Umbraco.DateTime" DatabaseType="Date">
  <PreValues>
    <PreValue SortOrder="1" Alias="format"><![CDATA[YYYY-MM-DD HH:mm:ss]]></PreValue>
  </PreValues>
</DataType>