<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>f56bd76a-4fd6-55d3-cf3d-f0fba94e2b7a</Key>
    <Name>Standard landing page</Name>
    <Alias>standardLandingPage</Alias>
    <Icon>icon-bulleted-list</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Older-style landing page. For new pages, use the 'Landing' template instead.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master Key="e0f09067-5ef9-ddf2-0f38-9b6b717dab60">LegacyBase</Master>
    <Compositions>
      <Composition Key="e0f09067-5ef9-ddf2-0f38-9b6b717dab60">LegacyBase</Composition>
    </Compositions>
    <DefaultTemplate>standardLandingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template>standardLandingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <DocumentType Key="8d153f1e-113a-60b8-8603-85dfa901616d">CampaignLanding</DocumentType>
    <DocumentType Key="e81a9ef1-6701-bf2e-a4dd-cfe34ff74e69">Childcare</DocumentType>
    <DocumentType Key="d3bc23bf-ee4d-0bfd-cf3e-1a93844801dd">CouncilOffice</DocumentType>
    <DocumentType Key="71478cc3-1229-5195-c021-e89badeb58ad">CouncilPlanHomePage</DocumentType>
    <DocumentType Key="074301c3-8dc7-57b0-156b-87dcf17316da">DayCentre</DocumentType>
    <DocumentType Key="353c2dfa-1e8b-4c78-9007-e62baddfa628">Form</DocumentType>
    <DocumentType Key="a908f006-49d7-55ef-9780-251b2088ae01">Guide</DocumentType>
    <DocumentType Key="9e2e3f26-5dfc-e842-ed95-b5fe7008d873">Landing</DocumentType>
    <DocumentType Key="12aa1590-3f2c-c980-e904-fd2aa6a007c6">Library</DocumentType>
    <DocumentType Key="069f05c3-5e1f-fb26-dfff-e94e49457db4">location</DocumentType>
    <DocumentType Key="34343f14-7053-41e4-ee32-a2ae3ea17a5e">Map</DocumentType>
    <DocumentType Key="1a3718fc-b452-b425-167b-0ebd64bdcbd3">Park</DocumentType>
    <DocumentType Key="3259124c-2546-3788-07f6-aaf0072acac0">Person</DocumentType>
    <DocumentType Key="9c33c6ee-c46c-9fd5-8f61-d8e9c55525d8">RecyclingSite</DocumentType>
    <DocumentType Key="a8c2af57-1b6d-6672-b3ef-0d98e40565a2">RegistrationOffice</DocumentType>
    <DocumentType Key="a47f9610-bcf3-4ff9-9dc2-8b05e60071af">RightsOfWayDeposits</DocumentType>
    <DocumentType Key="206fa5e5-aa8c-4313-b2a1-1839683bd537">RightsOfWayModifications</DocumentType>
    <DocumentType Key="4fad4c6b-d260-1ce5-b5d3-ebbf8f43f5ee">SportLocation</DocumentType>
    <DocumentType Key="41cd814e-6886-c6ac-664f-d86ff02dcdd1">standardDownloadPage</DocumentType>
    <DocumentType Key="f56bd76a-4fd6-55d3-cf3d-f0fba94e2b7a">standardLandingPage</DocumentType>
    <DocumentType Key="fa38c7bb-dea2-01a7-de69-cfe08c26a9f3">standardTopicPage</DocumentType>
    <DocumentType Key="5a89548c-33d1-d549-77b6-778aa1695950">task</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c377e1de-6a30-c246-e76a-b60c61273779</Key>
      <Name>Columns</Name>
      <Alias>columns</Alias>
      <Definition>bc277a39-9e17-4a77-8708-c2d1c777f134</Definition>
      <Type>Umbraco.DropDown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA['Auto' will use 3 columns when you use 9 or more sections.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>931fda81-7982-5880-465e-023de3a853fa</Key>
      <Name>Description 1</Name>
      <Alias>defDesc01_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will be formatted as a list of links or text description, depending on the 'Descriptions' setting on the 'Properties' tab. Check first to avoid losing your work.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>045516ed-5f86-a529-e9cc-bbbfbd7675a5</Key>
      <Name>Description 2</Name>
      <Alias>defDesc02_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will be formatted as a list of links or text description, depending on the 'Descriptions' setting on the 'Properties' tab. Check first to avoid losing your work.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>3781cd9f-57d3-4ae1-a06f-2ef01afc9830</Key>
      <Name>Description 3</Name>
      <Alias>defDesc03_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will be formatted as a list of links or text description, depending on the 'Descriptions' setting on the 'Properties' tab. Check first to avoid losing your work.]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>02cffa30-ed22-6197-ac10-1b16da97309d</Key>
      <Name>Description 4</Name>
      <Alias>defDesc04_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will be formatted as a list of links or text description, depending on the 'Descriptions' setting on the 'Properties' tab. Check first to avoid losing your work.]]></Description>
      <SortOrder>14</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>00fade8a-6dee-c727-a303-6e81365c41f9</Key>
      <Name>Description 5</Name>
      <Alias>defDesc05_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will be formatted as a list of links or text description, depending on the 'Descriptions' setting on the 'Properties' tab. Check first to avoid losing your work.]]></Description>
      <SortOrder>17</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>5f72d16f-85ac-be3a-4dc3-1682798f746f</Key>
      <Name>Description 6</Name>
      <Alias>defDesc06_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will be formatted as a list of links or text description, depending on the 'Descriptions' setting on the 'Properties' tab. Check first to avoid losing your work.]]></Description>
      <SortOrder>20</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>68dda8d7-b20d-e5e4-0ea9-7ef2e0e25d49</Key>
      <Name>Description 7</Name>
      <Alias>defDesc07_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will be formatted as a list of links or text description, depending on the 'Descriptions' setting on the 'Properties' tab. Check first to avoid losing your work.]]></Description>
      <SortOrder>23</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>15b11863-223a-ea17-5cf2-2551a3ed09a4</Key>
      <Name>Description 8</Name>
      <Alias>defDesc08_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will be formatted as a list of links or text description, depending on the 'Descriptions' setting on the 'Properties' tab. Check first to avoid losing your work.]]></Description>
      <SortOrder>26</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a28056df-f40e-044a-00b6-c2f232b10dab</Key>
      <Name>Description 9</Name>
      <Alias>defDesc09_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will be formatted as a list of links or text description, depending on the 'Descriptions' setting on the 'Properties' tab. Check first to avoid losing your work.]]></Description>
      <SortOrder>29</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>31041e3b-7434-73c1-26a4-9f1d41b6eb2e</Key>
      <Name>Description 10</Name>
      <Alias>defDesc10_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will be formatted as a list of links or text description, depending on the 'Descriptions' setting on the 'Properties' tab. Check first to avoid losing your work.]]></Description>
      <SortOrder>32</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6ba4175e-c45f-8442-25c1-14210821fb04</Key>
      <Name>Description 11</Name>
      <Alias>defDesc11_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will be formatted as a list of links or text description, depending on the 'Descriptions' setting on the 'Properties' tab. Check first to avoid losing your work.]]></Description>
      <SortOrder>35</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c7df54eb-f332-c248-8279-678a58653087</Key>
      <Name>Description 12</Name>
      <Alias>defDesc12_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will be formatted as a list of links or text description, depending on the 'Descriptions' setting on the 'Properties' tab. Check first to avoid losing your work.]]></Description>
      <SortOrder>38</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b246162c-2f0e-5a31-dd12-9db65b67e2ab</Key>
      <Name>Description 13</Name>
      <Alias>defDesc13_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will be formatted as a list of links or text description, depending on the 'Descriptions' setting on the 'Properties' tab. Check first to avoid losing your work.]]></Description>
      <SortOrder>41</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>c15b2e6c-a3b9-8c81-0642-ababce871d65</Key>
      <Name>Description 14</Name>
      <Alias>defDesc14_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will be formatted as a list of links or text description, depending on the 'Descriptions' setting on the 'Properties' tab. Check first to avoid losing your work.]]></Description>
      <SortOrder>44</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>b3c01de8-8325-a5d1-6d33-18314804d0d4</Key>
      <Name>Description 15</Name>
      <Alias>defDesc15_Content</Alias>
      <Definition>146fc3c8-b1a9-4145-888c-665b34acbdd2</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will be formatted as a list of links or text description, depending on the 'Descriptions' setting on the 'Properties' tab. Check first to avoid losing your work.]]></Description>
      <SortOrder>47</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4135188a-5db2-f3ee-e251-bfd94ad4747d</Key>
      <Name>Image</Name>
      <Alias>defImage_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[An optional image to go with the introductory text]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>2d5c731a-17f0-7b09-cf7a-e430e70da45a</Key>
      <Name>Descriptions</Name>
      <Alias>descriptions</Alias>
      <Definition>f234cf18-70ac-4fcb-86d4-834ba5d133a3</Definition>
      <Type>Umbraco.DropDown</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Description fields on the 'Content' tab are formatted based on this setting. Before saving, check they're the right format to avoid losing your work.

'Auto' will use links at the level of the home page and its immediate children.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8acdb7e2-8477-c153-bce7-3a55c57d77c2</Key>
      <Name>Section navigation</Name>
      <Alias>highlightContent_Content</Alias>
      <Definition>e5a34126-f143-4f2f-9def-2928ef079d6f</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add links to other pages in this section. Rarely needed.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>831d805c-354c-939d-05ad-7104387fdbcd</Key>
      <Name>Section navigation image</Name>
      <Alias>highlightImage_Content</Alias>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Image next to links to other pages in this section. Rarely needed.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>2fe284e3-8560-57e8-d51c-d8b391ff2835</Key>
      <Name>Introductory text</Name>
      <Alias>phDefIntro_Content</Alias>
      <Definition>7ad64ccc-b9a6-4d83-9279-f198c32f9fe7</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>74871b9a-52d5-cfb0-6908-167a3542298f</Key>
      <Name>List title 1</Name>
      <Alias>phDefListTitle01_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>ed636a17-8eae-3662-7df4-12e6d72e0c46</Key>
      <Name>List title 2</Name>
      <Alias>phDefListTitle02_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>649de412-1845-66d6-38b1-1f565f7c25ec</Key>
      <Name>List title 3</Name>
      <Alias>phDefListTitle03_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8d7b33bf-da7c-852d-9e28-58da2202f260</Key>
      <Name>List title 4</Name>
      <Alias>phDefListTitle04_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>13</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>016bbdb1-5915-b7b1-40dc-6194d00c11e1</Key>
      <Name>List title 5</Name>
      <Alias>phDefListTitle05_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>16</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>225655da-eaca-7216-dca5-44b68959a03e</Key>
      <Name>List title 6</Name>
      <Alias>phDefListTitle06_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>19</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>6ca97b45-c04a-5037-001c-f79c48ab281d</Key>
      <Name>List title 7</Name>
      <Alias>phDefListTitle07_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>22</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8655cd61-f5e0-6137-1599-a67150386be8</Key>
      <Name>List title 8</Name>
      <Alias>phDefListTitle08_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>25</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a5737c36-ea98-1893-54a8-3018fb872b85</Key>
      <Name>List title 9</Name>
      <Alias>phDefListTitle09_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>28</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>1bbc3077-a7d1-e4b9-1134-97ebead2911d</Key>
      <Name>List title 10</Name>
      <Alias>phDefListTitle10_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>31</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>665dc1d0-f0c2-7f72-b8c6-2f3963984aec</Key>
      <Name>List title 11</Name>
      <Alias>phDefListTitle11_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>34</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4a521110-79b9-8c06-8bae-0d11b2c866d3</Key>
      <Name>List title 12</Name>
      <Alias>phDefListTitle12_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>37</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>4967500f-48de-3cbd-46df-7703fc69259d</Key>
      <Name>List title 13</Name>
      <Alias>phDefListTitle13_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>40</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>10b3d1de-8ef1-c3e3-8932-24613032950f</Key>
      <Name>List title 14</Name>
      <Alias>phDefListTitle14_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>43</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>78c018ba-2116-f868-b807-1dbda395aa69</Key>
      <Name>List title 15</Name>
      <Alias>phDefListTitle15_Content</Alias>
      <Definition>56eb562a-2571-4983-99dc-b594f972aab9</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>46</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>af0c6476-9774-3fe7-5a8e-126fa9bfdaa0</Key>
      <Name>Related pages</Name>
      <Alias>phDefRelatedPages_Content</Alias>
      <Definition>255b3fe8-4e26-4b36-be0a-55fee03e8f98</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>98</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>225845a4-e07f-f31b-e3a9-e9c423118843</Key>
      <Name>Related websites</Name>
      <Alias>phDefRelatedSites_Content</Alias>
      <Definition>255b3fe8-4e26-4b36-be0a-55fee03e8f98</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>99</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>