/********************************
 * CMS TEMPLATE - DOWNLOAD PAGE *
 ********************************/

/* Place image on the right. Side margin is one gutter space.
   Top margin is 6px to bring top of image in line with cap-height of paragraph, and bottom completes one line space (on 19px base font) */
.topicImageOdd { float: right; margin: .315789em 0 .631579em 18px; }

/* Remove extra space when a definition list is used as the download description */
.downloadList td dl, .downloadList td dt  { margin: 0; font-weight: normal; }
.downloadList td dd { margin-left: 23px; } /* same as size of file type icon */

.downloadList dt { background-image: none;padding:0; }

/* Style second column, if used */
.downloadList .downloadAlso { display: block; }
.downloadList .alt { width: 26%; }
