<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Opening hours" Key="f89900dc-011b-4812-b0b3-b9cb08761c64" Id="Jumoo.OpeningSoon" DatabaseType="Ntext">
  <PreValues>
    <PreValue SortOrder="1" Alias="SecondSet"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="2" Alias="dropdownTimestep"><![CDATA[30]]></PreValue>
    <PreValue SortOrder="3" Alias="enableClear"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="4" Alias="enableAutofill"><![CDATA[1]]></PreValue>
  </PreValues>
</DataType>