<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Location type" Key="041311c5-d2b9-48e2-8daf-f434345d432b" Id="Umbraco.DropDown" DatabaseType="Integer">
  <PreValues>
    <PreValue SortOrder="1" Alias="0"><![CDATA[Other location]]></PreValue>
    <PreValue SortOrder="2" Alias="1"><![CDATA[Branch library]]></PreValue>
    <PreValue SortOrder="3" Alias="2"><![CDATA[Mobile library]]></PreValue>
    <PreValue SortOrder="4" Alias="3"><![CDATA[Children's centre]]></PreValue>
    <PreValue SortOrder="5" Alias="4"><![CDATA[Day centre]]></PreValue>
    <PreValue SortOrder="6" Alias="5"><![CDATA[Registration office]]></PreValue>
    <PreValue SortOrder="7" Alias="6"><![CDATA[Council office]]></PreValue>
    <PreValue SortOrder="8" Alias="7"><![CDATA[Parks and reserves]]></PreValue>
    <PreValue SortOrder="9" Alias="8"><![CDATA[Sport or activity venue]]></PreValue>
  </PreValues>
</DataType>