<?xml version="1.0" encoding="utf-8"?>
<DataType Name="URL" Key="cd695bc5-45a5-4ebc-9e30-c89eb0bb6972" Id="Escc.Umbraco.PropertyEditors.UrlPropertyEditor" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="rootRelative"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="2" Alias="pattern"><![CDATA[]]></PreValue>
  </PreValues>
</DataType>