<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Expiry rules - time period" Key="e96a51cd-fbd4-4ce1-9ed9-a89d015b3862" Id="Umbraco.Integer" DatabaseType="Integer">
  <PreValues>
    <PreValue SortOrder="1" Alias="min"><![CDATA[0]]></PreValue>
    <PreValue SortOrder="2" Alias="step"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="3" Alias="max"><![CDATA[]]></PreValue>
  </PreValues>
</DataType>