<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Public jobs or redeployment jobs" Key="49c49465-1051-40b4-a30d-e2c0ddd1e414" Id="Umbraco.RadioButtonList" DatabaseType="Integer">
  <PreValues>
    <PreValue SortOrder="1" Alias="Public jobs"><![CDATA[Public jobs]]></PreValue>
    <PreValue SortOrder="2" Alias="Redeployment jobs"><![CDATA[Redeployment jobs]]></PreValue>
  </PreValues>
</DataType>