<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Customer Focus Base - Latest: publish date - DateTime" Key="5b9bd1c3-b219-4f86-b8fc-6aeeb34f1ff7" Id="Umbraco.DateTime" DatabaseType="Date">
  <PreValues>
    <PreValue SortOrder="1" Alias="format"><![CDATA[YYYY-MM-DD HH:mm:ss]]></PreValue>
  </PreValues>
</DataType>