<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>7e6cf6c5-d0cb-4a46-b1a0-3af2c4c97d84</Key>
    <Name>Rating</Name>
    <Alias>Rating</Alias>
    <Icon>icon-smiley-inverted</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A rating tracker which can be applied to one or more pages.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>73940b7a-4d42-48f2-b13a-3539d9e71cc6</Key>
      <Name>Author notes</Name>
      <Alias>authorNotes</Alias>
      <Definition>b89f1310-5400-4e66-8b8e-3949685d4624</Definition>
      <Type>Escc.Umbraco.PropertyEditors.RichTextPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab></Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>f1b9f1d4-2020-43b1-a810-5fb73e55521e</Key>
      <Name>URL to rate as adequate</Name>
      <Alias>RatingUrlAdequate_Content</Alias>
      <Definition>75717461-01ae-48c4-99a0-ccfce96643d5</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UrlPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Copy and paste the link to click to rate a page as adequate.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>fe9b588e-e569-48f7-a928-c9277b2ebb9d</Key>
      <Name>URL to rate as excellent</Name>
      <Alias>RatingUrlExcellent_Content</Alias>
      <Definition>75717461-01ae-48c4-99a0-ccfce96643d5</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UrlPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Copy and paste the link to click to rate a page as excellent.]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>8ee4d00d-3ce5-4e31-9ede-9896ac249696</Key>
      <Name>URL to rate as good</Name>
      <Alias>RatingUrlGood_Content</Alias>
      <Definition>75717461-01ae-48c4-99a0-ccfce96643d5</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UrlPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Copy and paste the link to click to rate a page as good.]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>221f4e90-1b75-40ea-8454-706b070651f1</Key>
      <Name>URL to rate as poor</Name>
      <Alias>RatingUrlPoor_Content</Alias>
      <Definition>75717461-01ae-48c4-99a0-ccfce96643d5</Definition>
      <Type>Escc.Umbraco.PropertyEditors.UrlPropertyEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Copy and paste the link to click to rate a page as poor.]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>45663585-9002-43f9-8dc3-6e5ae09c4c24</Key>
      <Name>Where to display it?</Name>
      <Alias>WhereToDisplayIt_Content</Alias>
      <Definition>a25a3b2a-ef4f-415c-a966-622e4a99f617</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the target pages on which to display this rating]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>