<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Key>6251ab36-7bc8-42fe-8111-942c9548280d</Key>
    <Name>Expiry rules</Name>
    <Alias>expiryRules</Alias>
    <Icon>icon-timer color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Configure expiry rules for content matching a given document type or path</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <DocumentType Key="90cdd013-7792-419c-966d-e85058bf1f5b">documentTypeExpiryRule</DocumentType>
    <DocumentType Key="7e937e0b-11f7-47d3-a474-e3aa95375704">pageExpiryRule</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2b5bdbeb-14d7-45a5-a2d0-6a2200054ae8</Key>
      <Name>Allow pages never to expire</Name>
      <Alias>allowPagesNeverToExpire</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[When ticked, overrides the Months and Days property and does not place any default limit on expiry dates. Limits are set only where specific rules apply.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Default expiry rules</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>45912a58-02f4-4035-b5ad-a0a2f8f88e8f</Key>
      <Name>Days</Name>
      <Alias>days</Alias>
      <Definition>e96a51cd-fbd4-4ce1-9ed9-a89d015b3862</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation>^[0-9]*$</Validation>
      <Description><![CDATA[The maximum number of days (in addition to the Months property) that pages are allowed to be published before they expire.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Default expiry rules</Tab>
    </GenericProperty>
    <GenericProperty>
      <Key>a8a707ff-fb23-4082-a4a7-319a687c7317</Key>
      <Name>Months</Name>
      <Alias>months</Alias>
      <Definition>e96a51cd-fbd4-4ce1-9ed9-a89d015b3862</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation>^[0-9]*$</Validation>
      <Description><![CDATA[The maximum number of months (in addition to the Days property) that pages are allowed to be published before they expire.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Default expiry rules</Tab>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Default expiry rules</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>