<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Parish" Key="605747d6-37b9-435b-bced-048617650c83" Id="Umbraco.DropDownMultiple" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="9f52b35a715796c1a54f1afaeae4f3441d4e67ac"><![CDATA[Alciston]]></PreValue>
    <PreValue SortOrder="2" Alias="4c861805e2561bec5555dd50f40c80099ab64d38"><![CDATA[Alfriston]]></PreValue>
    <PreValue SortOrder="3" Alias="64b3a95671d1ba7f181e52a157de63bebe8e8d8f"><![CDATA[Arlington]]></PreValue>
    <PreValue SortOrder="4" Alias="8ce2649966ff43a7a0ff04ff2fad3f8e3c352e8d"><![CDATA[Ashburnham]]></PreValue>
    <PreValue SortOrder="5" Alias="34a86d5a874679bd2010e583c27280ae46e9ad96"><![CDATA[Barcombe]]></PreValue>
    <PreValue SortOrder="6" Alias="f5552713f80f6719a91c1959efe084056abba55e"><![CDATA[Battle]]></PreValue>
    <PreValue SortOrder="7" Alias="76f628051087818161aa6d1b4408bbcda963aef7"><![CDATA[Beckley]]></PreValue>
    <PreValue SortOrder="8" Alias="34caad0e9d48cb630b710df34d41348cb47f0dd8"><![CDATA[Beddingham]]></PreValue>
    <PreValue SortOrder="9" Alias="88c23209354fd85b32fe1cf6deae770eaaa9e4ec"><![CDATA[Berwick]]></PreValue>
    <PreValue SortOrder="10" Alias="0146a8f3eec59be16cb98ee0479b6375523945f0"><![CDATA[Bexhill]]></PreValue>
    <PreValue SortOrder="11" Alias="a3e5205bc7c18b97d8b1e23b0453a4fe1a43cd9f"><![CDATA[Bodiam]]></PreValue>
    <PreValue SortOrder="12" Alias="967a8c269b736f332239ea890305f1eabeaf0416"><![CDATA[Brede]]></PreValue>
    <PreValue SortOrder="13" Alias="ce0d74ad39985682028cd00415cfa6187ed35906"><![CDATA[Brightling]]></PreValue>
    <PreValue SortOrder="14" Alias="8e81aeea9d8121bb6e5a1ce5b2a85c79119336fd"><![CDATA[Burwash]]></PreValue>
    <PreValue SortOrder="15" Alias="2ad343a8312ded2c5e02c411f4067f5720d3f4e4"><![CDATA[Buxted]]></PreValue>
    <PreValue SortOrder="16" Alias="749d577e0ebdf772e4630e325ac63448c57b4035"><![CDATA[Camber]]></PreValue>
    <PreValue SortOrder="17" Alias="e030d6c0ddac2e361f9e0ac3575dce20166ce965"><![CDATA[Catsfield]]></PreValue>
    <PreValue SortOrder="18" Alias="719906cb4b089ae9a3c6e0bc1d747e56514a237b"><![CDATA[Chailey]]></PreValue>
    <PreValue SortOrder="19" Alias="9c840881386fa7b3172c523c359d21f8b37bb3b8"><![CDATA[Chalvington with Ripe]]></PreValue>
    <PreValue SortOrder="20" Alias="3f7f9f56d8d6a48776e45ea56546cf4e99c38fd9"><![CDATA[Chiddingly]]></PreValue>
    <PreValue SortOrder="21" Alias="9c5b47aa417086545ad4c635418d7fefb354fe80"><![CDATA[Crowborough]]></PreValue>
    <PreValue SortOrder="22" Alias="f9f86b0a1fceef7ccbd6343cd7f3a6e848ca2b1c"><![CDATA[Crowhurst]]></PreValue>
    <PreValue SortOrder="23" Alias="dd57c3958a5f0641ec50baffc9c70f676f556432"><![CDATA[Cuckmere Valley]]></PreValue>
    <PreValue SortOrder="24" Alias="8381f6000152df608875f9a13d17e564d1693de3"><![CDATA[Dallington]]></PreValue>
    <PreValue SortOrder="25" Alias="006f19339c9f808a5d19e789304cf4f76d093914"><![CDATA[Danehill]]></PreValue>
    <PreValue SortOrder="26" Alias="00c27f2e429fa243a4357eb6cc3bda4e3146d90d"><![CDATA[Ditchling]]></PreValue>
    <PreValue SortOrder="27" Alias="813fdf26161d8c0c146d71f72f5269a1107f962a"><![CDATA[East Chiltington]]></PreValue>
    <PreValue SortOrder="28" Alias="18e93607830a6c5eb23c4504cf418f67a5697fb5"><![CDATA[East Dean and Friston]]></PreValue>
    <PreValue SortOrder="29" Alias="7d8f319d8c11a961019adc3bc0046cdce5d69054"><![CDATA[East Guldeford]]></PreValue>
    <PreValue SortOrder="30" Alias="75a28dc84527eab4dc94cf7aeed1013012568beb"><![CDATA[East Hoathly with Halland]]></PreValue>
    <PreValue SortOrder="31" Alias="1a5a97d0a46f82e8dda25feaf2ceaafebeb968a6"><![CDATA[Eastbourne]]></PreValue>
    <PreValue SortOrder="32" Alias="ce094775438e8345df5408e10e6424d5957b6f24"><![CDATA[Etchingham]]></PreValue>
    <PreValue SortOrder="33" Alias="b06d070af609802d8233be3764e0cf4194005f27"><![CDATA[Ewhurst]]></PreValue>
    <PreValue SortOrder="34" Alias="974d63dfaf00e21d02ab9c2f7aa4c145e776a400"><![CDATA[Fairlight]]></PreValue>
    <PreValue SortOrder="35" Alias="ecba286ccb0ac2e59b40351c1fc45bdd50c136f5"><![CDATA[Falmer]]></PreValue>
    <PreValue SortOrder="36" Alias="18b485452db2a216de056b33232c64ee22ca7698"><![CDATA[Firle]]></PreValue>
    <PreValue SortOrder="37" Alias="16abf5f47e71e07171e43e6d5efb1dbeb7f9dd70"><![CDATA[Fletching]]></PreValue>
    <PreValue SortOrder="38" Alias="796656f80b5d31c9a1f506ba3c7c9064af68a4c6"><![CDATA[Forest Row]]></PreValue>
    <PreValue SortOrder="39" Alias="d7daf7cda9fbd577c5b4d94daef52658311221c7"><![CDATA[Framfield]]></PreValue>
    <PreValue SortOrder="40" Alias="4f9dd2938eac5f5862d5e0677477eda89a8fcb94"><![CDATA[Frant]]></PreValue>
    <PreValue SortOrder="41" Alias="ba78d282295fb797b379fe15fdc85e4cae98bba5"><![CDATA[Glynde]]></PreValue>
    <PreValue SortOrder="42" Alias="fd28cd9756909426bd39fd91e82ef1230a628adb"><![CDATA[Guestling]]></PreValue>
    <PreValue SortOrder="43" Alias="ae6b3fd92582cabbbd1b08396d9d62b3bab7d7ee"><![CDATA[Hadlow Down]]></PreValue>
    <PreValue SortOrder="44" Alias="c64037dc44e501466b3b27a03631a2dd0a5e64bf"><![CDATA[Hailsham]]></PreValue>
    <PreValue SortOrder="45" Alias="0298f3b758f7fd892a436b934635203fcf088396"><![CDATA[Hamsey]]></PreValue>
    <PreValue SortOrder="46" Alias="568e64ccf330cd694ef2ebb1a6616b1ff1b2dcf0"><![CDATA[Hartfield]]></PreValue>
    <PreValue SortOrder="47" Alias="dfdffcc877d95260ba8a6814966e62c443c5410d"><![CDATA[Hastings]]></PreValue>
    <PreValue SortOrder="48" Alias="d2d8d537f3cf96eae6455993d51cf32909aff533"><![CDATA[Heathfield and Waldron]]></PreValue>
    <PreValue SortOrder="49" Alias="1b9c9a9030e1a888cab1c58c414cbade39ff1b67"><![CDATA[Hellingly]]></PreValue>
    <PreValue SortOrder="50" Alias="af69b2daec40f0aed89d8298b7ed36aa80f92f3d"><![CDATA[Herstmonceux]]></PreValue>
    <PreValue SortOrder="51" Alias="d1c80501a45dc770b881e32a939518b6ad36f2bd"><![CDATA[Hooe]]></PreValue>
    <PreValue SortOrder="52" Alias="e6375fe0daff078173ccd6bf5806a125f3b515f3"><![CDATA[Horam]]></PreValue>
    <PreValue SortOrder="53" Alias="f4bdca303077384b764e6fa0c645d18c07fa3715"><![CDATA[Hurst Green]]></PreValue>
    <PreValue SortOrder="54" Alias="a6a71d8a483f116eee1248bc652bd34e9c1b33e4"><![CDATA[Icklesham]]></PreValue>
    <PreValue SortOrder="55" Alias="ee71ad052c208d3b5f5788fae520866a44b9dbce"><![CDATA[Iden]]></PreValue>
    <PreValue SortOrder="56" Alias="cd9b32d69640add781bbd23ae7ae8f1bd18f6f3d"><![CDATA[Iford]]></PreValue>
    <PreValue SortOrder="57" Alias="8e0ac69a4328fdfe9e5a9abe206fedc74c094d96"><![CDATA[Isfield]]></PreValue>
    <PreValue SortOrder="58" Alias="fa694fb5d5e602bbe28ddd810b4f7c38b98acac8"><![CDATA[Kingston Near Lewes]]></PreValue>
    <PreValue SortOrder="59" Alias="a8df72e4763cd010f70a28fa8089e88e69a8f09a"><![CDATA[Laughton]]></PreValue>
    <PreValue SortOrder="60" Alias="1ca9750c47808e06b050358f7e32184c29d1ca2f"><![CDATA[Lewes]]></PreValue>
    <PreValue SortOrder="61" Alias="31fa653567ea8a92d02ee9e637ddae08decb3b5f"><![CDATA[Little Horsted]]></PreValue>
    <PreValue SortOrder="62" Alias="6fffb5ea44e4de9de3aa09b4847330308020427d"><![CDATA[Long Man]]></PreValue>
    <PreValue SortOrder="63" Alias="ba2caf8777f60d172c20ff6ef046c6c3f4973c0e"><![CDATA[Maresfield]]></PreValue>
    <PreValue SortOrder="64" Alias="5b13a6c5e4468d97820fd86293667526a98b640f"><![CDATA[Mayfield and Five Ashes]]></PreValue>
    <PreValue SortOrder="65" Alias="181bd424356bfe4d0210520ca4aac682d0e158ec"><![CDATA[Mountfield]]></PreValue>
    <PreValue SortOrder="66" Alias="16cd727720a1ab88632d9f4e58a720b4e1c35730"><![CDATA[Newhaven]]></PreValue>
    <PreValue SortOrder="67" Alias="d863fafa6cbb3c10135d336a89f5d9fc0b8cdbd8"><![CDATA[Newick]]></PreValue>
    <PreValue SortOrder="68" Alias="af2270745ab6ff272a1feedd0e0d32bf03d1e432"><![CDATA[Ninfield]]></PreValue>
    <PreValue SortOrder="69" Alias="2bd941a9ca3d2303bb77b51dd44b1fa5e9b515d9"><![CDATA[Northiam]]></PreValue>
    <PreValue SortOrder="70" Alias="abb383fed7e9d410027e1fada9b48a77f8b1ac3a"><![CDATA[Peacehaven]]></PreValue>
    <PreValue SortOrder="71" Alias="fc9d36a347b92cc435e23a5b0b8fac22bcf3625c"><![CDATA[Peasmarsh]]></PreValue>
    <PreValue SortOrder="72" Alias="98afde0f2c9597c4783fd3e5b5a9c240a4e56660"><![CDATA[Penhurst]]></PreValue>
    <PreValue SortOrder="73" Alias="9f4651fdc688424098ff3e93b264c887ffda0abf"><![CDATA[Pett]]></PreValue>
    <PreValue SortOrder="74" Alias="f1a2745616219f3d90276c70fee946bc40aa966d"><![CDATA[Pevensey]]></PreValue>
    <PreValue SortOrder="75" Alias="ed1cbe42fedc4d38d2815bd471789db3f46702f8"><![CDATA[Piddinghoe]]></PreValue>
    <PreValue SortOrder="76" Alias="d1e64a067cb316b01b3a687f28b678b09a0adb98"><![CDATA[Playden]]></PreValue>
    <PreValue SortOrder="77" Alias="b9c2db326b32b36a7577dd43d6032bf0ceb36ed9"><![CDATA[Plumpton]]></PreValue>
    <PreValue SortOrder="78" Alias="3d30664890893142ad93ece4b657319baf8e9abb"><![CDATA[Polegate]]></PreValue>
    <PreValue SortOrder="79" Alias="ae676281143ae7dedb8bd69b506f8e7059450f11"><![CDATA[Ringmer]]></PreValue>
    <PreValue SortOrder="80" Alias="d3078cf78d00153f67afa985bc552d7b74779a36"><![CDATA[Rodmell]]></PreValue>
    <PreValue SortOrder="81" Alias="11e38fcc0ce6829d6e9195c2f3da5b5d1c6bea03"><![CDATA[Rotherfield]]></PreValue>
    <PreValue SortOrder="82" Alias="1459bb2c979dbae6a3366dd3517013d5cfe600e2"><![CDATA[Rye Foreign]]></PreValue>
    <PreValue SortOrder="83" Alias="91fcc82aef3c3e871704d55dcce037124ec8b932"><![CDATA[Rye]]></PreValue>
    <PreValue SortOrder="84" Alias="d3b207c7d12cc82bf116e7333aac696f576e3b71"><![CDATA[Salehurst and Robertsbridge]]></PreValue>
    <PreValue SortOrder="85" Alias="cc6da8ea120b543da4f99b2c03d80a099f107f04"><![CDATA[Seaford]]></PreValue>
    <PreValue SortOrder="86" Alias="42383e3c45f315be8c7aad29647a06b567d080af"><![CDATA[Sedlescombe]]></PreValue>
    <PreValue SortOrder="87" Alias="1192e2eaa26ba4038c8411bb2912d245380bec38"><![CDATA[Selmeston]]></PreValue>
    <PreValue SortOrder="88" Alias="68e2407ce0eeb51ca5222fb0d1d71cdb9b6f3346"><![CDATA[South Heighton]]></PreValue>
    <PreValue SortOrder="89" Alias="2b763cb1261cdf8dd4cc8b32001363075aaca250"><![CDATA[Southease]]></PreValue>
    <PreValue SortOrder="90" Alias="3ce95a64957a08ac5b0d89f8846fd3c78f55fffe"><![CDATA[St Ann (Without)]]></PreValue>
    <PreValue SortOrder="91" Alias="f78cd926ac4aa2f7884f9cee1441a884cea169a9"><![CDATA[St John (Without)]]></PreValue>
    <PreValue SortOrder="92" Alias="3a1471715c98953f06fb86bb1b6310e85d2177e4"><![CDATA[Streat]]></PreValue>
    <PreValue SortOrder="93" Alias="14930961d6c34f0511c44de5c6634d646a2a693c"><![CDATA[Tarring Neville]]></PreValue>
    <PreValue SortOrder="94" Alias="f99827fe414549be930e29af8583968f874e6fcc"><![CDATA[Telscombe]]></PreValue>
    <PreValue SortOrder="95" Alias="2adc6ef8c796807e6ed98e4b7e57c4c15cb001bd"><![CDATA[Ticehurst]]></PreValue>
    <PreValue SortOrder="96" Alias="850fcf676e6c490652d3b22126f9ed1328de3c1b"><![CDATA[Uckfield]]></PreValue>
    <PreValue SortOrder="97" Alias="52098cb4f0a8cbea3b3c9685b6d761fb360a5560"><![CDATA[Udimore]]></PreValue>
    <PreValue SortOrder="98" Alias="57ea73b510040f5fe80d2cd34d4a0abeb4f09e43"><![CDATA[Wadhurst]]></PreValue>
    <PreValue SortOrder="99" Alias="1b940932730da6f219ecaa83fbbae6bf7da82be6"><![CDATA[Warbleton]]></PreValue>
    <PreValue SortOrder="100" Alias="d94aa51d9a8aecc2da72bbfc33a3e9ca75a23829"><![CDATA[Wartling]]></PreValue>
    <PreValue SortOrder="101" Alias="2190a23c74f0c3d550e518c75326686d43724555"><![CDATA[Westfield]]></PreValue>
    <PreValue SortOrder="102" Alias="75e5485584e1b7a9c3972cb97d84441eaeb405a4"><![CDATA[Westham]]></PreValue>
    <PreValue SortOrder="103" Alias="75e7b6a8e488dbf78833280080c0be12c631200c"><![CDATA[Westmeston]]></PreValue>
    <PreValue SortOrder="104" Alias="fb2a1eb75189a6f8599338d0f0b1cc8a35658fba"><![CDATA[Whatlington]]></PreValue>
    <PreValue SortOrder="105" Alias="fefe4d361cfb576a61ee053f457cefc046216808"><![CDATA[Willingdon and Jevington]]></PreValue>
    <PreValue SortOrder="106" Alias="654236329d7db2fabb067f41469b3007d2fcf684"><![CDATA[Withyham]]></PreValue>
    <PreValue SortOrder="107" Alias="5b7544c42fa7fdad3cb2baf974834f60bf13bd82"><![CDATA[Wivelsfield]]></PreValue>
  </PreValues>
</DataType>