<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Privacy notice - Retention schedule" Key="197b7975-dca2-4bab-8eaf-18693a100b0a" Id="tooorangey.EditorNotes" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="editorNotes"><![CDATA[<p>This is your retention schedule, and it should be documented in your completed Privacy Impact Assessment (PIA). There is <a href="http://intranet.escc.gov.uk/helping/dataandrecords/recordsmanagement/Pages/retentionschedules.aspx" target="_blank">retention and disposal guidance on the intranet</a>.</p>]]></PreValue>
    <PreValue SortOrder="2" Alias="hideLabel"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="3" Alias="noteCssClass"><![CDATA[alert alert-info]]></PreValue>
    <PreValue SortOrder="4" Alias="noteRenderMode"><![CDATA[Html]]></PreValue>
  </PreValues>
</DataType>