<?xml version="1.0" encoding="utf-8"?>
<DataType Name="UK location" Key="e1755507-2c27-404f-8956-93f0f93f5778" Id="Escc.Umbraco.PropertyEditors.UkLocationPropertyEditor" DatabaseType="Ntext">
  <PreValues>
    <PreValue SortOrder="1" Alias="address"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="2" Alias="latLon"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="3" Alias="eastingNorthing"><![CDATA[0]]></PreValue>
  </PreValues>
</DataType>