<form action="https://www.accesseastsussex.org/jobs/list.aspx" method="get" class="job-search text-content">
    <div class="form short-form">
        <h2><a href="https://www.accesseastsussex.org/jobs/index.aspx"><img src="/images/HomePage/jobs.png" width="147" height="55" alt="Search for jobs on the Access East Sussex jobs website" /></a></h2>
        <label for="keywords">Search for jobs</label>
        <input type="search" name="keywords" size="15" id="keywords" />
        <label for="LOV39">Location</label>
        <select name="LOV39" id="LOV39">
            <option value="All" selected="selected">--- All ---</option>
            <option value="9802">Alfriston</option>
            <option value="9803">Battle</option>
            <option value="9849">Bewbush</option>
            <option value="9804">Bexhill-on-Sea</option>
            <option value="9805">Brighton</option>
            <option value="9806">Chailey</option>
            <option value="9850">Chichester</option>
            <option value="9807">Chiddingly</option>
            <option value="9808">Countywide</option>
            <option value="9809">Crowborough</option>
            <option value="9810">Ditchling</option>
            <option value="9811">Eastbourne</option>
            <option value="9812">Etchingham</option>
            <option value="9813">Exceat, Nr Seaford</option>
            <option value="9814">Filmwell</option>
            <option value="9846">Ford</option>
            <option value="9815">Forest Row</option>
            <option value="9816">Hailsham</option>
            <option value="10311">Hampden Park</option>
            <option value="9817">Hartfield</option>
            <option value="9818">Hassocks</option>
            <option value="9819">Hastings</option>
            <option value="9820">Haywards Heath</option>
            <option value="9821">Heathfield</option>
            <option value="9822">Hellingly</option>
            <option value="9854">Horndean</option>
            <option value="10312">Langney</option>
            <option value="9823">Laughton</option>
            <option value="9824">Lewes</option>
            <option value="9825">Maresfield</option>
            <option value="9826">Mayfield</option>
            <option value="9848">Midhurst</option>
            <option value="9827">Newhaven</option>
            <option value="9828">Old Heathfield</option>
            <option value="9855">Other</option>
            <option value="9829">Peacehaven</option>
            <option value="9853">Petersfield</option>
            <option value="9830">Pevensey Bay</option>
            <option value="9831">Polegate</option>
            <option value="9832">Portslade</option>
            <option value="9852">Portsmouth</option>
            <option value="9833">Ringmer</option>
            <option value="9834">Robertsbridge</option>
            <option value="9835">Rye</option>
            <option value="9836">Saltdean</option>
            <option value="9837">Seaford</option>
            <option value="9847">Shoreham</option>
            <option value="9851">Southwick</option>
            <option value="9838">St Leonards-on-Sea</option>
            <option value="9839">Stone Cross</option>
            <option value="9840">Telscombe</option>
            <option value="9841">Ticehurst</option>
            <option value="9845">Tunbridge Wells</option>
            <option value="9842">Uckfield</option>
            <option value="9843">Wadhurst</option>
            <option value="9844">Wealden</option>
            <option value="10313">Willingdon</option>
        </select>
        <label for="LOV40">Job Type</label>
        <select name="LOV40" id="LOV40" size="1">
            <option value="All" selected="selected">--- All ---</option>
            <option value="9857">Administration and Clerical</option>
            <option value="9858">Analyst</option>
            <option value="9859">Apprenticeships</option>
            <option value="9860">Architects</option>
            <option value="9866">Archivist</option>
            <option value="9861">Arts</option>
            <option value="9862">Benefits</option>
            <option value="9863">Care and Social Work</option>
            <option value="9864">Catering</option>
            <option value="9865">Communications</option>
            <option value="9867">Community Development</option>
            <option value="9868">Contract Monitoring</option>
            <option value="9869">Customer Services</option>
            <option value="9870">Democratic Services</option>
            <option value="9871">Economic Development and Regeneration</option>
            <option value="9872">Education</option>
            <option value="9873">Energy</option>
            <option value="9874">Environmental and Conservation</option>
            <option value="9875">Finance</option>
            <option value="9876">Highway Maintenance</option>
            <option value="9877">Housing Services</option>
            <option value="9878">ICT</option>
            <option value="9879">Learning and Development</option>
            <option value="9880">Legal</option>
            <option value="9881">Libraries</option>
            <option value="9882">Management</option>
            <option value="9883">Museum Curator</option>
            <option value="9884">Personnel and HR</option>
            <option value="9885">Planning</option>
            <option value="9886">Policy</option>
            <option value="9887">Procurement</option>
            <option value="9888">Project Management</option>
            <option value="10320">Social Work (Adult’s)</option>
            <option value="10319">Social Work (Children’s)</option>
            <option value="9889">Support Staff</option>
            <option value="9890">Teaching</option>
            <option value="9891">Tourism and Leisure</option>
            <option value="9892">Trading Standards</option>
            <option value="9893">Transport</option>
            <option value="9894">Volunteers</option>
            <option value="9895">Waste Management</option>
            <option value="9896">Youth Work</option>
        </select>
        <div>
            <input type="Submit" name="srcsubmit" value="Search" />
            <input type="hidden" name="statlog" value="1" />
            <input type="hidden" name="ID" value="PFOFK026203F3VBQB7968LOH0" />
            <input type="hidden" name="mask" value="esccext" />
            <input type="hidden" name="LG" value="UK" />
        </div>
    </div>
</form>
