@using ClientDependency.Core.Mvc
@using Escc.ClientDependencyFramework
@using Escc.EastSussexGovUK.Skins
@using Escc.EastSussexGovUK.Views
@using Escc.Web
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Escc.EastSussexGovUK.Umbraco.HomePage.HomePageItemViewModel>
@{
    /* Note: This view is intended only for editors using the preview option in Umbraco. 
       This content is normally displayed by HomePage.cshtml. */

    Model.EsccWebsiteSkin = new CustomerFocusSkin(EsccWebsiteView.Desktop);
    Html.RequiresCss(CssFileAlias.Resolve("HomeSmall"));
    Html.RequiresCss(CssFileAlias.Resolve("TilesSmall"));
    Html.RequiresCss(CssFileAlias.Resolve("TilesMedium"), MediaQueryAlias.Resolve("Medium"));
    Html.RequiresCss(CssFileAlias.Resolve("HomeMedium"), MediaQueryAlias.Resolve("Medium"));
    Html.RequiresCss(CssFileAlias.Resolve("HomeLarge"), MediaQueryAlias.Resolve("Large"));

    new ContentSecurityPolicyHeaders(Response.Headers).AppendPolicy("style-src 'unsafe-inline'").UpdateHeaders();
}
<div class="news context">
    <div class="features text-content gutters" style="font-size: 19px">
        <ol>
            <li class="feature-tile feature1">
                @Html.Partial("~/Views/_HomePageNewsItem.cshtml", Model)
            </li>
        </ol>
    </div>
</div>