<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Privacy notice - Contact us" Key="032affae-2ada-44ad-8e31-44fd62084ce4" Id="tooorangey.EditorNotes" DatabaseType="Nvarchar">
  <PreValues>
    <PreValue SortOrder="1" Alias="editorNotes"><![CDATA[<p><strong>This section will be included in the privacy notice:</strong></p><p>Should you have any further queries on the uses of your information, please speak directly to our service: </p>]]></PreValue>
    <PreValue SortOrder="2" Alias="hideLabel"><![CDATA[1]]></PreValue>
    <PreValue SortOrder="3" Alias="noteRenderMode"><![CDATA[Html]]></PreValue>
  </PreValues>
</DataType>